/*
Skin Name: Nivo Slider top-left Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-top-left .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-top-left .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-top-left .nivoSlider a {
	border:0;
	display:block;
}

.theme-top-left .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-top-left .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-top-left .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-top-left .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-top-left:hover .nivo-directionNav a { opacity: 1; }
.theme-top-left a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-top-left a.nivo-prevNav {
	left:15px;
}

.theme-top-left .nivo-caption {
  bottom:70%;
  right:auto;
  left:0px;
  width:auto;
  max-width:80%;
  overflow:hidden;
  text-shadow:none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px; 
}
.theme-top-left .nivo-caption a { 
    color:#fff;
    font-weight:bold;
    font-size:23px;
    
}
.theme-top-left .nivo-caption a:hover { 
    color:#fff;
}

.theme-top-left .nivo-caption p {
    padding:5px 15px;
    color:#e5e5e5;
	text-shadow: 0px 0px 2px #000;
    font-weight:normal;
    font-size:23px;
    
}

.theme-top-left .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-top-left .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-top-left .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: auto;
	height: auto;
}