﻿.content-no-sidebar, .content-glossary  { padding: 0 50px 0px 325px; color: #333333; font-size: 11px; }
.content-no-sidebar a {color: #be7962;}
.content-no-sidebar h2 {font-weight: normal; font-size: 18px;}
.content-no-sidebar ul li { background: url(../images/menu-catalog-arrow.jpg) no-repeat left 6px; padding-left: 15px; padding-bottom: 15px; line-height: 20px;}
.content-no-sidebar p { padding-bottom: 10px; }

.content-glossary div.nav {padding:10px 0 12px 0;width: 600px;background:url(../images/glosaryHeaderBG.png) repeat-x 0px 4px}
.content-glossary div.nav span { float: left; padding-top: 3px; }
.content-glossary h1 { padding:0 0 31px 0; font-family: Georgia; font-size: 22px;font-weight:normal; }
.content-glossary h2 { padding:40px 0 20px 0; background: url(../images/sepline.jpg) no-repeat 0 67px; font-size: 18px; font-family: Georgia;font-weight:normal;} 
.content-glossary ul.nav li a { font-size:12px}

.content-no-sidebar-full { padding: 0 50px 100px 50px; background:transparent url(../images/auxfooter.jpg) no-repeat scroll left bottom;}
.content-no-sidebar h1, .content-no-sidebar-full h1, .content-sidebar-right h1 { font-weight: normal; font-size:22px;}
.content-no-sidebar h1 { margin-bottom: 7px;}
.content-no-sidebar h2, .content-no-sidebar-full h2, .content-sidebar-right h2 { padding:35px 0 15px;}
.content-no-sidebar div, .content-no-sidebar-full div, .content-sidebar-right div { margin-bottom:24px;/*padding:0 0 35px 0; margin: 0 0 35px 0; background: url(../images/sepline.jpg) no-repeat left bottom;*/ }
/*.content-no-sidebar-full div.section{}*/
                                   
#content { background:#FFFFFF url(../images/auxbkg-content.jpg) no-repeat scroll 0 0; padding-top: 66px;margin:0;}
div.backtotop, div.backtotopsm { background: none; padding: 0px 0 39px 0; }
div.backtotop a   { display: block;background: url(../images/arrow-top.gif) no-repeat 0 3px; padding: 0 0 0 15px;left:530px; width:100px; position:relative;color: #9a9a9a;}
div.backtotopsm a   { background: url(../images/arrow-top.gif) no-repeat 0 3px; padding: 0 0 0 15px;float:right;position:relative;color: #9a9a9a;}
#breadcrumbs { padding: 33px 0 30px 50px; }
#sitemap {padding-left: 38px;margin-bottom:40px; width:803px;}

/*.content-glossary { padding: 0 50px 95px 50px; background:transparent url(../images/auxfooter.jpg) no-repeat scroll left bottom;}*/
a.glossarytop { display: block;background: url(../images/arrow-top.gif) no-repeat 0 0; height: 30px; margin-top: -32px; margin-left:590px;}
ul.gloss-letter li { float:left; width:188px; padding-left:10px;}
ul.nav li { float:left; width:17px; padding:0;}
ul.gloss-letter li a:link, ul.gloss-letter li a:visited { color:#9f3c12; font-size:11px; margin-left: -8px;}
ul.nav { float: left;}
.clear { clear:both;}

ul.nav li a { color:#9f3c12; padding-left:5px; font-family:Georgia, Times New Roman, serif;}
ul.nav li.off a { color:#999999; cursor:default;}


/*ul#socialMenu li, ul#infoMenu li, ul#lowerMenu li  { float:none; width:auto; padding:0; }                                    */

.content-no-sidebar #sections div img { float:left; padding: 40px 25px 40px 0; }
ul.materials li { float:left; width:120px; text-align:center; padding-left:0px;padding-bottom:27px;line-height:15px;}
ul.materials li img {padding-bottom:5px;}
.content-no-sidebar #sections div { background:none; padding: 0 0 15px 0; margin: 0 0 10px 0; }
#sections h2.title { border-top:1px dotted #666666; font-family:Arial, Sans-Serif !important; font-size:12px; padding:40px 0 10px;}
#sections h2.title.furniture { font-weight:bold;border:none; background:url(../images/glosaryHeaderBG.png) repeat-x 0 -31px;}
#sections { padding:0; background:none;}
.content-no-sidebar #sections div.clear { padding:0; background:none;}
#sections h3.subtitle  
{
    font-family:georgia,garamond,serif !important; /* This !important is needed to overwrite another !important in font.css.  It the latter one is removed this is not needed */ 
    color:#333333; font-size:18px; font-weight:normal;
    background: url(../images/sepline.jpg) no-repeat left top;
    padding:30px 0 10px 0;}
.content-no-sidebar-full a {color:#9f3c12;}
.content-no-sidebar-full ul { padding-bottom:15px; font-size: 11px;}
.content-no-sidebar-full div.subsection { padding:0; margin:0; background:none; width:263px; float:left;}
.content-no-sidebar-full div.subsection a {font-weight: bold;font-size:11px;}
.content-no-sidebar-full div.subsection ul li {line-height:18px;}
.content-no-sidebar-full div.subsection ul li a {font-weight: normal;font-size:11px; color:#666666}
.content-no-sidebar-full div.subsection ul li a:hover {text-decoration:underline;}
.content-no-sidebar-full div.subsection.ColCenter {width:282px}
.content-no-sidebar-full div.section, .content-no-sidebar-full div.clear { background:none;margin:0}
.content-no-sidebar-full h2 {font-weight: normal; font-size:18px; padding:0 0 8px 0; margin: 35px 0 15px 0; background: url(../images/sepline-long.jpg) no-repeat center bottom; }

.content-sidebar-right {padding: 0 50px 0px 50px; margin:0;}

.content-sidebar-right h1 {padding-bottom: 40px;}
.content-sidebar-right div.content ul li { background: url(../images/menu-catalog-arrow.jpg) no-repeat left 7px; padding-left: 20px; padding-bottom: 5px; font-size: 12px; color: #333333; }
.content-sidebar-right div.left { width: 500px; padding-right: 100px; float: left; }
.content-sidebar-right div.press { width: 525px; padding-right: 75px  }
.content-sidebar-right div.press a.cta { color: #a03e11; font-size: 11px;  }
.content-sidebar-right div.press h2.first { padding-top:0px; }
.content-sidebar-right div.press h3 { color: #333333; padding-bottom: 25px; font-size: 11px; }
.content-sidebar-right div.press h4 { color: #333333; font-size: 11px; }
.content-sidebar-right div.press p { font-size: 12px; color: #333333; line-height: 1.6em; padding-bottom: 10px; }
.content-sidebar-right div.press div.imageDiv { float:left;width:231px;}
.content-sidebar-right div.press div.imageDiv p.imageCaption{float:left; width:201px;padding-bottom:0px; font-size:10px;text-align:left;line-height:11px}
.content-sidebar-right div.press p  span.italicFont {font-style:italic;}
.content p  span.boldFont {font-weight:bold;}

.content-sidebar-right div.press p.last {padding-bottom: 0;}
.content-sidebar-right div.press p.last a {padding-bottom: 0;color: #a03e11; font-size: 12px;}
.content-sidebar-right div.press p.important { padding: 26px 21px; margin-bottom:25px;  }
.content-sidebar-right div.pressreleases { width: 280px; background-color: #e6e6e6; float: left; }
.content-sidebar-right div.pressreleases h2 {padding: 37px 30px 21px 30px; font-size: 12px; font-family: Arial, Helvetica, Sans-Serif !important;}
.content-sidebar-right div.separator {margin:0px; padding:1px 0; background: url(../images/sepline.jpg) no-repeat left center; }
.no-bg, #ctl00_ContentPlaceHolderMiddle_udpPress { background:none !important; }

a.pressrelease:hover {background: #cccccc; color: #333333;}

div.subsection a.on:hover, a.section-link:hover {text-decoration: underline; color: #9f3c12;}

/* Colorbox styles */
#cboxClose{top:0; right: 0; background:url(../images/auxiliary/colorbox-close.gif) no-repeat; width:20px; height:19px; margin: 17px 17px 0 0; }
#detail { margin: 0; padding: 0;}
.story { margin: 0; padding: 52px 0 0 52px; display:table;position:relative; }
.story-image { float: left; width: 310px; height:279px; }
.story-content ul { padding: 0 0 0 15px; }
.story-content ul li { font-family: Arial, Sans-Serif; font-size: 11px; }
.story-content { padding-left: 30px; width:310px; display:table-cell; position:static; vertical-align:middle;}
.story-content p { font-family:Arial, Helvetica, Sans-Serif; font-size:11px; line-height: 13px; text-align:justify;}
.story-content h2 { font-size: 20px; color:#252e3c; font-family: Georgia; padding: 0; margin: 0; font-weight:normal}
.story-content div {position:relative; top:-50%}
.glossary { position:relative;padding:60px; display:table;}

#imgItem { float:left; }

.pressreleases { min-height: 900px; }
.pressreleases #tabs ul.ui-tabs-nav li { float: left; padding:0;font-size:10px; line-height:25px; }
.pressreleases p  {  font-size:11px; }
.pressreleases p a { color:#9f3c12; padding-top:15px; font-size: 11px !important; }
.ui-tabs .ui-tabs-hide { display: none; }
.pressreleases #tabs ul.ui-tabs-nav { float:left; background:url(../images/pressbot.jpg) no-repeat center 25px; padding: 0 0 10px 30px; width: 243px; z-index:1000; }
.pressreleases #tabs ul.ui-tabs-nav li.ui-state-active a { background-color:#e6e6e6; border-left:1px solid #cac3bc; border-right:1px solid #cac3bc; font-weight:bold;}
.ui-tabs-nav li.ui-state-active { font-weight:bold; background-image:none; }
.pressreleases #tabs ul.ui-tabs-nav li a { padding:5px 8px 8px 8px; z-index: 10000;}
.pressreleases #tabs ul.ui-tabs-nav li:active { font-weight: bold; }
#tabs ul.ui-tabs-nav li.first a {border-left: none !important;padding-left:0px} 
.content-sidebar-right .pressreleases div { float: left; background:none; padding: 0 0 11px 0; margin:0; width: 100%; }
.content-sidebar-right .pressreleases p { padding: 11px 30px 0 30px; font-size: 10px; }
.content-sidebar-right .pressreleases .hover, .content-sidebar-right .pressreleases .selected  { background: #cccccc url(../images/press-arrow.gif) no-repeat 9px 18px; color: #5c5c5c; }
.content-sidebar-right .pressreleases .hovera, .pressreleases .selected a {color: #333; font-size: 11px !important;}
.content-sidebar-right .pressreleases .hoverp, .pressreleases .selected p {color: #666; font-size: 10px;}


.left h1 {padding-bottom: 20px;font-weight:normal;}
.left h2 {padding-bottom: 20px;font-size: 18px;font-weight:normal;}
.left img {float: left; padding: 0 10px 10px 0;}

.no-bullets ul li {background: none;}
.no-bullets p {padding-bottom: 10px;}
.no-bullets a:hover, div.privacy a:hover {text-decoration: underline;}
ul.no-bullets li {background: none; padding: 0;}
ul.space li { padding-bottom: 10px;}
.content-no-sidebar ul.no-bullets li {padding-left:20px;text-indent:-20px;}
.content-no-sidebar ul.no-bullets li span {float:left;width:20px;text-align:left;}

.content-no-sidebar div.separator { margin-bottom:0px;padding: 1px 0; background: url(../images/sepline.jpg) no-repeat center left;  }
.separator p { color:red;}
.subsection .off{color: #333333;}
a.btnPrint { position: absolute; top: 100px; right: 50px; width:14px; height:13px;background: url(../images/auxiliary/print.gif) no-repeat 0 0; display:none;}
div#rightcontent{ float:left; margin-top:70px;}
/*#container {overflow:auto;}*/

ul.materials {margin-left: -10px;}
a.section-link { float:right; color:#9f3a1a; font-size:11px; font-family:Arial,Helvetica,sans-serif;background:url(../images/icon-arrow-right1.jpg) no-repeat right center; padding: 0 15px 0 0; margin:8px 0 0 0;}
/*.fullColumn { height:150px;}*/

/** Special Div specifications **/
#faqsRequireUL li {padding-bottom:0px}
#faqsRequireUL {padding-bottom:8px}
#faqsWhyRegUL li {padding-bottom:0px; line-height:19px;}
#faqsWhyRegUL {padding-bottom:8px;}
#aboutUsGlanceUL li {padding-bottom:8px}
#aboutUsContent {}
#termsOfUseHeadline{margin-bottom:40px;}
.content-no-sidebar .termsOfUseH2 {padding-bottom:10px;}
.topMargin {margin-top:35px}
#sitemap div.section  div.subsection  li.spaceTop{margin-top:-13px}
#sitemap div.section  h2 {margin-top:31px;margin-bottom:38px;}
#columnLeft, #columnCenter, #columnRight { float:left; padding-bottom:20px;}
#columnLeft ul, #columnCenter ul, #columnRight ul {padding-bottom:22px}
#furnitureCareHeading {margin-bottom:38px}
#firstParagraph {margin-top:38px;padding-bottom:8px}


.pressreleases #tabs .pressrelease p.publishedDate { padding-top:0px;}
.privacy h2 { /*padding: 18px 0 15px;*/}
.privacy .no-bullets { padding-bottom:8px;}
.content-no-sidebar p.no-padding {padding:0;}
p.center  {text-align:center}
