﻿#page, #content { width: 100%; padding: 0;}
.separator {display:none;}
div.backtotop {display:none;}

.content-no-sidebar, .content-glossary, .content-no-sidebar-full  { padding: 0; margin: 0; background: none; color: #000000; width: 100%; }
.content-no-sidebar h1, .content-no-sidebar-full h1 {padding: 0;}
.content-no-sidebar h2 {padding: 0;}
.content-no-sidebar p {font-weight:normal;}
ul.materials {padding-top:20px;page-break-before: always;}
#sitemap {padding:0;}
#sitemap .subsection{float:none;width:100%;}

/** Hack for correcting FF issue that only prints first page **/
* { overflow:visible !important; overflow:hidden\0/ !important}