ul#categoryList { width:auto }
ul#categoryList li { float:left; width:470px; margin-left:10px; margin-top:10px;}
ul#categoryList li li { width:auto; margin:0 }
ul#categoryList li ul.top { height:40px; margin-top:5px }
ul#categoryList li ul.top li.category_icon { width: 50px }
ul#categoryList li ul.top li a.exploreAll { margin-left:10px; margin-top:8px !important; line-height: 28px; padding-right:15px; background:url(../images/icon-arrow-right1.jpg) no-repeat center right; }
ul#categoryList li ul.top li label {font-size:16px; color:#252e3c;}
ul#categoryList li ul.bottom { height:140px; margin-top:20px }
ul#categoryList li ul.bottom li { float:left; width:140px; margin-left:5px }
#content {background: url(../images/bkg-content.jpg) no-repeat 0 245px #fff; }
label.collectionTitle {font-family:Georgia, "Times New Roman", Serif; font-size:16px; color:#252e3c;}
a.exploreAll {color:#9f3a1a; line-height:24px;}
a.exploreAll:hover { text-decoration:underline }
