﻿.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {background: transparent url('../images/checkbox.gif') 0 0 no-repeat;display:block;float:left;width:19px;	height:18px; margin-right:6px;}
.ez-checked { background-position: 0 -19px; }
.ez-selected { background-position: 0 -19px; }
