﻿/**  CONTACT US.CSS 
floatLeft - Form fields
floatRight - Contact Information Sidebar
**/

/* End hide from IE Mac */
#content {clear:both; background: url(../images/bkg-content.jpg) no-repeat 0 0 #fff; width:981px;height:auto!important;min-height:360px; }
#contactForms {width:892px; overflow:hidden;margin:0 auto; font-size:0.917em;}

#contactForms {width:881px;color:#333333}

#contactForms .col {width:50%;}
#contactForms .floatLeft fieldset.right{width:48%;float:right;}
#contactForms .floatLeft fieldset.right input {width:261px;}
#contactForms .col2 {width:35%;margin-left:35px;}
#contactForms .full {width:100%;padding-bottom:0px;clear:both;}
#contactForms .floatLeft {width:560px; overflow:hidden; display:inline;}
#contactForms .floatRight {width:280px;}
#contactForms .floatRight h1{line-height:2.25em; color:#fff;font-size:18px;line-height:18px;font-weight:normal;padding-bottom:20px;}
#contactForms .floatRight #tradeEnquiries h1, #contactForms .floatRight #generalInquiries h1 {padding-bottom:7px;}
 

#contactForms .floatLeft h1 {padding: 0 0 30px 0;font-weight:normal;font-size:20px}
#contactForms.trade .floatLeft h1 {padding-bottom:25px;}
#contactForms .floatLeft fieldset {padding: 0 0 28px 0;}
#contactForms textarea {width:277px;}
#contactForms input.idleField, #contactForms textarea.idleField{background: url(../images/bkg-input.png) repeat-x; border:1px solid #c3c1c2;margin-bottom:10px; border-top:0px; }
#contactForms input.idleField {padding-left:6px;  height:22px;padding-top:6px;}
#contactForms .floatLeft p a {color:#9f3a1a;}
#contactForms .floatLeft p a:hover {text-decoration:underline;}
#contactForms .floatRight a, #contactUs .floatRight span{color:#95b1dc;font-weight:normal;line-height:8px;}
#contactForms .floatRight a:hover {text-decoration:underline;}
#contactForms .floatLeft label {padding-bottom: 7px;}
#contactForms label.dropdown { background: url(../images/icon-arrow.gif) 97% 50% no-repeat; }
#contactForms div.alpha-shadow ul{width:280px;}
#contactForms p.blurb {padding: 0 0 40px 0;}
#contactForms.trade p.requiredStatement {padding-top:20px;}
#contactForms p.requiredStatement {padding:20px 0;}
#contactForms h1.first {margin-top:0px;padding-top:0px;}
#contactForms h1.last {padding-bottom:15px;}
#contactForms.trade .floatLeft h1.last {padding-bottom:15px;}
#contactForms .dropdownInclusive { float:none;}
#contactForms .dropdownInclusive  li{ margin:0px; text-align: left; }
#contactForms .dropdownInclusive  li a{ padding-left:10px; margin-right:0; }
#contactForms .emailLink {float:left}

#contactForms #breadcrumbs {margin-bottom:30px;margin-top:36px;overflow:hidden;width:100%; font-size:11px;color:#333333;background:none!important;padding:0!important;}
#contactForms #breadcrumbs li a{color:#a03720;}

#contactForms #rightPanel { margin-top:6px}
#contactForms #rightPanel h2 {margin-bottom:5px}


#salesInfo, #office, #regionalOffices {background-color:#556e97;}
#salesInfo, #regionalOffices, #office { padding:30px 0 30px 40px;}
#tradeEnquiries { padding:40px 0 30px 40px;}
#contactForms.trade .floatRight #regionalOffices h1 {padding-bottom:20px;}
#generalInquiries, #twitter, #tradeEnquiries {background-color:#3c5279; }
#generalInquiries, #twitter {padding:40px 0 30px 40px; }

/*** OVERRIDES FOR CONTACT US PAGE specifically!!!! : THESE OVERRIDE THE GLOBAL SETTINGS***/
.contactus #ctl00_ContentPlaceHolderMiddle_tbMessage {width:544px!important;height:146px; padding: 6px; }
.contactus p.requiredStatement {padding:18px 0 12px 0 !important;}
.contactus .floatLeft h1 {padding:0 0 20px 0!important;}
.contactus label.message {margin-top:20px!important;}
.contactus input.idleField, .contactus textarea.idleField {margin-bottom:8px!important;}
.contactus a.button {margin-right: 0!important;}
.contactus .privacy {margin-top:15px;}
.contactus div.alpha-shadow {width:277px; background: #fff !important; border-left:1px solid #c3c1c2; border-bottom:1px solid #c3c1c2; border-right:1px solid #c3c1c2; }
.contactus div.alpha-shadow {position:absolute; z-index:2; float: left;background: none !important;  background-color: #fff !important; border-left:1px solid #c3c1c2; border-bottom:1px solid #c3c1c2; border-right:1px solid #c3c1c2; _border-top: none !important; -moz-box-shadow: none;-webkit-box-shadow: none; _margin: -3px 0 0 0; }
.contactus div.alpha-shadow ul {border-left: none; border-top: none !important; background: none !important;  background-color: #fff; padding: 0 0 0 0; _margin-right: -1px; -moz-box-shadow: none;-webkit-box-shadow: none; width:277px !important; border-bottom:1px solid #c3c1c2; }

ctl00_ContentPlaceHolderMiddle_ddlSubject_list div ul.dropdown { background: none !important; background-color: #fff !important; width:275px !important; }

.required {padding:0 2px; font-size:1.1em; line-height:1px}
li.withNB {}
a.withNB{ float:left; /*padding-top:5px*/ line-height:15px}

#contactForms .requiredStatement {text-align:right; }
#contactForms .ddlSubject, #contactForms #ddlSubject{width:258px!important; }
#contactForms .privacy {padding:1.25em 0;margin-bottom:25px;}
#contactForms .floatRight ul {width:100%; overflow:hidden;}
#contactForms .floatRight div  li  {float:left;font-weight:normal; line-height:23px; }
#contactForms .floatRight div  li a{float:left; line-height:22px; }
#contactForms .floatRight div  li.title {font-weight:bold;}

#contactForms .floatRight li, #contactForms .floatRight p, #contactForms .floatRight h2 {color:#292929; font-weight:bold; font-size:11px;}
#contactForms .floatRight h2.lowSpacing{ padding:0 0 5px 0}
#ctl00_ContentPlaceHolderMiddle_ddlSubject{display:none; }
#contactForms h2 {font-size:1em;}
#contactForms label.message {margin-top:1em;}
#contactForms .title {float:left; width:42px;}
#contactForms .phone {margin-bottom:15px;}
#contactForms .floatLeft p {padding:0px 0 10px 0;width:560px;color:#333333;}
#contactForms td {vertical-align:middle;}

label.labelHighlight {background:url("../images/icon-arrow.png") no-repeat scroll 98% 50% #fef8d2!important;}


div#pValidationError{margin:5px 0 30px 0; padding:12px 0 10px 50px;}
div#pValidationError ul {padding: .5em 1em 0 1em;}
div#pValidationError li{list-style-type: disc; font-weight:bold;}
div#pValidationError label { font-weight:bold}
.contactus input {width:273px;}
.trade table td {width:100%; overflow:hidden;}
.trade table input, .trade table label {display:block; float:left;}
.privacy {font-size:10px; color:#666666;}
.trade h1 {color:#333; padding-bottom:.5em;}
/*.trade label {display:block; clear:both; padding-bottom:.35em;}*/
.trade input {margin-bottom:1em;}
.trade input {width:265px;}
.trade textarea {width:555px!important;height:100px;}
#contactForms .floatLeft fieldset.right .radioSet input {width:30px;}
#contactForms .floatLeft fieldset.right input.numStores{width:49px;}
.trade .address {width:126px;}

#contactForms .radioSet label, #contactForms .radioSet input {width:30px;padding:0;margin:7px 0 0 0;line-height:12px; }
#contactForms .radioSet label { margin: 5px 0 0 0 !important; display: inline; width: 50px; }
#contactForms .radioSet {margin:4px 0 0 0;height:20px;}

/*** Clear Divs here **/
 #contactForms input.highlight, #contactForms textarea.highlight
{background:#fef8d2;border:1px solid #b0252e; }
.trade .floatRight, .contactus .floatRight{background-color:#3d537b;height:100%;}

label.yourPosition { clear: both; }

/* Error bg override */
.error {background: url(../images/icon-error-full.gif) no-repeat 15px 15px #af242e;}


/* Restlye Radio */
.radio { height: 17px; width: 45px;	padding: 0 15px 5px 25px; background: url(../images/account/radio.png);	background-repeat: no-repeat; cursor: default;}
.radio input {	display: none;}
.radio input.show {display: inline;}
.selected {background-position: 0 -17px;}
