﻿/* 404 page */
#content {background:#FFFFFF url(../images/bkg-content.jpg) no-repeat 0 0;    }
.errormsg { height:390px; position:relative;}
.errormsg h2 { font-weight:normal; font-family:Georgia, "Times New Roman", Serif; font-size:20px; color:#a19581; text-align:center; padding-top:140px; padding-bottom:25px;}
.errormsg p { color:#333333; font-size:11px; font-face: Arial, Verdana, Helvetica, serif; text-align:center; padding-bottom:25px;}
.errormsg .buttons { margin: 0 auto; padding: 25px 82px 0 113px; width:327px; background:url(../images/sep404.gif) repeat-x left -3px;}
.errormsg span { padding:5px 20px 0 20px;}
.errormsg .buttons a { width:85px;}
.errormsg .buttons a, .errormsg .buttons span  { float:left; margin:0;}
.errormsg .footer { background: url(../images/auxfooter.jpg) no-repeat left bottom; height:90px; width:981px; top:385px; position:absolute; left:0;}