
@import url("popup.css");
@import url("shadow.css");

html, body { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; background: url(../images/ta_background_pattern.jpg) repeat 0 0 #1c1b1b; color:#666; font-size:100%; }

form { position: relative; }

/* Fix textareas in Chrome */
textarea { resize:none }

span#litCategoryName {
    font-family:Georgia, serif;
    font-size:x-large;
    padding-top:75px;
    display:block;
}
span#litSubCategoryName {
    font-size:small;
    padding-top:10px;
    display:block;
}
#productInfo li img{
    margin-top: -4px !important;
}
/** Anchor / Buttons **/
a {text-decoration:none;}
a:link {color:#666;}
a:visited {color:#666;}
a:hover {color:#666;text-decoration:unerline;}
input.cms_submit {font-size:10px; display:block; text-transform:uppercase; font-weight:bold; background: url(../images/bkg-button.jpg) repeat-x; padding:8px 16px!important; line-height: normal !important; text-align:center;}
input.cms_submit:link {color:#fff;}
input.cms_submit:visited{color:#fff;}
input.cms_submit:hover {color:#95B1DC!important;}
a.button {font-size:10px; display:block; text-transform:uppercase; font-weight:bold; background: url(../images/bkg-button.jpg) repeat-x; padding:8px 16px!important; height: 14px !important; line-height: normal !important; text-align:center;}
a.button:link {color:#fff;}
a.button:visited{color:#fff;}
a.button:hover {color:#95B1DC!important;}
a.backLink, a.emailLink {display:block; float:right;text-transform:uppercase; padding:1em 2em;color:#fff!important;}
a.emailLink:link, a.emailLink:hover, a.backLink:hover {text-decoration:underline;color:#fff; }
/** Popup Links : White / Text underline / Uppercase**/
a.lookLink {padding:0 .5em;color:#fff; font-weight:bold; text-transform:uppercase;}
a.lookLink:link {text-decoration:none;}
a.lookLink:visited{text-decoration:underline;}
a.lookLink:hover, a.lookLink:active {text-decoration:underline;}
/** Cursor **/
a, button, .ajax__tab_inner span, label.dropdown, #productInfo h1 a {cursor:pointer;}



/*** fix for dropdown extar set of li lne height issues : hoping this is a gloal fix.**/
.dlist .dropdownInclusive {float:left;}
.dropdownInclusive { float:none;}
.dropdownInclusive  li{ margin:0px; }
.dropdownInclusive  li a{ padding-left:10px; padding-right:0px; margin-right:0px}


/**  **/
li, p {line-height:1.8em;}
.last {border:none!important; padding-right:0!important;}
.replace {padding:20px; margin:0 auto; width:90%; font-size:1.35em;line-height:1.8em;}
.leftCol {width:328px;float:left;} 
.mainCol {width:653px;float:right;}
.floatLeft, .col {float:left;}
.floatRight{float:right;}
.strong {color:#9f3a1a;}
em {font-style: italic;}
hr {border-bottom:1px dotted #666; width:100%; height:1px; display:block; clear:both;}
strong{font-weight:bold;}

.clearfix:after {    content: ".";    display: block;    height: 0;    clear: both;    visibility: hidden;  overflow:hidden;  }
    
 
/*** to apply bullet to our lists per psd: assign the 'bulletList class.**/
/*** to apply separator line per psd: assign the 'separator-line' class.**/
/*** to apply error icon per psd: assign the 'error' class.**/
.bulletList li {background: url(../images/icon-bullet.jpg) no-repeat 0 50%; padding: .35em 0 .35em 1.5em; line-height:1.35em; }
.separator-line {background: url(../images/separator-products.jpg) 0 100% no-repeat;clear:both; border:none; padding:1em 0;}
.error{background: url(../images/icon-error.gif) no-repeat 10px 10px #af242e; padding:1em 0 0 4em;color:#fff!important; margin-bottom:1em;}

/** Global Icons : See ie6.css for .gifs **/
.iconClose {background: url(../images/icons.jpg) no-repeat -247px -56px; width:25px; height:25px;position:absolute;right:22px;top:16px;width:25px;}
.iconArrowRight {background: url(../images/icons.jpg) no-repeat -334px -2px; width:22px; height:22px; }
.icon {display:block; float:left;}
.iconPrint span, .iconEmail span, .iconLookbook span, .iconClose span {display:none;}
.iconPrint{background: url(../images/icons.png) -27px -2px no-repeat; width:20px; height:20px;  }
.iconEmail{background: url(../images/icons.png) no-repeat -55px -2px; width:19px; height:20px;}
.iconArrowRight{display:inline-block; margin-left:5px; background: url(../images/icons.png) -335px -6px no-repeat; width:10px; height:9px; zoom:1; /*position:relative;*/ }
.iconArrowRight1{display:block;background: url(../images/icon-arrow-right1.jpg) 100% 50% no-repeat;padding-right:15px;}
.iconArrowLeft{display:inline-block; margin-left:5px; background: url(../images/icons.png) -345px -5px no-repeat; width:10px; height:10px;position:relative; }
.iconArrowUp{display:inline-block; margin-left:5px; padding-right:10px; background: url(../images/icons.png) -357px -6px no-repeat; width:3px; height:10px; }
.iconLookbook{background: url(../images/icons.png) no-repeat -110px 0px; width:25px; height:25px;}
.iconDealerView{background:  url(../images/icons.png) no-repeat -27px -23px; width:20px; height:20px;}
.iconLookbookPopup {background: url(../images/icon-lookbook.gif) no-repeat 0 4px; width:25px; height:17px; padding-left:25px;}
.iconCart {background: url(../images/icon-cart.gif) no-repeat 0 50%; width:25px; height:17px; padding-left:25px;}
.iconK {display:inline-block;background: url(../images/icons.jpg) no-repeat -94px -80px; width:22px; height:26px; vertical-align:middle;}
.iconU {display: inline-block;background: url(../images/icons.png) no-repeat -80px -20px;width: 22px;height: 26px;vertical-align: middle;}
.iconA {display:inline-block;background: url(../images/icons.jpg) no-repeat -122px -80px; width:22px; height:26px;vertical-align:middle; }
.iconP {display:inline-block;background: url(../images/icons.png) no-repeat -51px -20px; width:22px; height:26px;vertical-align:middle; }
.iconFavorite {width:22px; height:26px; }
.iconMakeFav {background: url(../images/icons.jpg) no-repeat -332px -55px; }
.iconIsFav {background: url(../images/icons.jpg) no-repeat -310px -55px; }
.iconHelp {background: url(../images/icons.jpg) no-repeat 0px -27px; width:18px; height:16px;}

/*** FORM.CSS ***/
.required, .required li {color:#990000;}
fieldset label, fieldset input {display:block;}
.idleField {background: url("../images/bkg-input.png") repeat-x #fff; font-size: 12px; line-height:15px; font-family: Arial, Helvetica, Verdana, sans-serif; }
.focusField {background: #f0f0f0 !important;}
.note {float:left;}
.errorMsg, .errorMsg li {color:#b0252e!important;font-weight:normal!important;}
.errorQty {background-color: #ecd8d1!important; border:1px solid #86232a!important;}
.dottedPanel{border-top:1px dotted #666; border-bottom:1px dotted #666; padding:1em 0; margin:1em 0;}   
.dottedTop{border-top:1px dotted #666; padding:1em 0; margin:1em 0;}   
.dottedBottom{border-bottom:1px dotted #666; padding:1em 0; margin:1em 0;} 
.altProductMsg{display:block; padding:10px; margin:10px 0; clear:both;text-align:center; color:#252525;}
.btnCancel {line-height:4em;}
.radioSet label, .radioSet input[type!=text] {display:inline; width:50px;background:none!important;border:none!important;}


/*** DROP DOWN CSS : BASIC LAYOUT **/
label.dropdown {display:block; background: url(../images/icon-arrow.gif) 68% 50% no-repeat; border:1px solid #c3c1c2; padding:10px;}
ul.dropdown li {float:none; width:100%; overflow:hidden;margin:.15em 0;}
ul.dropdown li img {float:left; padding-right:6px; width:30px;}
ul.dropdown li a {display:block; color:#333; padding: 3px 3px 3px 3px; /*margin-right:6px;*/ font-size: 11px; }
ul.dropdown li a:hover {text-decoration:none!important;}
div.alpha-shadow {position:absolute; z-index:2; float: left; -moz-box-shadow: 3px 3px 5px #D0D0D0;-webkit-box-shadow: 3px 5px 5px #D0D0D0;padding: 0px 1px 0px 0; background-color: #fff; }
div.alpha-shadow ul {border-left:1px solid #efefef; border-bottom:1px solid #efefef; border-top:0px solid transparent; padding: 0px -1px 0px 0px; }
div.alpha-shadow ul li { margin: 0 0 0 0; }

.dropdown .over {background-color:#333; color:#fff!important; text-decoration:none;}
a.button, input.cms_submit {margin-right:1em; color:#fff;float:right;background: url(../images/bkg-button.jpg) repeat-x;}
.bcActive{color:#363636;}
.bcLink {color:#a03720;}
.over {background: #333; color:#fff!important;}

div.alpha-shadow.lookbookdd {position:absolute; z-index:2; float: left; -moz-box-shadow: none;-webkit-box-shadow: none;padding: 0px 1px 0px 0; background-color: #262525; }

div.alpha-shadow.lookbookdd ul  { border-left:1px solid #262525; border-bottom:1px solid #262525; }


div.alpha-box {position:absolute; z-index:2; float: left; padding: 0px; border:1px solid #C3C1C2; border-top:none; background-color: #fff; }
div.alpha-box ul { border:none;  }
div.alpha-box ul li { margin: 0 0 0 0;}
div.alpha-box ul li a { padding-left:10px; }
div.alpha-box.lookbookdd {position:absolute; z-index:2; float: left; padding: 0px 1px 0px 0; background-color: #262525; border:none; }
div.alpha-box.lookbookdd ul  { border-left: none; border-bottom:none; }


/*** BACKGROUND : GLOBAL***/
#container {width:100%; height:100%;position:relative;min-height:100%;}
#topper {background: url(../images/ta_bkg_top.png) 0 0 transparent;position:absolute; top:0; left:0;height:297px; width:100%;}
#bottomer { min-height: 100%; min-width:981px; background: transparent url(../images/ta_bkg_bottom.png) bottom left repeat-x; }
#lefter {background: url(../images/ta_bkg-middle.png) 0 0 transparent; position:absolute; left:0; height:100%;}
#righter {background: url(../images/ta_bkg-middle.png) 0 0 transparent; position:absolute; right:0; height:100%;}
* html #lefter{height: 999999em;}


/*** Z-INDEX***/
#topper, #lefter, #righter {z-index:-1;}

.signIn{ z-index:9;}
.popup-shadow {z-index:6;}
.iconClose {z-index:7;}

/*** GLOBAL BUTTONS ***/
.btn {background: url(../images/btn-bkg.jpg) repeat-x; padding: 0 20px; font: bold .85em/1.5em Arial, Helvetica, Verdana, sans-serif;}
.btn-cart{background-position: 0 0;}
.btn-gen{background-position: 0 -8px;}

/** GLOBAL BREADCRUMB SETTINGS **/
.breadcrumbs a, .breadcrumbs a span {font-size:11px; color:#a03720;}
.breadcrumbs a:hover {text-decoration:underline;}
.breadcrumbs { margin: 0; clear:both; padding: 37px 0 22px 50px; overflow:hidden; color:#9f3a1a; line-height: 17px; font-family:Arial; font-size:11px;}
.breadcrumbs li .landing { color: #333; }
.breadcrumbs .category{top:40px; left:40px; }

/*** LAYOUT DECLARATIONS : **/
#page {width:981px; margin: 0 auto;text-align:left;font-size:.75em;background: url(../images/bkg-page.jpg) 0 0 repeat-y transparent;}
#optionalHeadingImage{display:none;position:absolute; top:0px; left:0px; }


/** Overlay utilized with popups **/
#fuzz{ position: absolute; top: 0; left: 0; z-index: 3; width:100%; height:100%; background: #000; opacity:.6; display:none; text-align:left;min-height:100%;height: 999999em; }  

#blob {position: absolute; top: 0; z-index:5; background: #030303; background: -moz-linear-gradient(top, #312e2f, #030303); background: -webkit-gradient(linear, left top, left bottom, from(#312e2f), to(#030303)); -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 2px 3px 10px #011331; -webkit-box-shadow: 2px 3px 10px #a1340e;}


/**** CONTENT  GLOBAL ***/
#content {clear:both; background: url(../images/bkg-content.jpg) no-repeat 0 245px #fff; width:981px;height:auto!important;min-height:360px; }
#taSlogan {position:relative; top:56px;font-size:24px; line-height:32px;color:#f5f5f5; opacity:.4; text-align:right;}
#taExploreSlogan {display:block; font-family:georgia,garamond,serif; font-size:14px; font-style:italic; line-height:24px; text-align:right;}

/**** CONTENT : homeflashContent ***/
#homeflashContent {width:981px; height:400px;}

/**** CONTENT : homesupportContent***/
#homesupportContent{}


/*** FOOTER **/
#footer {width:981px; margin:0 auto; padding:40px 0;}
#footer .row ul li {float:left;}
#footer .leftCol li {width:120px;} 
#footer a {color:#a4a2a2;display:block;position:relative;}
#footer .leftCol {padding-left: 50px;}
#footer .mainCol {width:auto; float:right;}
#footer .mainCol a.lowerMenuRight {color:#545353;}
#footer .mainCol li {padding-left:25px;}
/*#footer ul {padding-top:6px;} : are they saying too much?*/
#footer ul ul {margin-top:0px;padding-top:0!important;}
#footer .mainCol .tallLink a{text-transform: uppercase;}

/*** SHOPPING CART POPUP**/
.AddToCartConfirmation #imgAddToCart_productDetails_wrapper { float:left; overflow:hidden; padding:16px 0 }
.AddToCartConfirmation img, .AddToCartConfirmation .productDetails {float:left;}
.AddToCartConfirmation h1 { font-weight:normal }
.AddToCartConfirmation .productDetails ul, .AddToCartConfirmation .productDetails {width:240px;}
.AddToCartConfirmation .productDetails{padding-left:10px;}
.AddToCartConfirmation img{width:97px;}
.AddToCartConfirmation .productDetails span {display:block; float:none;}
.AddToCartConfirmation .pricing { font-weight:normal }
.AddToCartConfirmation .dottedPanel, .AddToCartConfirmation .buttons {overflow:hidden; width:100%;}
.AddToCartConfirmation h1.cartSummary { font-family:Arial,sans-serif !important; font-size:12px; font-weight:bold; }
.AddToCartConfirmation .options {padding:.5em 0;margin:0!important;}
.AddToCartConfirmation .options span {display:inline;}
.AddToCartConfirmation .options li { font-size:11px; padding:0!important;color:#333;}
.AddToCartConfirmation .sku {padding: .5em 0;}
.AddToCartConfirmation table {width:100%; overflow:hidden; background:#fff; }
.AddToCartConfirmation table .highlight { background: #e6e6e6 !important; font-weight:bold; }
.AddToCartConfirmation td {padding:.5em;}
.AddToCartConfirmation .sku li {float:left;}
.AddToCartConfirmation .button {width:129px;}
.AddToCartConfirmation .buttons a, .AddToCartConfirmation .buttons span{float:left; text-transform:uppercase; font-weight:bold;}
.AddToCartConfirmation {width:430px;}
.AddToCartConfirmation .buttons span{padding:.5em;color:#333;font-size:0.833em;}
div.productDetails label#lblAddToCartSKU

/*** LOOKBOOK POPUP **/
#LookbookAddRegistered {display:block;}
#LookbookAddRegistered h3 {font-weight:bold;}
#existingLookbookList{background-color:#fff; width:350px;height:130px;}
#existingLookbookList {padding:0px; background-color:#fff;}
#existingLookbookList input, #existingLookbookList ul {width:328px;}
#existingLookbookList li {padding:0 1em;}



/***** FONTS / FONT SIZING / FONT COLORING ****/
/*** Arial Font **/
h3, #megaStyles h4, #megaCollections ul li a, #megaCollections .collectionDiscover a, 
#megaStyles .Discover a, #megaStyles span, #megaCatalog ul li a, #megaStyles a
#megaCatalog .catalogDiscover, #megaStyles li span,
#megaStyles .stylesDiscover a, .mega #megaStyles li a,#contactForms .floatRight h2, #productInfo p,
.hpLink, #dlrResults h1, #seeVideos .videoText h3, #seeVideos .videoText p,
#dlrResults h3, #dlrResults address, #googleMap h3 span, #googleMap h3, #shoppingCart thead,
.btnCancel, #cartShipping #shippingInstructions, a.button, #lookBook .floatLeft table, #orderReceived p,
#productInfo h1 a, .videoText p, #shoppingCart h1.heading span, fieldset label, #searchResults legend,
#advancedSearchPanel h1, #emailOverlay h2, #breadcrumbs, .contactUsLink, 
#house-ta-sidebar #featured-video h2, #productDetails .ajax__tab_body .videoText p

{
    font-family: Arial, Helvetica, Sans-Serif !important;
}
/** Georgia Font **/
h1, h2, #nav li, #taSlogan, #megaCollections h2 a, #collectionLogos,
#megaCollections #collectionLogos .althorp,
#megaCollections #collectionLogos .keno,
#productDetails p, #contactUs .floatRight h1 a,
#searchResults .dlrSearch a, #shoppingCart h1, #shoppingCart .totals,
.signIn h2, .signIn label, #cartShipping address, #registerLogin label,
#billingInfo address,#gridView .productname h1 
{
    
}


/*** FONT SIZING : 
Base set to 16px : However,
Page set to .75em = 12px by default
Only need to size up or down based on greater less than 12

=======================
20px = 1.667em
18px = 1.5em;
16px = 1.333em
14px = 1.167em
13px = 1.077em
12px = 1em
11px = 0.917em
10px = 0.833em
========================*/

/*** 22 px **/
#cartShipping #top h1, #shoppingCart h1.heading
{
    font-size:22px;
} /** should ask to clarify if this should be 20px... psd is 22.**/

h1, #productInfo h2, #contactForms .floatRight h1, #productInfo h2
{
    font-size:1.667em;
}
/** 16 px**/
h2, .tooltip2 span,
#productInfo h1 a, #searchResults legend,.listContents .productInfo h1 
{
    font-size:1.333em;
}
.totals strong, #layout2 h2,#contactForms .floatRight h1, #house-ta-content h2   
{
    font-size:1.5em;
}

/** 14 px **/
h3, .mega #megaStyles li a, #ddlSearchOptions label.dropdown
#cartShipping address, .productList label.dropdown, 
#shoppingCart #selectCategory label.dropdown, .address address, #nav .newpieces a
{font-size:1.167em;}


h4, .shortStory, #seeVideos h1, #emailOverlay h2,
#nav .mega a 
 {font-size:12px;font-family:arial;}


/*** 12 PX**/
h5,  
#productDetails, #productInfo h1, 
#productInfo h1 a, .CareHeader {font-size:1em;}


/*** 11 px **/
#dlrResults h3, 
#searchResults address, 
#googleMap address, 
#dlrResults h1, #dlrResults .storeName,
.signIn a, #layout2 .radioSet p, #registerEmail label, .msg2 .button,
.ajax__tab_body, #lookBookList ul.dropdown li a, .pricing .m,
#cartShipping #top p, #cartShipping .shippingOptions .radioSet label, #cartShipping .shippingOptions span,
#cartShipping .specialInstructions, .m, .address span, .productInfo .extendeddescription,
.listContents .pricingContent table, #breadcrumbs, #registerLogin p, .contactUsLink, .sku .first span,
.mega #megaStyles li span
{font-size:.917em;}

#productImage .exploreButton, #productInfo .button, #addToCart, #storePrice, .lookLink,
.dlrHeader label,#cartShipping .backLink, .listContents .options, .sku .last span, .requestLink
{font-size: .833em;}

.mega #megaStyles li a, #cartShipping address {font-style:normal!important; }

/* normal weight */
#house-ta-sidebar #featured-video h2,
#house-ta-content h2 { font-weight:normal;}

/*** Italic**/
.mega #megaStyles li span, #seeVideos h2, #storePrice,  
#seeVideos h1, pricingContent .collectionInfo .storeprice{font-style:italic;}

/*** TEXT TRANSFORM : UPPERCASE **/
a.btnCancel {text-transform: uppercase;}

#searchResults legend, #searchResults h3{font-weight:bold;padding:10px 0;}


/*** LINE HEIGHT:
Default set to 1.8
over ride below: **/
.radioSet li {line-height:14px; }
#cartShipping address {line-height:2em; }
#cartShipping address, .billingInfo label.dropdown {margin-top:5px;}
.mega #megaStyles li a{line-height:1.5em;}

/*** FONT COLORS move to colors.css file. 
GREEN: {color:#74c9c2;}
WHITE : #FFF;
BLUE : 809cd6
BLUE 2 : 889ac1
BLUE 3: 252e3c
BLUE 4: 3d537b;
ORANGE (light) :  ffdab4;
ORANGE (DARK) : #9f3a1a   BREADCRUMBS, PRODUCT DETAIL COLLECTION LINKS,
GREY 1 : #333
GREY 2 : #666
RED : #a03720;
**/



/*** RED : A03720 **/
.hpLink{color:#a03720!important;}

#AddToCart label {color:#252525; }
#megaCatalog .catalogDiscover{color:#889ac1;}

/*** Grey / brown **/
#nav .mega a {color:#b8a992;}

/*** ORANGE DARK : #9f3a1a ***/
#breadcrumbs .category,
#breadcrumbs #pagination, #productInfo .errorMsg label, 
.contactUsLink, .requestLink{  color:#9f3a1a !important;}


/*** ORAGEN : ba6d3d**/


/*** orange LIGHT : ffdab4;***/
#menu .mega #megaCollections h2{color:#ffdab4;}

/*** WHITE : #FFF ***/
#menu .catalog #megaCatalog h2 a:hover, 
#menu .catalog #megaCatalog h2 a:active,
#megaCollections .collectionDiscover a,
#megaCatalog .catalogDiscover span,
#megaStyles a, #contactUs .floatRight h1, #contactUs .floatRight h1 a,
#shoppingCart #selectHeader, .btnCancel, .productList #showFilter li
{
   color:#fff !important;
}

/*** BLUE : #809CD6***/
#menu .catalog.selected a { color:#809cd6; }
#menu .catalog a:active, #menu .catalog a:hover,  
#megaCatalog h2 a
{
    color:#809cd6 !important;
}

#menu .collections.selected a { color:#d86b2c; }
#menu .collections a:active, 
#menu .collections a:hover, 
#megaCollections h2 
{
    color:#d86b2c;
}
#productDetails li h2,
#productDetails li p,
#productDetails li a,
.ProductNotAvailableMSG,
h1.heading, #shoppingCart thead,
h1, h2, ul#cartFooter .totals,
#cartShipping, #shoppingCart,
#searchResults
{color:#252e3c;}

#cartShipping address
{color: #3d537b;}

/*** GREEN 74C9C2 **/
#menu .styles.selected a { color:#74c9c2; }

#menu .styles li a:active, 
#menu .styles li a:hover {
    color: #ccfffb !important;
} 
#megaStyles li span,
#megaStyles h2
{
    color:#74c9c2 !important;
}
#menu .rooms.selected a { color:#886aa2; }
#menu .rooms a:active, #menu .rooms a:hover, #megaRooms h2 {color:#886aa2;}
#menu li.newpieces a {color:#a19e9e;display:block;}


/*** RED : PRODUCT DETAIL **/
#productContainer a {color:#9f3a1a;}

#megaCatalog a, #megaCollections a, #megaCatalog ul li {color:#f8f4ee !important; }

/*** GREY 1 : #666***/
#productDetails .itemTitle, #AddToCart .availability,#storePrice
.pricingContent .collectionInfo title, .pricingContent .collectionInfo .storeprice{ color:#666;}

/*** GREY 2 : #333 ***/
#productDetails .itemValue, 
#productInfo, #layout2, 
#LookbookAddRegistered h5, 
.separator .tooltip2 span,
.address address, #registerAccount .privacy h3,
.productInfo .extendeddescription, .pricingContent .collectionInfo .value, #breadcrumbs {color:#333;}


/*** BACKGROUND COLORS ***/
/** PRODUCT DETAIL PAGE, Site Wide MSGS : background-color:#e6e6e6; **/
.highlight, .altProductMsg {background-color:#e6e6e6;}

/*** SHADOWS **/
.popup {background: url(../images/bkg-popup-g.jpg) repeat-x;position:relative;}
 .popup-shadow {-moz-box-shadow: 1px 3px 10px #777;	-webkit-box-shadow: 1px 3px 10px #777;box-shadow: 1px 3px 10px #777;	}
 .popup-shadow2 {-moz-box-shadow: 3px 6px 10px 10px #444444;-webkit-box-shadow: 3px 6px 10px 10px #444444;box-shadow: 3px 6px 10px 10px #444444;}
 .popup-shadow3 {-moz-box-shadow: 1px 3px 3px #d0d0d0;-webkit-box-shadow: 1px 3px 3px #eee;box-shadow: 1px 3px 3px #d0d0d0;}

/* STYLES PRE & POST STYLING */
#megaStyles h2 span { font-size: .8em;}

a.first {color:#9F3A1A}

/* 404 page */

.errormsg { height:475px; position:relative;}

.errormsg h2 { font-family:Georgia, "Times New Roman", Serif; font-size:20px; color:#a19581; text-align:center; padding-top:140px; padding-bottom:25px;}
.errormsg p { color:#333333; font-size:11px; font-face: Arial, Verdana, Helvetica, serif; text-align:center; padding-bottom:25px;}
.errormsg .buttons { margin: 0 auto; padding: 25px 82px 0 113px; width:327px; background:url(../images/sep404.gif) repeat-x left -3px;}
.errormsg span { padding:5px 20px 0 20px;}
.errormsg .buttons a { width:85px;}
.errormsg .buttons a, .errormsg .buttons span  { float:left; margin:0;}
.errormsg .footer { background: url(../images/auxfooter.jpg) no-repeat left bottom; height:90px; width:981px; top:385px; position:absolute; left:0;}

#backtotopz { clear:both; float: right; margin-right: 30px;}

#divSelectOrCreateLB {width:435px;}
#divSelectOrCreateLB h5, #divSelectOrCreateLB h5 span {color:#333333; font-size:12px; font-weight:bold;margin-bottom:5px;}
#divSelectOrCreateLB h5 span{display:block;margin-bottom:8px;float:none;margin-top:8px;}
#divSelectOrCreateLB ul { padding:20px 0 30px 0 ;}
#divSelectOrCreateLB ul ul { overflow: auto; margin-bottom:6px; padding:0px;height:135px;background:url("../images/bkg-input.jpg") repeat-x scroll 0 0 #FFFFFF; border:1px solid #C3C1C2; border-top: none;}
#divSelectOrCreateLB ul ul li a {padding:0 15px; font-size:12px;}
#divSelectOrCreateLB ul ul li a:hover {color:#fff;}
#divSelectOrCreateLB a.backLink {text-decoration:underline; font-weight:bold; font-size: 11px; margin-top: -11px; }
#divSelectOrCreateLB .createLookbook input{width:355px;height: 28px;}
#divSelectOrCreateLB .createLookbook h5{ padding: 5px 0 0 0; margin:0; } 
#divSelectOrCreateLB .createLookbook h5 span { padding: 0; margin:0 0 3px 0; }

/* Lookbook header drop down over ride */
div.alpha-box.lookbookdd ul.dropdown .lastItem { width: 256px; margin-left: -1px; }
div.alpha-box.lookbookdd ul.dropdown .lastItem  a { font-size: 11px !important; color: #b8a990 !important; }
