
/*** HEADER  : move to header.css ***/
#header { position: relative; width: 981px; height: 138px; margin: 0 auto; background: url(../images/bkg-page.jpg) 0 0 repeat-y transparent; font-size: 11px; }
#header h1 { position: relative; top: 52px; left: 0; width: 327px; height: 14px; background:url(../images/logo2.jpg) no-repeat; }
#header h1 a { display: block; width: 100%; height: 14px; }
#header h1 span { display: none; } /* SEO Friendly Texutal display**/
#header li { line-height: 25px; }
#header .dropdownInclusive { position: relative; }


#header #genLinks { position: absolute; top: 30px; left: 367px; }
#header #genLinks a { font-size: 11px; color:#9e9e9e; }


#lookLinks { position: absolute; top: 30px; left: 515px;  font-size: 12px !important; color:#808080 }
#lookLinks li a.linkCart { padding: 0 10px 0; }


#signinPanel{border-right:none!important;}

.dropdownInclusive .dropdownLabel label.InitialHtmlFixed.dropdown{ margin-left: -10px; top: -2px; position: relative; }
.dropdownInclusive .alpha-box.lookbookdd { margin-left: -10px; }

li.ld a.linkCart { margin-left: -10px; }

/*** HEADER : LOGIN LINKS ***/

#loginLinks { position: absolute; top: 30px; right: 0; } 
#loginLinks li li { float:left; padding: 0; }
#loginLinks li#signinPanel { margin-left: 9px; padding-right: 2px; }

#signInLinks { float:right; }
#signinLinks li { font-size: 11px; margin: 1px;}
#signInLinks li.register { display:block; background: url("../images/dotted_v_line.jpg") no-repeat scroll 100% 50% transparent; padding-right: 9px; }
#signInLinks li.register a {text-decoration: underline;}
#signInLinks li.register a.registerLink {text-decoration: none;}
#signInLinks li a:hover {color:#fff;}

/* #header ul#signInLinks li li { padding:0!important; border-right:none!important; } */
/* #header #signInLinks.dropdown li a {text-decoration:none!important;} */

#searchInput { float: right; height: 21px; margin-top: 6px;width:162px; background: url(../images/sprite-search.png) no-repeat 0 0 transparent; clear:both;}
#searchInput input { float:left;height: 21px; line-height: 21px; width: 115px; margin-left: 15px; color: #8a8a8a; font-size: 11px; background-color: transparent; padding:3px 0px 0px 0px;}

#searchInput a { float:right; margin:0; width: 16px; height: 20px; padding-right: 10px; background: transparent url(../images/search-arrow.gif) no-repeat 0 0; line-height:20px; }
#searchInput a:hover { background-position: 0 -20px; }

#advSearch a { font-size: 8px; line-height: 10px; width: 125px; position: relative; left: 835px; top: 37px;} 
#advSearch a:hover { color: #9b5974;}

#searchInputControl { color: #8a8a8a; }

/*** OVERRIDE DROP DOWN Glbal settings **/
.ld {clear:left; width:160px!important;}

#browseView { position: relative; display:block; background: url("../images/dotted_v_line.jpg") no-repeat scroll 100% 50% transparent; }
#browseView label { width: 84px; padding: 0 9px; border:none; background: url(../images/icon-arrow.png) 82px 11px no-repeat; }
#browseView div.alpha-shadow { position: absolute; top: 24px; z-index: 8; padding: 0; background: #262525; }
#browseView div.alpha-shadow ul { background: none; }
#browseView ul.dropdown { max-height: 330px; overflow: hidden; }
#browseView ul.dropdown li { margin: 0; line-height: 24px;}
#browseView ul.dropdown li a { padding: 0 9px; margin: 0; color:#808080; }
#browseView ul.dropdown li a:hover { background: #666; color: #fff; }
#browseView ul.dropdown li.last a { margin: 0; border-top: 1px dotted #6b6b6b; color:#b8a992; }

#lookSelect {  }
#lookSelect label.dropdown{ width: 81px; padding: 2px 10px 0; border:none; background: url(../images/icon-arrow.png) 82px 12px no-repeat; }
#lookSelect label.lb-over { background-color: #262525; }
#lookSelect li a{ padding: 0; }
#lookSelect div.alpha-shadow { position: absolute; top: 24px; z-index: 8; width: 210px; padding: 0; background: #262525; }
#lookSelect div.alpha-shadow ul { background: none; }
#lookSelect ul.dropdown { max-height: 330px; overflow: hidden; }
#lookSelect ul.dropdown li { margin: 0; line-height: 30px;}
#lookSelect ul.dropdown li a { padding: 0 10px; margin: 0; color:#808080; font-size:12px}
#lookSelect ul.dropdown li a:hover { background: #666; color: #fff; }
#lookSelect ul.dropdown li.last a { margin: 0; border-top: 1px dotted #6b6b6b; color:#b8a992; }


#browseView div.alpha-box { position: absolute; top: 24px; z-index: 8; padding: 0; background: #262525; }
#browseView div.alpha-box ul { background: none; }
#lookSelect div.alpha-box { position: absolute; top: 24px; z-index: 8; width: 210px; padding: 0; background: #262525; }
#lookSelect div.alpha-box ul { background: none; }


/*** MENU ***/
#menu { position: relative; top: 88px; z-index: 3; height: 36px; clear: both; }
#menu a { text-decoration: none; font-style: italic; }

#nav { overflow: hidden; height: 22px; padding: 7px 0px; margin: 0 0 0 327px; background-color: #201e1f; z-index:9999 }
#nav ul { float:left; margin-left: 40px; }
#nav ul li {float:left; padding:0 18px; line-height:18px;}
#nav ul li.catalog { padding: 0 18px 0 0; }
#nav ul ul { float:none; margin: 0; }
#nav .mega a { display:block; letter-spacing: 1px; }

/* .pointer{position:absolute;background: url(../images/icon-megamenu-pointer.png) no-repeat;left:25%; display:block; width:24px; height:12px;top:36px; z-index:7;} */

#selected {width:63px;}
#menu .megaContent { position:absolute; z-index:22; top:36px;left:0; display:none; overflow:hidden; width:981px;  }
#menu .carrot { position: absolute; z-index: 1; top: 0; width: 24px; height: 12px; line-height: 12px; background: transparent url(../images/icon-megamenu-pointer.png) no-repeat; }
#menu h2 {font-size:1.17em; font-weight:bold; text-transform: uppercase;line-height:1.17em;}
#megaStyles h2, h2.h23-3, h2.h22-3, h2.h21-3{ word-wrap: break-word; width:170px; }

/*** MEGA : GLOBAL SETTINGS **/
#megaCatalog a, #megaCollections a, #megaCatalog ul li {padding:0!important; font-style:normal; font-size:1em !important;line-height:16px;}
#megaCatalog li, #megaCollections li, #megaStyles li {float:none!important; }

/** MEGA CATALOG ITEMS**/
#megaCatalog {position:relative; background: #14274b url(../images/bkg-menu-catalog.png) no-repeat; height:412px;}
#megaCatalog .carrot { left: 392px; }
#megaCatalog ul { padding-top:10px; }
#megaCatalog li { line-height:1.25em !important; }

#megaCatalog .catalogDiscover { display: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color:#39528c; padding:10px 0 10px 31px; clear:both; width:705px; position:absolute; bottom:0; right:0;}    
#megaCatalog .catalogDiscover a { display: inline; background: url(../images/icon-menu-arrow-right.gif) no-repeat 100% 50%; padding: 0 17px 0 0 !important;}
#megaCatalog .catalogDiscover a:hover span { color: #fff !important; text-decoration: underline; }

/** column 1 : Tables / Beds **/
#megaCatalog #col1, #megaCatalog #col2, #megaCatalog #col3, #megaCatalog #col4{position:relative;}
#item1-1 {position:absolute; top:20px; left:30px;}
#item1-2 {position:absolute;  top:335px; left:30px;}

/** column 2 : Seating / Chest of Drawers / Tables **/
#item2-1 {position:absolute; top:20px; left:275px;}
#item2-2 {position:absolute; top:195px;left:275px;}
#item2-3 {left:275px; position:absolute; top:335px;}

/**8 column 3 : Desks / Mirrors / Free Standing Accesories **/
#item3-1 {position:absolute;left:520px; top:20px;}
#item3-2 {position:absolute; left:520px; top:195px;}
#item3-3 {position:absolute; left:520px; top:335px;}

/**8 COLUMN 4 : Cabinetry / Lighting / Art work and Wall Accessories **/
#item4-1 {position:absolute; top:20px;left:765px;}
#item4-2 {position:absolute; top:195px;left:765px;}
#item4-3 {position:absolute; top:335px; left:765px;}

/* Instock users menu override */
.instock #megaCatalog .catalogDiscover { display: block; }
.instock #item1-2 { top:315px; padding-top: 15px;}
.instock #item2-3 { top:315px; padding-top: 15px; }
.instock #item3-3 { top:315px; padding-top: 15px; }
.instock #item4-3 { top:315px; padding-top: 15px; }



#megaCollections {background: url(../images/bkg-menu-collections.png) no-repeat; height:312px;}
#megaCollections .carrot { left: 543px; }
#megaCollections h2 a {color:#ffdab4; text-transform:uppercase; font-weight:bold;}
#megaCollections .floatLeft h2 { padding: 30px 0 0 30px;}
#megaCollections .floatRight h2 { padding: 30px 0 20px 25px;}
#megaCollections ul {float:none!important; background:none!important; }
#megaCollections li {line-height:2em !important; }
#megaCollections ul li{float:none!important; background:none!important; line-height: 1.15em; padding:0; display:block;}
#megaCollections .floatRight {width:612px;}
#megaCollections .floatRight ul {float:left!important; width:176px; padding-left:25px;}
#megaCollections li a {color:#fff;}
#megaCollections li a:hover {color:#f49626 !important;}
#megaCollections #collectionLogos {position:absolute; top:100px; left:40px;overflow:hidden;}

#megaCollections .collectionDiscover { background-color:#d86b2c; padding:10px 0; clear:both; width:612px; position:absolute; bottom:0; }
#megaCollections .collectionDiscover a { display: inline; background: url(../images/icon-menu-arrow-right.gif) no-repeat 100% 50%; padding: 0 15px 0 25px !important; font-size: 11px !important; }
#megaCollections .collectionDiscover a:hover span { text-decoration: underline; color: #fff !important; }

#megaCollections #collectionLogos .althorp{width:300px; left:0px; height:50px; margin-bottom:40px;display:block;}
#megaCollections #collectionLogos .keno{ width:300px; left:0px; height: 50px; display:block;}
#megaCollections .althorp a, #megaCollections .keno a{display:block; width:300px; height:50px; font-size:14px !important; text-align:center;}

.keno-out{background: url(../images/logo-keno.png) no-repeat;width:300px; height:50px;display:block;}
.althorp-out{background: url(../images/logo-althorp.png) no-repeat; width:300px; height:50px;display:block; }



#megaStyles {background: url(../images/bkg-menu-styles.png) no-repeat; height:401px;}
#megaStyles .carrot { left: 670px; }
#megaStyles #col1 {position:absolute; top:20px; left:28px;}
#megaStyles #col2{position:absolute; left:228px; top:20px;}
#megaStyles #col3{position:absolute; left:620px; top:20px;}
#megaStyles #col4{position:absolute; left:815px; top:20px;}
#megaStyles #col2 ul {background:none!important; float:left; width:190px;}
#megaStyles ul li{float:none!important; background:none!important; line-height: 1.17em; padding:10px 0; display:block;}
#megaStyles .stylesDiscover {background-color:#3f7f7a; padding:10px 0; clear:both; width:784px; position:absolute; bottom:0; right:0;}    
#megaStyles .stylesDiscover a { display: inline; background: url(../images/icon-menu-arrow-right.gif) no-repeat 100% 50%; padding: 0 15px 0 30px !important; font-size: 11px !important; font-style: normal; }
#megaStyles .stylesDiscover a:hover span { text-decoration: underline; color: #fff !important; }


#megaRooms .carrot { left: 752px; }
#megaRooms ul { }
#megaRooms ul li { padding: 0; }
#megaRooms a { display: block; height: 206px; background: transparent url(../images/mega-rooms-sprite.png) 0 0 no-repeat; text-indent: -9000px; }
#megaRooms .bedroom { width:198px; }
#megaRooms .bedroom:hover { background-position: 0 -207px; }
#megaRooms .diningroom { background-position: -198px 0px; width: 196px; }
#megaRooms .diningroom:hover { background-position: -198px -207px; }
#megaRooms .hall { background-position: -394px 0px; width:197px; }
#megaRooms .hall:hover { background-position: -394px -207px; }
#megaRooms .office { background-position: -591px 0px; width: 194px; }
#megaRooms .office:hover { background-position: -591px -207px; }
#megaRooms .livingroom { background-position: -785px 0px; width: 196px; }
#megaRooms .livingroom:hover { background-position: -785px -207px; }




