#flashContent {width:981px; height:402px;}

/**** CONTENT : HOMEPAGE ONLY   homesupportContent***/
/*** content : override the global background / padding /width etc for just the home page**/
#content {background:none!important;padding:0!important;width:981px!important;}
/*** breadcrumbs : override on this page only, turn it off **/
#breadcrumbs {display:none;}
#homesupportContent{height:172px;position:relative; top:15px;}
#homesupportContent #homeSlider {width:800px; overflow:hidden;}
#homesupportContent li {position:relative; height:172px; float:left;}
#homesupportContent #static, #homesupportContent #opener,
#homesupportContent #closer{background:url(../images/sprite-home-support.jpg) no-repeat;}
#homesupportContent #slider {background:url(../images/home-support-slider.jpg) no-repeat #fff;}
#homesupportContent #static{width:163px;}
#homesupportContent #opener {background-position: -163px 0; width:163px; z-index:2;}
#homesupportContent #closer{background-position:-1338px 0;width:164px;display:none;z-index:2;}
#homesupportContent #slider{background-position:-327px 0; width:654px; left:0px; display:none;z-index:1;}
#sliderKeyClose, #sliderKey {position:absolute; top:58px; left:58px;}
#homesupportContent #menuSlider {position:absolute; top:0; left:0; z-index:2;}
#slider ul {overflow:hidden;}
#homesupportContent .productHover{background: url(../images/home-support-hover.jpg) repeat-x; top:0; width:164px; height: 172px; z-index:3; position:absolute;display:none;}
#homesupportContent .productHover p {height:88px; padding:20px; width:130px; font-family: Arial; font-size:1.08em; color:#cfa5bc;}
#homesupportContent .productHover a {display:block; height:23px; padding: 10px 0; color:#fff; margin: 0 auto; text-align:center;font-family:Georgia; font-style:italic; font-size:1.17em; font-weight:bold; position:relative; bottom:0;}
/** FOR THE PRODUCT SLIDER, BASED THE SIZE OFF OF THE 140w X 126h, AND ADDED PADDING ACCORDING TO SIZE TO OUR DESIRED 164 X 172**/
#homesupportContent #slider img {width:140px; height:126px; padding:23px 12px; background-color:#fff;}



#carousel li {float:left;}
#sliderKey {margin:0 auto;}
.scroll-pane { overflow: auto; width:654px; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-bar-wrap {position:relative; bottom:16px; background-color:#89536b;}
.scroll-bar-wrap .ui-handle-helper-parent {height:100%;margin:0 auto;position:relative;width:100%;}
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { border:0; height: 16px; margin: 0 auto;  }
.scroll-bar-wrap .ui-slider-handle { height: 16px; }
.scroll-bar-wrap .ui-handle-helper-parent {height:100%;margin:0 auto;position:relative;width:100%;}
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -276px auto 0; position: relative; top:0; width:276px; background: url(../images/bkg-slider-handle.jpg) no-repeat #560b29; }
/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 276px; height: 16px; cursor: default; background-color: #560b29; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { margin-left: 0px;  width: 276px; height: 16px; background: url(../images/bkg-slider-handle.jpg) no-repeat #560b29; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
