﻿/**** PLEASE NOTE:  THESE ARE INTERFERING WITH THE GLOBAL FONT.CSS FILES ...
PLEASE MOVE TO APPROPRIATE CSS FIEL.... SEE FONT.CSS AND COLOR.CSS **
p 
{
    color:#2b2a2a;
    font-size:12px;
    line-height:20px;
    
    }
h2 
{
    color:#252e3c;
    
    font-size:20px;
        }
.clear
        { clear:both;}

*/
.clear { height: 1px; margin: 0 0 -1px; line-height: 1px; clear: both; }
#content {background-position: 0 290px; }
#house-ta-nav 
{
    height:290px;
    background:#201e1f;
    
}
#house-ta-nav-menu 
{
    background:url(../images/HouseofTA/house-header-logo.jpg) no-repeat left top;    
    float:left;
    padding:145px 0 0 47px;
    width:280px;
}
#house-ta-nav #house-ta-nav-image 
{
    width:654px;
    height:290px;    
    float:left;
    background:url(../images/HouseofTA/house-header-main.jpg) no-repeat left top;    
}
#house-ta-nav #house-ta-nav-image.craftsmanship 
{
    background:url(../images/HouseofTA/house-header-crafts.jpg) no-repeat left top;    
    }
#house-ta-nav #house-ta-nav-image.past 
{
    background:url(../images/HouseofTA/house-header-past-to-present.jpg) no-repeat left top;    
    }
#house-ta-nav #house-ta-nav-image.social 
{
    background:url(../images/HouseofTA/house-header-social.jpg) no-repeat left top;    
    }   
#house-ta-nav #house-ta-nav-image.philosophy 
{
    background:url(../images/HouseofTA/house-header-philosophy.jpg) no-repeat left top;    
    }         
    
     
    
#house-ta-nav ul li 
{
    line-height:32px;
     }
#house-ta-nav ul li a 
{
    color:#ffffff;
}

#house-ta-nav ul li a:hover, #house-ta-nav ul li a.selected 
{
    color:#2c8292;
}
#craft-container 
{ 
	position:relative;
    background-repeat:no-repeat;
    background-position:left bottom;    
    padding: 0 0 10px 0;
    width:981px;
    overflow:hidden;
}

#house-ta-sidebar 
{
    position:absolute;
    min-height:283px;
    padding:40px;
    width:246px;
    background-repeat:no-repeat;
    background-position: center 103px;
}
#house-ta-content
{
	/*position: relative;*/
    width:604px;
    min-height:300px;
	padding:0 50px 0px 327px;
	text-align:justify;
}
#house-ta-content-phil
{
    width:882px;
    padding:0 50px 0 49px;
    
    overflow:hidden;
    
}
#house-ta-content-social
{
    width:882px;
    padding:0 0px 0px 0px;
    overflow:hidden;
    
}
#house-ta-content-phil #house-ta-content, #house-ta-content-social #house-ta-content
{   min-height:150px;
    background:none;
    padding:0px 0 0 275px;
    }
#house-ta-content h2 { padding:0 0 18px 0; font-size:20px;}     
#house-ta-content p { padding-bottom:15px;}

#philosophy-highlights { position:relative; width:920px; margin-top:18px; left:-17px}
#philosophy-highlights li { float:left; width:180px; height:30px; padding-top:160px; background:url(../images/HouseofTA/philosophy-image.jpg) no-repeat;}
#philosophy-highlights li.highlight-1 {background-position:-180px 0px}
#philosophy-highlights li.highlight-2 {background-position:-370px 0px}
#philosophy-highlights li.highlight-3 {background-position:-550px 0px}
#philosophy-highlights li.highlight-4 {background-position:-4px 0px}
#philosophy-highlights li.highlight-5 {background-position:-736px 0px}
#philosophy-highlights li p  { text-align:center; line-height:15px; font-style:italic; text-align:center; color:#252e3c; }

  
/*** BREADCRUMBS : moved to each page : no longer global***/

#breadcrumbs {background: url("../images/bkg-content.jpg") no-repeat scroll 0 0 #FFFFFF; margin: 0 auto; clear:both; padding:38px 22px 17px 50px; overflow:hidden; color:#333333; font-family:Arial; font-size:11px;}
#breadcrumbs .category{top:40px; left:40px; }
#breadcrumbs  a.first { color:#a03720; padding-right:2px;}          
#breadcrumbs span.second { color:#363636; padding-left:5px;}   
#breadcrumbs a:hover { text-decoration: underline; }     
     
#house-ta-content-diversity
{
    position: relative;
    width:981px;
    margin: -35px 0 0 0;
    padding: 0 0 0px 0px;
    background-repeat:no-repeat;
    background-position:left bottom;
}

#house-ta-content #films ul, #house-ta-content #photos ul 
{   width:100%;
    float:left;
    }
	
#photos ul  { margin-bottom:25px;}

#house-ta-content #photos li 
{
    float:left;
    width:183px;
    height:121px;
    padding-right:26px;
    margin-bottom:26px;
}
#house-ta-content #films li 
{
    float:left;
    width:185px;
    height:155px;
    padding-right:25px;
    margin-bottom:50px;
}
 #house-ta-content #films h2, #house-ta-content #photos h2
{
    font-size: 18px;   
    width:100%;
    
}    
#house-ta-sidebar span 
{
    display:block;
padding:0 50px;
     }
#footer 
{

     }     
     
     
.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabs ul.ui-tabs-nav li  
{
    float:left;
    padding:0;
    text-transform:uppercase;
    height:30px;
    padding: 5px 0 0 0 ;
                           }
#tabs ul.ui-tabs-nav li.last { width:535px; }                              
#tabs ul.ui-tabs-nav li a 
{
    padding: 12px 25px 12px 25px;
    font-size:10px;
    font-weight:bold;
    
    }              

#tabs ul.ui-tabs-nav li.first a
{
    padding: 12px 25px 12px 2px;
    }                           
                              
#tabs ul.ui-tabs-nav  
{ float:left;
  width:100%;
}             

#tabs ul.ui-tabs-nav li.tab1 
{
    background:url(../images/HouseofTA/tab1-off.gif) no-repeat right top;
     } 
#tabs ul.ui-tabs-nav li.tab2 {   background:url(../images/HouseofTA/tab2-off.gif) no-repeat left -1px;   } 
                           
#tabs ul.ui-tabs-nav li.tab2.ui-state-active, #tabs ul.ui-tabs-nav li.tab1.ui-state-active 
{
    background-image:none;
    color:#000000;
   
    
}
#tabs ul.ui-tabs-nav li.tab2.ui-state-active 
{
    background:url(../images/HouseofTA/tab2-off.gif) no-repeat 127px 1px;
    }
#tabs ul.ui-tabs-nav li.ui-state-active a
{
    background-color:#ffffff;
    color:#19212e;
}    
#tabs ul.ui-tabs-nav li.ui-state-active.last a
{
   /* background:#ffffff url(../images/HouseofTA/tabs-border.jpg) no-repeat right bottom;*/
    padding:0px 19px;
}  


/* Menu selected item */   
a.selected {
    color:#2c8292 !important;
} 

/* Philosophy */
a#continue {
    color: #9f3a1a;
    position: absolute;
    bottom: 110px;
    right: 65px;
    padding-right: 18px;
    background:url(../images/HouseofTA/continue-arrow.gif) no-repeat center right;
}
a.hide {
    visibility: hidden;
}

.philosophyandvision #house-ta-content h2 { padding: 0 0 10px 0;}
/* Craftsmanship */

.craftsmanshipandartistry #house-ta-content 
{   width:654px;
    padding-bottom:0;
	
    }

	.craftsmanshipandartistry .clear
        { clear:both;}    
#house-ta-content #films ul { height:600px;}        
        
#photos ul li a {color:#629ba5;height:121px;}
#photos ul li { line-height:15px;}
#photos ul li img { display:block;}    
#photos ul li a span {
    display: none;
    /*height:121px;*/
    text-align:center;
    width:100%;
    padding-top:50px;
    
    
}
#photos .clear
        { clear:both; }

                
#photos ul li.rollover {
    background-image:url(../images/HouseofTA/craftsmanship/photo-rollover.jpg);
    cursor: pointer;
    background-repeat:no-repeat;
    
}
#films ul li a span.play {
    display: none;
    background:url(../images/HouseofTA/craftsmanship/video-rollover.png);
    text-align:center;
    width:100%;
    position:absolute;
    width:184px;
    height:128px;
}
#films ul li a 
{
    width:183px;
    height:121px;
    }
#films ul li a span.title {
    width:184px;
    height:24px;
    background-color:#2b2829;
    color:#808080;
    display:block;
    text-align:center;
    position:relative;
    top:-7px;
    padding-top:4px;
	font-weight:bolt;
	font-size:10px;
}    
/*.craftsmanshipandartistry #cboxClose { display:none !important;}*/
/*#films ul li.rollover {
    background-image:url(../images/HouseofTA/craftsmanship/photo-rollover.jpg);
    cursor: pointer;
    background-repeat:no-repeat;
}*/
#house-ta-sidebar #featured-video 
{
    background-image:url(../images/HouseofTA/craftsmanship/crafts-sidebar-box.jpg);
    background-repeat:no-repeat;
    background-position: 9px 45px;    
    padding:80px 10px 0;
    
    }
#house-ta-sidebar #featured-video p 
{
    padding:0 0 10px 0;
    
    }    
#house-ta-sidebar #featured-video h1, #house-ta-sidebar #featured-video  h2 
{   font-size:16px;
    text-align:center;
     }    
#house-ta-sidebar #featured-video h1 
{
    
    font-weight:bold;
    padding:20px 50px;
    }
#house-ta-sidebar #featured-video h1 a { color:#FFFFFF; }    
#house-ta-sidebar #featured-video h2 
{
    font-size:12px;
    margin-top:5px;
    margin-bottom:75px;
    font-family:Arial, Helvetica, sans-serif;
    }
#featured-video p{text-align:justify;}
#house-ta-sidebar #featured-video h2 a { padding-right:15px; color:#629ba5; background:url(../images/HouseofTA/playArrow.jpg) no-repeat right }
#house-ta-sidebar #featured-video h2 a:hover { text-decoration:underline }

/* Social and Environmental */
#tabs ul.ui-tabs-nav {
    padding: 12px 0 23px 0;
    
}
#social ul, #environmental ul { padding-left: 25px; color: #666666; list-style-image:url(../images/icon-bullet.jpg);}
#social ul li, #environmental ul li { margin-bottom:15px;}




/* Past to Present */
#products {  
    margin: 60px 0 0 49px;
}
#products td {
    padding: 0 23px 13px 0;
}
#products td a {
    position: relative;
    display: block;
}
#products td a div.rollover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
#products td a div.title {
    position: absolute;
    width: 250px;
    height: 54px;
    padding: 3px 15px 0;
    bottom: 12px;
    left: 0;
    
}
#products td a div.title div {
    display: table-cell;
    width: 242px;
    height: 54px;
    padding: 0 19px;
    vertical-align: middle;
}
#products td a div.title div p {
    font-family: Georgia;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
}

#products h1
{
    font-family:georgia,garamond,serif;
    font-size:22px;
    text-align:center;
    color:#252e3c;
    line-height:35px;
    font-weight:normal;
}
#products h3 
{
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:12px;
    text-align:center;
    color:#252e3c;
    line-height:20px;
    padding-top:20px;
    font-weight:normal;
}

a.backToTop {
    position: absolute;
    bottom: 110px;
    right: 65px;
    padding-left: 18px;
    background:url(../images/HouseofTA/back-to-top.gif) no-repeat center left;
}

#flashcontainer 
{
    float:left;
    width:1223px;
    height:792px;
    overflow:hidden;
    }


/***  Product modal box    ***/    


#pdp
{
    padding:240px 200px 0 390px;
    float:left;
    }
#form1 
{
    /*width:850px;*/
     }
#pdp h1 {font-family:georgia,garamond,serif;  font-weight:normal; font-size:26px; font-style:italic;     }     
#pdp p { font-family:georgia,garamond,serif; }
/*#pdp-menu a { width:121px; height:43px; float:left; text-indent:-9999px; margin-top:5px;}
#pdp-menu a { background:url(../images/HouseofTA/tabs-off.jpg) left top; width:121px; height:43px; outline:none;}
#pdp-menu a:hover, #pdp-menu a.selected  { background:url(../images/HouseofTA/tabs-on.jpg);}


#pdp-menu a.tabZoom { background-position:left 0px; }
#pdp-menu a.tab360 { background-position:left -46px; }
#pdp-menu a.tabScale { background-position:left -92px; }
#pdp-menu a.tabViews { background-position:left -138px; }
#pdp-menu ul#cssdropdown { padding:0; margin:0; float:left;}
#pdp-menu ul#cssdropdown li { padding:0; margin:0; float:left; list-style:none; position:relative;}
#pdp-menu li.headlink ul { display:none; float:left; background:url(../images/HouseofTA/tab-more.jpg) repeat-x right top; padding:0; margin:0; width:250px;height:43px; position:absolute; top:5px; left:-129px;}
#pdp-menu li.headlink ul li a {text-indent:0; background:none; height:36px; width:56px; border:none; padding:3px 0 0 5px; margin:0;}
#pdp-menu li.headlink ul li a img {border:none;}*/
#pdp-menu a { outline:none; } 
#pdp-menu a.tab360, #pdp-menu a.story { width:121px; height:43px; float:left; text-indent:-9999px; margin-top:5px;}
#pdp-menu a.tab360 { background:url(../images/HouseofTA/360-tab.jpg) left top; width:121px; height:43px;}
#pdp-menu a.story  {background: url(../images/HouseofTA/story-tab.jpg) left top; width:121px; height:43px;}
#pdp-menu a.tab360:hover, #pdp-menu a.tab360.selected { background-position:left -43px; }
#pdp-menu a.story:hover, #pdp-menu a.story.selected  { background-position:left -43px; }
#pdp-menu a.details {  color:#9f3c12; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, Sans-Serif; margin-top:10px; float:left; }


#pdp-menu a.details { background-image:none; text-indent:0; margin:0; color:#9f3c12; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, Sans-Serif; margin-top:10px; float:left; }

#pdp-menu { width:121px; top:238px; position:absolute; right:0px;}