/* FROM ie.css */

body{font-size:16px;}

.clearfix {display:block ;zoom:1;}
.clearfix:after {	content:".";	display:block;	height:0;	clear:both;	visibility:hidden;}

/** shadows utilize ie htc file **/
.popup-shadow2, .popup-shadow{ 
     box-shadow: 10px 10px 20px #222; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
 /* ie shadow **/
   behavior: url(../../assets/js/ie-css3.htc);
}
div.alpha-shadow { border: 1px solid #efefef; border-bottom: none ; }
.alpha-shadow { border-bottom: none!important; background: #fff!important; }

#fuzz {	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}


.signIn a.btnClose {display:block; position:absolute; right:-40px; top:-20px; background: url(../images/icons.png) -275px -46px no-repeat; width:39px; height:37px;padding:0!important;z-index:999; }
.signIn #signinContent {position:absolute; z-index:5; background: url(../images/bkg-signin2.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:15px; right:-39px;} #header{z-index:6;}
.signIn a.button {color:#fff!important;}
/** Apply height to dropdowns : add names of dropdowns to apply height to.**/
#ddlSearchOptions ul.dropdown { height: expression(this.scrollHeight >= 220 ? "220px" : this.scrollHeight <= 40 ? "40px" : "auto");}

#ctl00_ContentPlaceHolderMiddle_uPnlStoreLists {
    margin:75px auto 0;
}

.paginationButtons li .dlist .dropdownInclusive .dropdownLabel label.InitialHtmlFixed.dropdown { margin-left: -10px; top: 0; }

 
/** Shadows for IE browsers 
div.popup-shadow {  float:left;  background: url(../images/shadowAlpha.png) no-repeat bottom right !important;  background: url(../images/shadow.gif) no-repeat bottom right;  margin: 10px 0 0 10px !important;  margin: 10px 0 0 5px;  }
div.dropdown {border:none!important;}
div.popup-shadow div {  display: block;  position: relative;  background-color:#fff;  border:1px solid #d0d0d0;  margin: -6px 6px 6px -6px;  padding: 4px;  } 
div.popup-shadow2{filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction= 135, Strength=8);
zoom: 1;}
**/
/*** Popop inputs background */
#emailOverlay input.idleField, #emailOverlay textarea {background:url(../images/bkg-input.jpg) repeat-x scroll 0 0 #FFFFFF;}

.applyscrolls { scrollbar-face-color:#798aa3;  scrollbar-arrow-color:#ffffff;   scrollbar-track-color:#3b4e6c;   scrollbar-shadow-color:rgb(0,0,0);   scrollbar-highlight-color:rgb(0,0,0);   scrollbar-3dlight-color:#798aa3;   scrollbar-darkshadow-Color:#3b4e6c;}

#productContainer #productInfo { overflow:hidden; }
#productInfo .iconList {zoom:1; height:0;}

/*#collectionTitle { z-index:-1; }*/
#collectionTitle a { z-index:4; }
/** Z-index fixes for IE brwosers**/

#menu, #menu a{z-index:3;}
#menu .carrot { z-index: 5; background-image: url(../images/icon-megamenu-pointer.gif) }
#megaStyles .carrot { left: 680px; }
#megaRooms .carrot { left: 765px; }
#nav ul { display: inline; }
.mega #megaStyles li a, .mega #Themes li a, .mega #megaCatalog li a   {  text-indent:-15px; }

.collectionDiscover a, .stylesDiscover a { background: url(../images/icon-menu-arrow.gif) no-repeat 100% 50% transparent !important; }

/*.mega #megaStyles li { padding:0; margin:0;}*/
/*
.signIn #signinContent {position:absolute; z-index:4; background: url(../images/bkg-signin.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:10px; right:-40px; }

*/
/** Page specific fixes**/
/** PRODUCT DETAILS PAGE :**/
#products td span {    /*top:-60px;*/    left:0px;    position:absolute;    text-align:center;    width:260px;   /*height:55px;*/   top:185px;}	
#products td {   width:309px;    /*height:340px;*/    height:280px;    overflow:hidden; }    
#lookBookList div.dropdown {top:22px;left:-4px;}
#layoutListing .lookBookList div.dropdown{ zoom:1; position:relative; top:-2px; left:-20px }

.lookBook .lookbookDropdown div.dropdown {  overflow:hidden!important; left:-10px; /*background-color:#ffffff;*/ z-index:100; top:-1px; position:relative; zoom:1;}


.lookBook .hrLine { width:270px;  zoom:1!important;  position:static!important; margin-left:-10px!important;}


/*.lookBook .divAddToLookbook {
background: pink url(../images/hr-dot.gif) repeat-x center bottom;
padding-bottom:8px;

}*/

/*** Gif files for IE browser**/
#ddlSearchOptions label.dropdown {background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important;border:medium none !important;color:#FFFFFF;font-size:1.08em;line-height:38px;}
#searchResults .dlrSearch {background:url("../images/bkg-dealer3.gif") no-repeat scroll 0 0 transparent;float:left;height:67px;line-height:40px;overflow:hidden;width:173px;}
#searchResults {z-index:-9999999;}
#layout2 label {line-height:1.8em;}
/* Order Status */
table#orders tr {height: 37px;}

/* Contact forms */
.footer-contact {display:block;}
#contactForms .radioSet label {margin-top:9px; }


#lookBookList div.dropdown li.lastItem a{border-top:1px dotted #656565 !important;}
#lookBookList div.dropdown {left:0 !important;}
#lookBookList div.dropdown ul.dropdown li.lastItem a {color:#BB6D3D !important;}

#editLookbookName input.idleField, #divSelectOrCreateLookbook input.idleField { padding:0px 0 8px 10px;}

#divSelectOrCreateLookbook a.backLink { font-size:10px !important; }


/* FROM ie67.css */

.iconList {height:27px!important;}


/** availability chnage page **/
#availabilityChange #error .cartButtons a{float:none!important;}
/** alt header needs padding for ie browsers**/

/** the following adds separator line to the bottom of listcontents via td, not tr which is unsupported by ie**/
.listContents tbody tr.first td.productImage, 
.listContents tbody tr.first td.productInfo, 
.listContents tbody tr.first td.pricingContent 
{background:none;}
.listContents tbody tr td.productImage{background:url("../images/separator-products.jpg") no-repeat scroll 0 96% transparent;}
.listContents tbody tr td.productInfo{background:url("../images/separator-products.jpg") no-repeat scroll -160px 96% transparent;}
.listContents tbody tr td.pricingContent{background:url("../images/separator-products.jpg") no-repeat scroll -600px 96% transparent;}

#randomFooter {position:relative; top:4px; z-index:1;}
/** Register page footer gap **/
.footer-register {top:5px;}
#registerAccount label {padding-bottom:0;}  /** Padding in ie6 only too large**/

/** Search page **/
#selectSize div.alpha-shadow, #selectSize ul.alpha-shadow {left:50px;}
#ColorsFinishes .indenter{zoom:1;}
#advancedSearchPanel #selectSize{z-index:2;}

/** When new dropdown list was introduced, extra ul markup caused issues w/line height**/
#lookLinks .dlist, #loginLinks, #lookSelect, .divAddToLookbook{zoom:1;}
/* #loginLinks { width: 165px; }
#lookLinks { width: 130px; } /* setting a min width on header links */
.lookBook .divAddToLookbook {margin-top:10px;}
#browseView label, #lookSelect label.dropdown { background-image: url(../images/icon-arrow-ie6.gif) }



.ld {line-height:1.2em;}
/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**/
.productList #selectCategory, .productList #selectSubcategory{z-index:2;}
#gridView ul li{z-index:1;}
#advancedSearchPanel .dimensions {z-index:2;}

 /*behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
/** Lookbook page **/
.lookBook td.pricingContent  {position:static;} /** fixes z-index issues **/
.lookBook .hrLine {clear:both;height:10px;position:relative;top:0;left:-5px;padding:0;margin:0 0 10px 0; }

/** Opacity for fuzz **/
#fuzz { display: none !important; }



/** tabs  / icons **/
 .ajax__tab_active {background:#fff;position:relative; top:2px;}
 .ajax__tab_tab {display:block; padding:0px 0; height:15px;}
 .ajax__tab_header {margin-top: 10px;}
 .iconPrint{background: url(../images/icons.gif) -25px -2px no-repeat; width:25px; height:25px;} 
 input.idleField, textarea.idleField {line-height:28px;font-size:12px;}
 
 
.pnlAboutButtons { float: right; width: 200px; margin: 0; }
.smseparator { display: inline-block; }
.ui-dialog .ui-dialog-content {overflow:hidden;}
/*#container .pRptAssociates .btnRevoke{position: relative;top: -18px;}*/
/*#container .pRptAssociates span.line {position: relative;top: -15px;}*/
.clear{clear: both; height: 1px;overflow: hidden;}

a.backToTop {    position: relative;    top: 10px;    padding-left: 18px;    background:url(../images/houseofta/back-to-top.gif) no-repeat center left;
    width: 300px;
    height: 30px;
}
#house-ta-content-diversity a.backToTop, #craft-container a.backToTop { width:auto; height:auto;float:right;}
.dropdownleft label.dropdown{ background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important; padding-bottom:2px;}

.story ul { position: relative; right: 40px; }
ul.nav { position: relative; bottom: 15px;}
.content-glossary div.nav {padding: 15px 0 0 0;}
.content-glossary div.nav span {padding-top:0px;margin-top:-1px;}
.content-glossary div.nav ul {margin-top:10px;}

#photos .clear
{ clear:both; padding-bottom:10px;}
.pressreleases #tabs ul.ui-tabs-nav li { padding-top: 4px; }
#tabs ul.ui-tabs-nav li a {
    padding:11px 25px 11px 25px;
}

#tabs ul.ui-tabs-nav li.tab2 a{
    *background: url(../images/HouseofTA/tab2-off.gif) no-repeat 0px 0;
}
#tabs ul.ui-tabs-nav li.ui-state-active a  
{
    color:#19212E;
    *background:#ffffff none;
    _background:#ffffff url(../images/HouseofTA/tabs-border.jpg) no-repeat right top;
}

#products td a span.name { top:200px;}
/*
#craft-container { float:left; position:relative; }
#craft-container #house-ta-sidebar { position:relative; float:left; }
#craft-container #house-ta-content {top:0; float:none; position:absolute; left:0;}
*/
#tabNav { background: url(../images/account/back-tabs.jpg) repeat-x left 52px !important; width: 881px; height: 1px;}
#tabNav li.left.first, #tabNav li.selected.first { background: none no-repeat left bottom !important; } 
#export { _bottom:80px; } 

.ui-dialog .ui-dialog-buttonpane { text-align: left; left: -5px; bottom: 30px; }
.ui-dialog .ui-dialog-buttonpane button { position: relative; top: 0; left: 50px; }
.ui-button-text-only-modal { margin-bottom: 10px; }

/** Header specific page based **/
/* #lookSelect, #browseView {z-index:7;} /** important: ie browser head menus fix, display in front of mega menu **/

/*  #signinPanel{position:relative;} */
.signIn {position:absolute;right:36px;top:20px;}


/** Product page**/
.productList #listingHeading { background: url(../images/bkg-productlist.jpg) no-repeat;width:928px; margin:0 auto;}
#gridView .productname{left:16px;background: url(../images/bkg-gridview.jpg) no-repeat;}


/** Search page **/
.productimage { zoom: 1; width:281px !important;  height:290px !important; }
td.productimage .productAni {word-wrap: break-word; z-index:99;text-align:center; left:0px; bottom:30px; zoom: 1; }

td.productimage .productAni table {
    position:absolute;
    left:0;
    top:45px;
}


/** Locate Dealer **/
#searchForm #searchByName input, #searchForm #searchByZip input  {font-size:10px;}


#locateDealer .dlrSearch {position:relative;top:0;_top: -3px;}
#searchForm #searchByName {vertical-align: middle;}

#searchForm #filterByMiles div { top:0; left:0px; position:relative; }
#searchForm #filterByMiles div.dropdown {border:1px solid #BFBFBF !important;}
#searchForm #searchByZip label, #searchForm #searchByName label{  float:left; line-height:28px; }
#searchForm #searchByName a.button {position:relative; top:-6px;}
.tooltip2, .tooltip3 { *left:0px;}

#advancedSearchPanel ul#hasBoxes{margin-left:35px !important; margin-top: 2px !important; padding-top: 0 !important; }
#advancedSearchPanel ul#hasBoxes li { width:180px }

/* Shopping cart */
#shoppingCart #selectCategory label.dropdown {background:url(../images/icon-arrow-l.gif) 95% 50% no-repeat !Important;}
#shoppingCart #footerCart table {display:inline;}

/** Bottom footer image fix **/
.footer-bottom{position:relative;}

/*  Register */
#layout2 {height:1200px;}

#searchResults #searchPanel, #searchResults #advancedSearch  {position:inherit !important;}

/** Contact Us  **/
#contactForms { height:auto;}
#contactForms .floatLeft {height:auto;overflow:visible}
#contactForms input.idleField, #contactForms textarea.idleField {background:url("../images/bkg-input.jpg") repeat-x scroll 0 0 transparent;}

li.dropdownInclusive .dropdownLabel { margin-left: 10px; }
#ctl00_ContentPlaceHolderMiddle_LookbookItems1_ddlSortOrder_divOne .dropdownLabel { margin-left: 0; }

.contactus div.alpha-shadow ul { _margin-right: -1px; width:278px !important; }

ctl00_ContentPlaceHolderMiddle_ddlSubject_list div ul.dropdown { background: none !important; background-color: #fff !important; width:278px !important; }


/* SEARCH INPUT */

a.section-link {margin:-25px 0 0 0; clear:both}

#searchResults #searchPanel, #searchResults #advancedSearch  {position:inherit !important; z-index: 1 !important;}

#browseView ul.dropdown {
  overflow:hidden !important;
}



/* Radio button fix in Request a Quote form on product detail page */
#requestQuate #designerDiv input { margin:4px; margin-left:5px }


/* Original IE6.css */

/** Global Elements : header, background **/
#header #searchInput { background: url(../images/sprite-search.gif) no-repeat 0 0 transparent; }
#header #searchInput input { float: left; }
#taSlogan { filter:Alpha(opacity=40);  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
#topper {background: url(../images/ta_bkg-top.gif) 0 0 transparent;position:absolute; top:0; left:0;height:297px; width:100%;z-index:-1;}
#bottomer { background: none; }
#lefter {background: url(../images/ta_bkg-middle.gif) 0 0 transparent; position:absolute; left:0; height:100%;z-index:-1;}
#righter {background: url(../images/ta_bkg-middle.gif) 0 0 transparent; position:absolute; right:0; height:100%;z-index:-1;}
#fuzz{ position:absolute; top:0; left:0; min-height:100%; width:100%; height:100%; background: #000; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); filter:Alpha(opacity=70); display:none; text-align:left;}  

.paging .pagingNums a {position:static;}

/** Product LIsting page **/
.productList #showFilter { width:300px }
.productList #showFilter ul {width:auto;zoom:1;margin:0;line-height:1.8em; padding:5px 0; width:190px;}
.productList #showFilter li {padding:10px 0!important;line-height:1em;}
.productList #showFilter span {color:#BA6D3D;display:block;padding:0 12px 0 15px;}
.productList #showFilter label {display:block; float:left;padding:0px;}
.productList #showFilter li input, .productList #showFilter li label {color:#ba6d3d; padding: 5px 12px;display:block;color:#fff; float:left;zoom:1;}

/** Lookbook page **/
.hrLine {margin:10px 0 0 0;}

.divAddToLookbook{position:static;}
/*#layoutListing .lookBookList{z-index:11;}*/

/** Page fixes for ie / z-index based**/

#searchForm{z-index:5;position:absolute;clear:both;top:122px;} 
/*
#genLinks a, #loginLinks a, #lookLinks .dlist a, 
#lookLinks, #header h1 a, #searchInput, #browseView{z-index:1;position:relative;}
#signinPanel{z-index:9;position:relative;}
#lookLinks .dlist a, #lookLinks, #browseView {z-index:9;} /** important: ie browser head menus fix, display in front of mega menu **/
.signIn {position:absolute;right:36px;top:20px;}
.signIn a.btnClose {right:-39px;}
/* float clearing for IE6 */
.clearfix{ height: 1%;  overflow:visible;zoom:1;}

#lookLinks { z-index: 4; width: 130px; }
#loginLinks { width: 370px; }


/** PNG Alternative .gif file listing   **/
.videoLaunch a {background:url("../images/icon-playvideo.gif") no-repeat scroll 0 0 transparent;display:block;height:43px;left:20px;position:absolute;top:20px;width:48px;}
.iconClose {background: url(../images/icons.jpg) no-repeat -247px -56px; width:25px; height:25px;position:absolute;right:22px;top:16px;width:25px;}
.iconArrowRight {background: url(../images/icons.jpg) no-repeat -334px -2px; width:22px; height:22px; }
.icon {display:block; float:left;}
.iconPrint span, .iconEmail span, .iconLookbook span, .iconClose span {display:none;}
.iconPrint{background: url(../images/icons.gif) -25px -2px no-repeat; width:25px; height:25px;}
.iconEmail{background: url(../images/icons.gif) no-repeat -52px -2px; width:25px; height:20px;}
.iconArrowRight{display:inline-block; margin-left:5px; background: url(../images/icons.gif) -334px -3px no-repeat; width:10px; height:8px; }
.iconLookbook, .wrapper .iconLookbook{background: url(../images/icons.gif) no-repeat -110px 0px; width:25px; height:25px;}
.wrapper .iconLookbook { background: url(../images/icons.gif) no-repeat -113px -3px;}
.iconLookbookPopup {background: url(../images/icon-lookbookpopup.jpg) no-repeat 0 4px; width:20px; height:17px; padding-left:25px;}
.iconK {display:inline-block;background: url(../images/icons.jpg) no-repeat -90px -80px; width:26px; height:26px; vertical-align:middle;}
.iconA {display:inline-block;background: url(../images/icons.gif) no-repeat -120px -80px; width:26px; height:26px;vertical-align:middle; }
.iconP {display:inline-block;background: url(../images/icons.gif) no-repeat -51px -20px; width:26px; height:26px;vertical-align:middle; }
.lookBook #selectOrder label.dropdown {background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 50% transparent !important;border:medium none !important;color:#FFFFFF;font-size:14px;font-weight:bold;line-height:38px;margin-left:10px;width:280px;}
#advancedSearchPanel .tipsy-arrow {background:url("../images/tooltip-tag.gif") no-repeat scroll 0 0 transparent;height:12px;position:absolute;width:18px;top:34px;}
#sliderview .ui-widget-content{background:url(../images/bkg-slider.gif) repeat-x 50% 50%;}
#sliderView .ui-slider .handle-left{background: url(../images/btn-slider.gif) no-repeat;width:25px; height:25px;}
#sliderView .ui-slider .handle-right{background: url(../images/btn-slider-r.gif) no-repeat;width:25px; height:25px;}
.iconFavorite {width:26px; height:26px; }
.iconMakeFav {background: url(../images/icons.jpg) no-repeat -332px -55px; }
.iconIsFav {background: url(../images/icons.jpg) no-repeat -310px -55px; }
.iconHelp {background: url(../images/icons.jpg) no-repeat 0px -27px; width:18px; height:16px;}
.iconArrowUp {background:url("../images/icons.gif") no-repeat scroll -357px -3px transparent;display:inline-block;height:9px;margin-left:5px;padding-right:10px;width:3px;}
.ez-checkbox {background: transparent url('../images/checkbox.gif') 0 0 no-repeat; zoom: 1; display:block; height:18px;}
#locateDealer .dlrSearch {background: url(../images/bkg-dealer3.jpg) no-repeat; width:173px;float:left; overflow:hidden; height:67px; line-height:40px;margin-top:30px;}
.keno-out{background: url(../images/logo-keno.gif) no-repeat;width:300px; height:50px; }
.althorp-out{background: url(../images/logo-althorp.gif) no-repeat; width:300px; height:50px; }
/*
#megaCollections .collectionDiscover span {background:url("../images/menu-collection-arrow.jpg") no-repeat scroll 100% 50% transparent; }
#megaCatalog .catalogDiscover span {background: url("../images/menu-catalog-arrow.jpg") no-repeat 100% 50%; padding: 0 10px; }
#megaStyles .stylesDiscover span {background:url("../images/menu-style-arrow.jpg") no-repeat scroll 100% 50% transparent; }
*/
#galleryView .iconLookbook {float:left;background:url("../images/icons.gif") no-repeat scroll -85px -5px transparent;height:15px;width:20px;}


#searchResults #advancedSearch .advancedOver a{background:url("../images/icon-arrow-l.gif") no-repeat scroll 100% 50% transparent !important;padding-right:20px;padding-left:20px;font-style:italic; font-weight:bold; font-size:0.917em; color:#fff; font-family:georgia,garamond,serif!important; line-height:50px; }
/*#searchResults #advancedSearch .advancedOver .-over {background:url("../images/icon-advancedsearch-over.gif") no-repeat scroll 100% 50% transparent !important; color:#8bb0e9; text-decoration:underline;}*/
#searchResults #advancedSearch .advancedOver a.on{background-image:url(../images/icon-arrow-l-up.gif) !important;}

.iconArrowRightAlt{display:inline-block; margin-left:5px; background: url(../images/icons.gif) -335px -3px no-repeat; width:10px; height:9px;position:relative; }

#galleryView .gpInfo { height:90px; width:620px }
#galleryView .galleryImage { height:430px; overflow:hidden; }
#galleryView .gpButtons {float:right; width:165px; margin:40px 20px 0 0px; }


.ez-checked { background-position: 0 -19px;zoom:1; }
.ez-selected { background-position: 0 -19px; zoom:1;}
.productList #showFilter li {padding:15px;}
.paging .buttons {zoom:1;}


#lookbookAddNoReg .iconLookbookPopup { margin-top:0; }
#lookbookAddNoReg h1 { margin-left: 0px; padding-left:28px !important }



/** Dropdown images **/
label.dropdown {background:url("../images/icon-arrow.gif") no-repeat scroll 98% 50% transparent;border:1px solid #C3C1C2;display:block;padding:10px;position:relative !important;}
#ddlSearchOptions label.dropdown {background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important;border:medium none !important;color:#FFFFFF;font-size:1.08em;line-height:38px;}
.productList #listingHeading label.dropdown {background:url("../images/icon-arrow-orange.gif") no-repeat scroll 95% 60% transparent !important;border:medium none !important;color:#FFFFFF;font-weight:bold;line-height:34px;margin:0 auto;width:203px;}
.lookBookList label.dropdown-lb {background: url(../images/icons.gif) no-repeat;position:relative !important;width:45px;height:28px;border:none!important;text-indent: -2000px;z-index:3;padding:0!important;}
.productList #listingHeading {background: url(../images/bkg-productlist.gif) no-repeat; width:928px; margin:0 auto;}

#ctl00_ContentPlaceHolderMiddle_ddlSpecialGroups_lblSelected { width: 281px !important; }

/** Shadow or ie 6 **/
/* .alpha-shadow div {filter:progid:DXImageTransform.Microsoft; .AlphaImageLoader {(src='../images/shadow2.png', sizingMethod='crop')}; background: none;} */


/** Page Specific Settings **/

#searchResults .dlrSearch {width:100px;}
#locateDealer .dlrSearch {width:100px;}
#photos .clear{ clear:both; background:green; padding-top:10px; padding-bottom:25px; height:25px;}

#house-ta-content #photos div.clear {padding:0;height:1px;background-color:transparent;}

.footer-bottom {width:981px;height:83px;position:relative;background-color:#fff; }  
#emailOverlay{top:100px; right:235px;position:absolute;}
.hpLink{display:block!important;position:relative; /*z-index:99;*/}
.hpLink:hover{text-decoration:underline;}


.productList #listingHeading { background: url(../images/bkg-productlist.jpg) no-repeat;width:928px; margin:0 auto;}

/** Order Received **/
#orderInfo.separator-line { top: 20px;}
 
.materials {zoom: 1;}
#container {overflow:visible;}

ul#categoryList li li { width:auto!important; }
ul#categoryList li ul.bottom li {  margin-left:0px }

span.iconArrowRight { margin-bottom:1px ;width:11px; margin-left:3px }

.content-sidebar-right div {margin-bottom:0px;}

.story, .glossary {position:relative;}
.story .story-content, .glossary .story-content {position:absolute;top:50%; height:1px}
.story .story-content div, .glossary .story-content div {position:relative;top:-50%; }


#sitemap {padding-left: 12px; width: 822px !important; }


/* shopping cart fix */
#cartFooter { width:926px; }

/* Dealer search fix */
#locateDealer { position: relative; width:925px; margin:0 auto; padding: 100px 0 40px ; height:250px;}
#locateDealer .dlrSearch {background: url(../images/bkg-dealer3.png) 0 0 no-repeat; width:175px;float:left; overflow:hidden; height:67px; line-height:40px;margin-top:30px;}
#searchForm { display:none; position:absolute; top: 81px; z-index:100; background: url(../images/bkg-searchbar.jpg) no-repeat;}

/*
#searchForm #filterByMiles label.dropdown, #searchForm #filterByMiles div.dropdown {padding-top: 7px; padding-bottom:5px;}
*/

#ctl00_ContentPlaceHolderMiddle_ddlFilterByMiles_divOne  { top:0; left:10px; position:relative; }

#searchForm #filterByMiles  { top:0; left:10px; position:relative; }
#searchForm #filterByMiles  div { top:0; left:-10px; position:relative; }

#locateDealer .alpha-shadow {width:270px!important;}

#filterByMiles div.alpha-shadow {width:113px!important;border:none;background:#fff!important; -moz-box-shadow: none;-webkit-box-shadow: none; margin: 27px 0 0 0!important; padding: 0 0 0 0!important;}
#filterByMiles div.alpha-shadow ul {font-size:10px;width:113px!important;padding: 0 1px 0 0!important;border:none;background:#fff!important;padding:0!important; -moz-box-shadow: none;-webkit-box-shadow: none;}
#filterByMiles div.alpha-shadow ul li a { padding-left: 10px !important; }




#container { /*position:static;*/}
#searchInput input { margin-top:-2px;  }
/** include last **/
.lookBookList ul.dropdown li:last-child { border-top: expression(this.previousSibling==null?'2px solid #656565':'2px solid #656565');}

/* Account settings fix */
.pnlStores input {height:15px;}

/* lookbook drop downs */

.lookBook .lookbookDropdown label { position: absolute !important; z-index: 1 !important; }

.dlist li .dropdown.alpha-shadow { position: absolute !important; z-index: 9999 !important; background-color: #fff !important; }





