body{font-size:16px;}

.clearfix {display:block ;zoom:1;}
.clearfix:after {	content:".";	display:block;	height:0;	clear:both;	visibility:hidden;}

/** shadows utilize ie htc file **/
.popup-shadow2, .popup-shadow{ 
	/* box-shadow: 10px 10px 20px #222; */ /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	/* ie shadow **/
	behavior: url(../../assets/js/ie-css3.htc);
}

#galleryView .gpInfo { height:90px; width:620px }
#galleryView .galleryImage { height:430px; overflow:hidden; }
#galleryView .gpButtons {float:right; width:165px; margin:40px 20px 0 0px; }

.dropdownLabel label.InitialHtmlFixed.dropdown{ margin-left: -10px; }
.dropdownInclusive .alpha-box.lookbookdd { margin-left: -10px; }

/* Mega Menu ie7 fixes */
.instock #item1-2 { padding-top: 15px;}
.instock #item2-3 { padding-top: 15px; }
.instock #item3-3 { padding-top: 15px; }
.instock #item4-3 { padding-top: 15px; }

.signIn a.btnClose {display:block; position:absolute; right:-40px; top:-20px; background: url(../images/icons.png) -275px -46px no-repeat; width:39px; height:37px;padding:0!important;z-index:999; }
.signIn #signinContent {position:absolute; z-index:5; background: url(../images/bkg-signin2.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:15px; right:-40px;}
.signIn a.button {color:#fff!important;}
/** Apply height to dropdowns : add names of dropdowns to apply height to.**/
#ddlSearchOptions ul.dropdown { height: expression(this.scrollHeight >= 220 ? "220px" : this.scrollHeight <= 40 ? "40px" : "auto");}

#ctl00_ContentPlaceHolderMiddle_uPnlStoreLists { margin:75px auto 0; }

#divSelectOrCreateLookbook a.backLink { font-size:10px !important; }

/** Shadows for IE browsers 
div.popup-shadow {  float:left;  background: url(../images/shadowAlpha.png) no-repeat bottom right !important;  background: url(../images/shadow.gif) no-repeat bottom right;  margin: 10px 0 0 10px !important;  margin: 10px 0 0 5px;  }
div.dropdown {border:none!important;}
div.popup-shadow div {  display: block;  position: relative;  background-color:#fff;  border:1px solid #d0d0d0;  margin: -6px 6px 6px -6px;  padding: 4px;  } 
div.popup-shadow2{filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction= 135, Strength=8);
zoom: 1;}
**/

div.alpha-shadow { border: 1px solid #efefef; border-bottom: none ; }
.alpha-shadow { border-bottom: none!important; background: #fff!important; }

.applyscrolls { scrollbar-face-color:#798aa3;  scrollbar-arrow-color:#ffffff;   scrollbar-track-color:#3b4e6c;   scrollbar-shadow-color:rgb(0,0,0);   scrollbar-highlight-color:rgb(0,0,0);   scrollbar-3dlight-color:#798aa3;   scrollbar-darkshadow-Color:#3b4e6c;}

.signIn .btnCancel {text-decoration:underline!important; margin-top: -6px; }


#productInfo .iconList {zoom:1; height:0; }
/** Z-index fixes for IE brwosers**/


#menu, #menu a{z-index:3;}
#megaStyles .carrot { left: 680px; }
#megaRooms .carrot { left: 765px; }
/*
.signIn #signinContent {position:absolute; z-index:4; background: url(../images/bkg-signin.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:10px; right:-40px; }

*/
/** Page specific fixes**/
/** PRODUCT DETAILS PAGE :**/
#products td span { /*top:-60px;*/left:0px; position:absolute; text-align:center; width:260px; /*height:55px;*/ top:185px;}
#products td {   width:309px;    /*height:340px;*/    height:280px;    overflow:hidden; }    
#lookBookList div.dropdown {top:22px;left:-4px;}

.AddToCart .btnCart {color:#fff; font-weight:bold; display:block; height:20px !important; line-height: 11px !important;width:48px;margin-right:0!important; margin-top:1px; }

/*** Gif files for IE browser**/
#ddlSearchOptions label.dropdown {background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important;border:medium none !important;color:#FFFFFF;font-size:1.08em;line-height:38px;}
#searchResults .dlrSearch {background:url("../images/bkg-dealer3.gif") no-repeat scroll 0 0 transparent;float:left;height:67px;line-height:40px;overflow:hidden;width:173px;}
#searchResults {z-index:-9999999;}
#layout2 label {line-height:1.8em;}
/* Order Status */
table#orders tr {height: 37px;}

/* Contact forms */
.footer-contact {display:block;}
#contactForms .radioSet label { margin: 5px 0 0 0 !important; padding: 0 0 0 0; }
#contactForms .radioSet input { height: 22px; border: 1px solid #333; }
.radio { line-height: 23px; }

#lookBookList div.dropdown li.lastItem a{border-top:1px dotted #656565 !important;}
#lookBookList div.dropdown {left:0 !important;}
#lookBookList div.dropdown ul.dropdown li.lastItem a {color:#BB6D3D !important;}

#editLookbookName input.idleField, #divSelectOrCreateLookbook input.idleField { padding:0px 0 8px 10px; font-family: Arial, Helvetica, Verdana, sans-serif; }

/* From IE67.css */

.clearfix { display:inline-block; }

.iconList { height:27px!important; }

/** availability change page **/


#availabilityChange #error .cartButtons a{float:none!important;}
/** alt header needs padding for ie browsers**/

/** the following adds separator line to the bottom of listcontents via td, not tr which is unsupported by ie**/
.listContents tbody tr.first td.productImage, 
.listContents tbody tr.first td.productInfo, 
.listContents tbody tr.first td.pricingContent 
{background:none;}
.listContents tbody tr td.productImage{background:url("../images/separator-products.jpg") no-repeat scroll 0 100% transparent;}
.listContents tbody tr td.productInfo{background:url("../images/separator-products.jpg") no-repeat scroll -160px 100% transparent;}
.listContents tbody tr td.pricingContent{background:url("../images/separator-products.jpg") no-repeat scroll -600px 100% transparent;}

/** Register page footer gap **/
.footer-register {top:5px;}
#registerAccount label {padding-bottom:0;}  /** Padding in ie6 only too large**/

/** Search page **/
#selectSize div.alpha-shadow, #selectSize ul.alpha-shadow {left:50px;}
#ColorsFinishes .indenter{zoom:1;}
#advancedSearchPanel #selectSize{z-index:2;}

/** When new dropdown list was introduced, extra ul markup caused issues w/line height**/
#lookLinks .dlist, #loginLinks, #lookSelect, .divAddToLookbook{zoom:1;}

#lookSelect ul.dropdown li { line-height:25px; margin:0; }

#lookLinks { z-index: 4; width: 130px; }
#loginLinks { width: 370px; }

label.dropdown.dropdown-lb  { z-index: 5 !important; position: absolute; top: -30px !important;left: 0 !important; }
/*

.dropdownInclusive .dropdown.alpha-shadow { top: -30px !important; }
*/

.ld {line-height:1.2em;}
/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**/
.productList #selectCategory, .productList #selectSubcategory{z-index:2;}
#gridView ul li{z-index:1;}
#advancedSearchPanel .dimensions {z-index:2;}

 /*behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
/** Lookbook page **/
.lookBook td.pricingContent  {position:static;} /** fixes z-index issues **/
.lookBook .hrLine {margin:10px 0 10px 0; height: 10px; }
.pricingContent ul.details li label {float:none;}
/* 
.lookBook .lookbookDropdown ul.dropdown li {border-left:none; }

*/

/** Opacity for fuzz **/
#fuzz { display: none !important; } /* hiding fuzz */

/** Lookbook page (list view)numbers position **/
.paging .iconArrowRight{ position: static!important;}
.paging .iconArrowLeft{ postition: static!important; }

/** tabs  / icons **/
 .ajax__tab_active {background:#fff;position:relative; top:2px;}
 .ajax__tab_tab {display:block; padding:0px 0; height:15px;}
 .ajax__tab_header {margin-top: 10px;}
 .iconPrint{background: url(../images/icons.gif) -25px -2px no-repeat; width:25px; height:25px;} 
 input.idleField, textarea.idleField {line-height:28px;font-size:12px;}
 
 
.pnlAboutButtons { float: right; width: 200px; margin: 0; }
.smseparator { display: inline-block; }
.ui-dialog .ui-dialog-content {overflow:hidden;}
/*#container .pRptAssociates .btnRevoke{position: relative;top: -18px;}*/
/*#container .pRptAssociates span.line {position: relative;top: -15px;}*/
.clear{clear: both; height: 1px;overflow: hidden;}

a.backToTop { position: relative; top: 10px; padding-left: 18px; background:url(../images/houseofta/back-to-top.gif) no-repeat center left; width: 300px; height: 30px; }

#house-ta-content-diversity a.backToTop, #craft-container a.backToTop { width:auto !important; height:auto !important; float:right !important;}
.dropdownleft label.dropdown{ background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important; padding-bottom:2px;}

.story ul { position: relative; right: 40px; }
.content-glossary div.nav {padding: 15px 0 0 0;}
#photos .clear
{ clear:both; padding-bottom:10px;}
.pressreleases #tabs ul.ui-tabs-nav li { padding-top: 4px; }
#tabs ul.ui-tabs-nav li a { padding:11px 25px 11px 25px; }

#tabs ul.ui-tabs-nav li.tab2 a{
    *background: url(../images/HouseofTA/tab2-off.gif) no-repeat 0px 0;
}
#tabs ul.ui-tabs-nav li.ui-state-active a  
{
    color:#19212E;
    *background:#ffffff none;
    _background:#ffffff url(../images/HouseofTA/tabs-border.jpg) no-repeat right top;
}

#products td a span.name { top:200px;}
/*
#craft-container { float:left; position:relative; }
#craft-container #house-ta-sidebar { position:relative; float:left; }
#craft-container #house-ta-content {top:0; float:none; position:absolute; left:0;}
*/
#tabNav { background: url(../images/account/back-tabs.jpg) repeat-x left 52px !important; width: 881px; height: 1px;}
#tabNav li.left.first, #tabNav li.selected.first { background: none no-repeat left bottom !important; } 
#export { _bottom:80px; } 

.ui-dialog .ui-dialog-buttonpane { text-align: left; left: -5px; bottom: 30px; }
.ui-dialog .ui-dialog-buttonpane button { position: relative; top: 0; left: 50px; }
.ui-button-text-only-modal { margin-bottom: 10px; }

/** Header specific page based **/
/* #lookSelect, #browseView {z-index:7;} /** important: ie browser head menus fix, display in front of mega menu **/
#megaCollections #collectionLogos .althorp,#megaCollections #collectionLogos .keno{display:inline-block;}
 #signinPanel{position:relative; z-index: 10;}
.signIn {position:absolute;right:36px;top:20px;}


/** Product page**/
.productList #listingHeading { background: url(../images/bkg-productlist.jpg) no-repeat;width:928px; margin:0 auto;}

td.productimage .productAni {left:0px; bottom:30px; }

/** Locate Dealer **/
#searchForm #searchByName input, #searchForm #searchByZip input  {font-size:10px;}


#locateDealer .dlrSearch {position:relative;top:0;_top: -3px;}
#searchForm #searchByName {vertical-align: middle;}

#searchForm #filterByMiles div { top:0; left:0px; position:relative; }

#searchForm #filterByMiles .dropdownLabel { margin-top: -2px; border:1px solid #BFBFBF !important; }
#searchForm #filterByMiles .dropdownLabel label { margin-top: 0; padding-bottom: 6px; background-position: 97% 40%; background-color: #fff; border: none !important; }

#filterByMiles div.alpha-shadow { top: -28px !important; width: 113px !important; border:1px solid #BFBFBF !important; }

/*
#filterByMiles div.alpha-shadow ul {font-size:10px;width:113px!important;padding: 0 1px 0 0!important; border:none!important; background:#fff!important;padding:0!important; -moz-box-shadow: none;-webkit-box-shadow: none;}
*/
#searchForm #searchByZip label, #searchForm #searchByName label{  float:left; line-height:28px; }
#searchForm #searchByName a.button {position:relative; top:-6px;}
.tooltip2, .tooltip3 { *left:0px;}


/* Shopping cart */
#shoppingCart #selectCategory label.dropdown {background:url(../images/icon-arrow-l.gif) 95% 50% no-repeat !Important;}
#shoppingCart #footerCart table {display:inline;}

/** Bottom footer image fix **/
/*
.footer-bottom{position:relative; bottom:-5px;}
*/

/*  Register */
#layout2 {height:1200px;}
/*
#searchResults #searchPanel, #searchResults #advancedSearch  {position:inherit !important;}
*/
/** Contact Us  **/
#contactForms { height:auto;}
#contactForms .floatLeft {height:auto;overflow:visible}

div.alpha-shadow ul { background: #fff !important; }

div.alpha-shadow.lookbookdd { -moz-box-shadow: 3px 3px 5px #333;-webkit-box-shadow: 3px 5px 5px #333;padding: 0px 1px 0px 0; background-color: #262525; border:1px solid #262525; }

div.alpha-shadow.lookbookdd ul  { border-left:1px solid #262525; border-bottom:1px solid #262525; background: #262525 !important; }

#ctl00_ContentPlaceHolderMiddle_ddlSubject_lblSelected { width: 275px !important; }
#ctl00_ContentPlaceHolderMiddle_ddlSubject_divTwo { top: 428px !important; border-top: none; width: 275px !important; }


/* SEARCH INPUT */
a.section-link {margin:-25px 0 0 0; clear:both}

/*
#searchResults #searchPanel, #searchResults #advancedSearch  {position:inherit !important; z-index: 1 !important;}
*/

#sliderView { width: 570px; padding-bottom:15px; clear:both; padding-top:35px; }

#advancedSearchPanel ul#hasBoxes{margin-left:35px !important; margin-top: 2px !important; padding-top: 0 !important; }
#advancedSearchPanel ul#hasBoxes li { width:180px }

#advancedSearchPanel #ColorsFinishes { width: 240px !important; margin-right: -2px; }
#browseView ul.dropdown {
  overflow:hidden !important;
}

#sitemap {padding-left: 12px; width: 820px; }

#ctl00_ContentPlaceHolderMiddle_ddlFilterByMiles_divTwo { margin-top: 24px; }

/* Radio button fix in Request a Quote form on product detail page */
#requestQuate #designerDiv input { margin:4px; margin-left:5px }


/* Original IE7.css */

#otherresults .iconArrowRight, #productResults .iconArrowRightAlt{margin-top: -12px;}

#lookSelect ul.alpha-shadow, #lookSelect div.alpha-shadow ul, #browseView ul.alpha-shadow, #browseView div.alpha-shadow ul { overflow:hidden;}

.popup-shadow3, .popup-shadow2, .popup-shadow{ 

	box-shadow: 1px 1px 3px #fff !important; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
 
}


span.iconArrowRight { margin-bottom:3px }
.content-sidebar-right div {margin-bottom:0px;}

.story, .glossary {position:relative;overflow:hidden}
.story .story-content, .glossary .story-content {position:absolute;top:10%; height:1px;}
.story .story-content div, .glossary .story-content div {position:absolute;top:-50%;}


/* Dealer Search */
#searchForm #filterByMiles label.dropdown {height: 20px;}

/** Order Received **/
#orderInfo.separator-line { top: 20px;}

/* Account settings fix */
.pnlStores input {height:15px;}

#container { position:static;}

/* Request Quote from's styles */
#requestQuote #copyMe {margin-top:-22px;}
#requestQuote #copyMe label {margin-left:-140px;}

/* space on image footer for IE7 */
#randomFooter {position:relative; top:4px; z-index:1;}

#seeVideos .video span.play {  display:none; }


.divAddToLookbook{position:static;}
.lookBook .lookbookDropdown div.dropdown { position:relative!important; top:-40px!important;} 
#searchInput input { margin-top:-2px;  }
/*#layoutListing .lookBookList {z-index:101!important; position:relative;}*/
#layoutListing .lookBookList div.dropdown{ zoom:1; position:relative; top:0; left:-10px }
.lookBookList label.dropdown-lb {z-index:0;position:static;zoom:1;}
.dropdownLabel {z-index:1;position:static;zoom:1;}
/*#layoutListing .sku li {z-index:auto;position:static;zoom:1; }*/
/*#layoutListing .sku {z-index:1; position:static;zoom:1;}*/
/*ul.dlist {z-index:1;position:static;zoom:1;}*/

/* header browse override "fix" - uncomment if other DD styles clash with the header dropdowns
#ctl00_ddlView_divTwo.dropdown.alpha-shadow.lookbookdd { width: 104px !important;  border-right:1px solid #262525; }

 */
 
 /* Category Listing page */
 ul#categoryList li ul.top li label { font-family:Georgia, "Times New Roman", Serif; font-size:16px; color:#252e3c;}

#dlrResults h1 {
height:25px;

}

td.buttons a.back { padding-top: 10px; height: 20px; line-height: 2em !important; overflow: visible !important; }

td.buttons a.back .iconArrowUp { background-position: -357px 1px; overflow: visible !important; line-height: 2em !important; height: 20px; }

#emailOverlay div ul li.buttons a.emailLink { padding:4px 10px 36px 10px; text-decoration:underline;font-size:10px; }

#pValidationError.error ul { margin: 0 0 0 10px; }
#pValidationError.error ul li { list-style: circle !important; font-weight: bold; font-size: 11px; }

#icon-is{ position: relative; top: -29px; left: 85px; }


