/* body{font-size:16px;} */

.dropdownLabel .dropdown  a { margin-left: 10px; }
.dropdownInclusive .alpha-box.lookbookdd { margin-left: -10px; }

.clearfix {display:block ;zoom:1;}
.clearfix:after { content:"."; display:block; height:0;	clear:both;	visibility:hidden; }

/** shadows utilize ie htc file **/
.popup-shadow2, .popup-shadow{ box-shadow: 10px 10px 20px #222; behavior: url(../../assets/js/ie-css3.htc); }


/*
.signIn a.btnClose {display:block; position:absolute; right:-40px; top:-20px; background: url(../images/icons.png) -275px -46px no-repeat; width:39px; height:37px;padding:0!important;z-index:999; }
.signIn #signinContent {position:absolute; z-index:5; background: url(../images/bkg-signin2.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:15px; right:-40px;}
.signIn a.button {color:#fff!important;}
*/

/** Apply height to dropdowns : add names of dropdowns to apply height to.**/
/*
#ddlSearchOptions ul.dropdown { height: expression(this.scrollHeight >= 220 ? "220px" : this.scrollHeight <= 40 ? "40px" : "auto");}
*/


/** Shadows for IE browsers 
div.popup-shadow {  float:left;  background: url(../images/shadowAlpha.png) no-repeat bottom right !important;  background: url(../images/shadow.gif) no-repeat bottom right;  margin: 10px 0 0 10px !important;  margin: 10px 0 0 5px;  }
div.dropdown {border:none!important;}
div.popup-shadow div {  display: block;  position: relative;  background-color:#fff;  border:1px solid #d0d0d0;  margin: -6px 6px 6px -6px;  padding: 4px;  } 
div.popup-shadow2{filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction= 135, Strength=8);
zoom: 1;}
**/

.applyscrolls { scrollbar-face-color:#798aa3;  scrollbar-arrow-color:#ffffff;   scrollbar-track-color:#3b4e6c;   scrollbar-shadow-color:rgb(0,0,0);   scrollbar-highlight-color:rgb(0,0,0);   scrollbar-3dlight-color:#798aa3;   scrollbar-darkshadow-Color:#3b4e6c;}

#productInfo .iconList {zoom:1; height:0;}

/** Z-index fixes for IE brwosers**/
#menu, #menu a{z-index:3;}

#lookLinks { position: absolute; top: 30px; }

#lookLinks { top: 27px; }

/*
.signIn #signinContent {position:absolute; z-index:4; background: url(../images/bkg-signin.jpg) repeat-x 0 100% #d9d9d8; width:350px; top:10px; right:-40px; }

*/
/** Page specific fixes**/
/** PRODUCT DETAILS PAGE :**/
#products td span {    /*top:-60px;*/    left:0px;    position:absolute;    text-align:center;    width:260px;   /*height:55px;*/   top:185px;}	
#products td {   width:309px;    /*height:340px;*/    height:280px;    overflow:hidden; }    
#lookBookList div.dropdown {top:22px;left:-4px;}

.AddToCart .btnCart {color:#fff; font-weight:bold; display:block; height:20px !important; line-height: 11px !important;width:48px;margin-right:0!important; margin-top:1px; }
/*** Gif files for IE browser**/
/*
#ddlSearchOptions label.dropdown {background:url("../images/icon-arrow-l.gif") no-repeat scroll 95% 60% transparent !important;border:medium none !important;color:#FFFFFF;font-size:1.08em;line-height:38px;}
#searchResults .dlrSearch {background:url("../images/bkg-dealer3.gif") no-repeat scroll 0 0 transparent;float:left;height:67px;line-height:40px;overflow:hidden;width:173px;}
#searchResults {z-index:-9999999;}
#layout2 label {line-height:1.8em;}
*/
/* Order Status */
/* table#orders tr {height: 37px;} */

/* Contact forms */

/*
.footer-contact {display:block;}
#contactForms .radioSet label {margin-top:9px; }


#lookBookList div.dropdown li.lastItem a{border-top:1px dotted #656565 !important;}
#lookBookList div.dropdown {left:0 !important;}
#lookBookList div.dropdown ul.dropdown li.lastItem a {color:#BB6D3D !important;}

#editLookbookName input.idleField, #divSelectOrCreateLookbook input.idleField { padding:0px 0 8px 10px;}
*/



/* Original IE8.css */

/* Contact forms */
#contactForms .radioSet label {line-height:10px;}
span.alignRight { text-align:right; width:45px; display:block;}

#contactForms .radioSet label { line-height: 18px; }

#fuzz{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}

.popup-shadow3, .popup-shadow2, .popup-shadow{ 
    box-shadow: 10px 10px 20px #222; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */ 
}

.signIn .btnCancel {text-decoration:underline!important; margin-top: -6px; }

a.section-link { padding: 0 15px 0 0; margin:6px 0 0 0;}

#sitemap {padding-left: 8px; width: 826px; }


#searchResults #searchPanel, #searchResults #advancedSearch  {position:inherit !important;}

#sliderView { width: 570px;  padding-bottom:15px; padding-top:35px; }
#advancedSearchPanel #ColorsFinishes { width: 240px !important; margin-right: -2px; }

#advancedSearchPanel ul#hasBoxes{margin-left:35px !important; margin-top: 2px !important; padding-top: 0 !important; }
/*#advancedSearchPanel ul#hasBoxes li { margin-bottom: 5px !important; float: left; }*/

#ctl00_ContentPlaceHolderMiddle_ddlFilterByMiles_divTwo { margin-top: 27px; }

#registerAccount label {padding-bottom:1px;}  /** Padding in ie6 only too large**/

/** Animation on the search page, and product listing page renders badly in ie8, swap out and use the jpg **/
#gridView .productname{background: url(../images/bkg-gridview.jpg)}

div.alpha-shadow {position:absolute; z-index:2; float: left; -moz-box-shadow: 3px 3px 5px #D0D0D0;-webkit-box-shadow: 3px 5px 5px #D0D0D0; box-shadow:3px 5px 5px #D0D0D0; padding: 0px 1px 0px 0; background-color: #fff; }
div.alpha-shadow ul {border-left:none; border-bottom:none; border-top:0px solid transparent; padding: 0px -1px 0px 0px; }
table.paging.clearfix {float:left;}
#searchInput input { margin-top:-2px;  }
#availableOptions div.dropdown {width:283px;position:absolute; z-index: 99999; }

.lblAvailableColors.otherOptions { padding-top: 10px; display: block; clear: both; }

.lookBook .lookbookDropdown div.dropdown { position:absolute !important; top:20px !important; left: 1px; border-left: none; width: 266px !important; } 

.lookBookList div.dropdown { left: -9px }

#emailOverlay div ul li.buttons a.emailLink { padding:4px 10px 36px 10px; text-decoration:underline;font-size:10px; }
#emailOverlay .sendYourself label  { float: right; margin-top: 0 !important; line-height: 14px; font-size: 11px; }

#pValidationError.error { background-image: url("../images/icon-error-full.gif"); }
#pValidationError.error label { margin: 8px 0 0 10px; font-weight: bold; font-size: 11px; }

#pValidationError.error ul { margin: 0 0 0 10px; }
#pValidationError.error ul li { list-style: circle !important; font-weight: bold; font-size: 11px; }

#filterByMiles div.alpha-shadow ul {font-size:10px;width:113px!important;padding: 0 1px 0 0!important;border:none;background:#fff!important;padding:0!important; -moz-box-shadow: none;-webkit-box-shadow: none;}
#filterByMiles div.alpha-shadow ul li a { padding-left: 10px !important; }


#ctl00_ContentPlaceHolderMiddle_DDLstUnits_divTwo { padding: 0 0 0 0; }
#ctl00_ContentPlaceHolderMiddle_DDLstUnits_list { padding: 0 0 0 0; margin-left: 0px; }

.paginationButtons li .dlist .dropdownInclusive .dropdownLabel label.InitialHtmlFixed.dropdown { margin-left: 0; position:relative; top: 0; }


