.jScrollPaneContainer {	position: relative;	overflow: hidden;	z-index: 6;}
.jScrollPaneTrack {	position: absolute;	cursor: pointer;right: 0;top: 0;height: 100%; background-color:#798aa3;	}
.jScrollPaneDrag {position: absolute;background: #344560;cursor: pointer;overflow: hidden;background: url(../images/scrollbar-vert.jpg) no-repeat #798aa3;}
.jScrollPaneDragTop {	position: absolute;	top: 0;	left: 0;	overflow: hidden;}
.jScrollPaneDragBottom {position: absolute;	bottom: 0;	left: 0;	overflow: hidden;}
a.jScrollArrowUp {	display: block;	position: absolute;	z-index: 1;	top: 0;	right: 0;	text-indent: -2000px;	overflow: hidden;	/*background-color: #666;*/	height: 9px;}
a.jScrollArrowUp:hover {	/*background-color: #f60;*/}
a.jScrollArrowDown {	display: block;	position: absolute;	z-index: 1;	bottom: 0;	right: 0;	text-indent: -2000px;	overflow: hidden;	/*background-color: #666;*/	height: 9px;}
a.jScrollArrowDown:hover {	/*background-color: #f60;*/}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {	/*background-color: #f00;*/}


