#layoutListing {width:925px; margin: 0 auto; position:relative;}
#layoutListing #Header p, #layoutListing #Header h1 {float:left; width:49%;  padding:1em 0;}
#layoutListing #Header{width:925px; margin: 0 auto; clear:both;}
#layoutListing #selectHeader li, #layoutListing #listingFooter li{float:left; }
#layoutListing #breadcrumbs {padding-top:32px; width:881px; margin:0 auto; overflow:hidden;background:none!important;}
#layoutListing #cartHeader {}
.col1, .col2 {width:95px;}
.col3 {width:75px;}

/*** table **/
#layoutListing .listContents thead {height: 27px;}
#layoutListing .listContents thead td {padding: .2em 0;}
#layoutListing .listContents tbody td { text-align:left;}
#layoutListing .listContents tbody td.productImage {text-align:center!important;}
#layoutListing .listContents tbody tr {background: url(../images/separator-products.jpg) 0 100% no-repeat;}
#layoutListing .listContents .pricing tbody tr {background: none!important;}

#layoutListing table td {vertical-align:top;}
#layoutListing table td.title {width:62px; color:#252525;}
#layoutListing table td.value {width:200px;}
#layoutListing table.paging td {vertical-align:middle;}
#layoutListing table.paging td.buttons {}
#layoutListing .sku {padding: 13px 0 12px 0;height:16px;}
#layoutListing .sku, #layoutListing table table {width:100%; float:left; }
#layoutListing .sku li {float:left; z-index:1;}
#layoutListing #footer table{width:280px;}
#layoutListing #footer p{width:400px;padding: 0px 20px 0 5px;}
#layoutListing .pricing input {border:1px solid #d0d0d0; padding:.5em; width:25px;border:1px solid #cdcdcd;padding:.25em; width:24px;}
#layoutListing .pagingNums{vertical-align:middle; padding-left:120px }
#layoutListing .iconArrowRight{background: url(../images/icons.png) no-repeat -405px -35px; width:20px; height:30px;}
#layoutListing .iconArrowRight:hover {background:url(../images/icons.png) no-repeat -370px -35px; width:20px; height:30px;}
#layoutListing .iconArrowLeft{background: url(../images/icons.png) no-repeat -405px -70px; width:20px; height:30px;}
#layoutListing .iconArrowLeft:hover {background:url(../images/icons.png) no-repeat -370px -70px; width:20px; height:30px;}
#layoutListing .extendeddescription {clear:both;width:90%;}
#layoutListing .catdesc {color:#666;margin-bottom:15px;font-size:11px;}
#layoutListing .productInfo .sku li span {color:#19212e!important;float:left;padding:0;padding-right:5px; margin-top:1px}
.productInfo .sku li span {/*color:#19212e!important;*/float:left;padding:0 5px; margin-top:1px}
.productInfo .sku li {color:#19212e; padding:0 .5em; line-height:16px;}

.productimage a { display:block;}

.paging .buttons ul.paginationButtons li { padding: 0 0 0 3px;}
.paging .buttons ul.paginationButtons li li { padding: 0;}

#btnSeeAllProductResults .iconArrowRight {
background:url("../images/icons.png") no-repeat scroll -335px -6px transparent;
display:inline-block;
height:9px;
margin-left:5px;
position:relative;
width:10px;
}



/*** font  / text colors **/
.remove {text-transform: uppercase; color: #556e97; font-weight:bold;}
.remove:link, .remove:hover{text-decoration:underline; font-size:10px; color:#556e97; font-weight:bold;}

.options, .pricingContent label {color:#333333;}
.pricingContent ul.details li { font-style: normal !important;  font-size: 11px !important; color: #898989; }
.pricingContent ul.details li label { width: 75px; display: block; float: left;  font-style: normal !important; color: #252525 !important; }

.pricing input {background-color:#fff; border:1px solid #cdcdcd; }
.pricingError {background-color:#fef8d2;}
.pricing {font-weight:bold;}



