﻿/**  CONTACT US.CSS 
floatLeft - Form fields
floatRight - Contact Information Sidebar

For error messages : use .errorMsg
**/

/* End hide from IE Mac */
#layout2 {width:881px; overflow:hidden;margin:0 auto; }
#layout2 .col {width:49%; margin-bottom:24px;}
#layout2 .col1 {width:295px;float:left;margin-bottom:30px;}
#layout2 .col2 {width:260px;float:left;margin-bottom:30px;}
#layout2 .full {width:100%;}
#layout2 .floatLeft {width:558px; padding-right:18px; overflow:hidden; display:inline;}
#layout2 .floatRight {width:312px;}
#layout2 .floatRight h1{line-height:2.25em; color:#fff;}

#layout2 input.idleField, #layout2 textarea {background: url(../images/bkg-input.jpg) repeat-x #fff; border-right:1px solid #c3c1c2; border-left:1px solid #c3c1c2; border-bottom:1px solid #c3c1c2; padding:2px 5px 2px 5px;}
#layout2 input.cms_textfield, #layout2 input.cms_password {background: url(../images/bkg-input.jpg) repeat-x #fff; border-right:1px solid #c3c1c2; border-left:1px solid #c3c1c2; border-bottom:1px solid #c3c1c2; padding:2px 5px 2px 5px;}
#layout2 input.idleField,#layout2 input.cms_textfield,#layout2 input.cms_password{height:22px;padding-top:6px;}
#layout2 .floatLeft p a {color:#9f3a1a;}
#layout2 .radioSet label {font-size:.917em;}

#layout2 .ddlSubject, #layout2 #ddlSubject{width:280px; }
#layout2 .privacy {padding:1.25em 0;}
#layout2 .floatRight ul {width:100%; overflow:hidden;}
#layout2 .floatRight li {float:left;}
#layout2 .floatRight li, #layout2 .floatRight p, #layout2 .floatRight h2 {color:#292929;}
#layout2 label.message {margin-top:1em;}
#layout2 .title {width:50px;}
#layout2 .phone {margin-bottom:1em;}
#layout2 .buttons {float:left;}
#layout2 .floatRight h1 {font-size:20px; color:#fff; }
#layout2 td {vertical-align:middle;}
#layout2 .required, #layout2 .required li {color:#990000;}
#layout2 p.blurb {padding: 0 0 38px 0;}
#layout2 p.requiredStatement {padding:12px 0;color:#999999;}
#layout2 h1.first {margin-top:0px!important;}
#layout2 fieldset p a, #layout2 fieldset p span {color:#9f3a1a;}
#layout2 p a:hover {text-decoration:underline;}
#layout2 .errorMsg {font-size:0.917em;}
.privacy {font-size:10px; color:#666666;}
.contactus input {width:280px;}
.trade table td {width:100%; overflow:hidden;}
.trade table input.idleField, .trade table label {display:block; float:left;}
#layout2 .privacy {margin-top:10px;}


.trade h1 {color:#333; line-height:30px; padding-bottom:1em;}
.trade label {display:block; padding-bottom:.35em;}
.trade input.idleField {margin-bottom:10px;}
.trade input.idleField ,.trade input.cms_textfield, .trade input.cms_password{width:248px;}
.trade textarea {width:560px;}
.trade .numStores{width:60px;}
.radioSet label, .radioSet input{display:block;float:left;padding:0px; }
#layout2 .radioSet p {margin-left:30px;margin-bottom:25px;padding:0px!important; clear:left;color:#808080; }
#layout2 .padd{padding:1em 0;}
#registerEmail input,
.trade .radioSet input[type=radio], .checkbox input {margin-right:6px; width:20px; clear:left;background: none!important;border:none!important;}
#layout2 p {padding:10px 0;}
/*** Clear Divs here **/
#layout2 #breadcrumbs {margin-top:96px; width:100%; overflow:hidden;margin-bottom:30px;padding:0!important;background:none!important;}



