#productInfo .iconList{z-index:9;}
.lookBookList {left:10px;padding:0!important;font-size:0.917em;position:static;}
.lookBookList div.dropdown {position:absolute; left:-5px; top:25px; z-index:30!important; width:210px; background: url(../images/cap-dropdown.jpg) no-repeat -2px -1px #fff;border-left:1px solid #d0d0d0!important; border-right:1px solid #d0d0d0!important; border-bottom:1px solid #d0d0d0!important;}
.lookBookList div.dropdown ul {padding: 0px; margin-top:.65em;width:210px;overflow:visible; }
.lookBookList ul.dropdown li {float:none; overflow:hidden;margin:.15em 0;padding:0!important; border:none!important;}
.lookBookList ul.dropdown li img {float:left;}
.lookBookList ul.dropdown li a {display:block; color:#333!important; padding: 6px 8px; margin-right:0px;text-decoration:none;}
.lookBookList label.lb-over {background-position:-160px -27px !important;}
.lookBookList label.lb-out {background-position:-160px 1px !important;}
.lookBookList label.dropdown-lb {background: url(../images/icons.png) no-repeat;width:45px;height:28px;border:none!important;text-indent: -2000px;padding:0!important;z-index:1;}
.lookBookList ul.dropdown li {border-right:none!important;position:relative; z-index:9;}
.lookBookList .dropdown .over {background-color:#333333; color:#fff!important;text-decoration:none;}
.lookBookList ul.dropdown li:last-child, .lookBookList ul.dropdown li.lastItem {background:url(../images/hr-dot.gif) no-repeat 0 0; margin-bottom:0 }
.lookBookList ul.dropdown li:last-child a, .lookBookList ul.dropdown li.lastItem a{color:#bb6d3d!important;}
.lookBookList ul.dropdown li:last-child a:hover, .lookBookList ul.dropdown li.lastItem a:hover{color:#fff!important;}
.divAddToLookbook{position:absolute;}

