/*** PAGINATION ***/
.paging {text-align:left;clear:both;margin:5px auto 10px;border:none!important;}
.paging .pagingNums {width:410px;}
.paging .buttons {width:165px;text-align:right;}
.paging .pagingNumPieces {width:370px;}
.paging .pagingNumPieces span {padding-left:0px; color:#9a9a9a;}
.paging .pagingNumPieces{text-align:left;}
.paging .pagingNums a{color:#808080; padding:0 5px;display:block; float:left;line-height:30px;z-index:2;}
.paging .pagingNums a:hover {color:#9f3a1a;line-height:30px;}
.paging .pagingNums span {color:#9f3a1a;padding:0 5px;display:block; float:left;line-height:30px;}
.paging .iconArrowLeft, .paging .iconArrowRight {text-indent:-9999px;}


.paging .pagingNums{vertical-align:middle;}
.paging .iconArrowRight{background: url(../images/icons.png) no-repeat -405px -35px; width:30px; height:30px;}
.paging .iconArrowRight:hover {background:url(../images/icons.png) no-repeat -370px -35px; width:30px; height:30px;}
.paging .iconArrowLeft{background: url(../images/icons.png) no-repeat -405px -70px; width:30px; height:30px;}
.paging .iconArrowLeft:hover {background:url(../images/icons.png) no-repeat -370px -70px; width:30px; height:30px;}
.paging .buttons ul ul {float:none;}
.paging .buttons li {float:left;padding:0 3px;}
.paging .buttons li li {float:none; padding: 0;}
.paging .buttons li.dropdownInclusive{float:left;}

/** pagingation : drop down overrids **/
.paging .buttons .dropdown {border:none;padding:0;}
.paging .buttons ul {float:right;}
.paging .buttons .dropdown ul, .paging .buttons .dropdown ul li {width:39px; background-color: #262525;}
.paging .buttons div.alpha-shadow {background: #262525;}
.paging .buttons ul.dropdown li a {color:#fff;margin-right:0!important;text-align:center;}
.paging .buttons div.alpha-shadow, .paging .buttons div.alpha-shadow ul{background:#262525!important;}

/* --Buttons-- */
/* GridView */
.paging .buttons .btnGridView .lb-out{background: url(../images/sprite-productviews.jpg) no-repeat 0px 0px; width:39px; height:30px;}
.paging .buttons .btnGridView .lb-out:hover{background-position:0 -30px; }
.paging .buttons .btnGridView .lb-over {background: url(../images/sprite-productviews.jpg) no-repeat 0px -30px; width:39px; height:30px;}

/* ListView */
.paging .buttons .btnListView .lb-out{background: url(../images/sprite-productviews.jpg) no-repeat -44px 0px; width:39px; height:30px;}
.paging .buttons .btnListView .lb-out:hover{background-position:-44px -30px }
.paging .buttons .btnListView .lb-over {background: url(../images/sprite-productviews.jpg) no-repeat -44px -30px; width:39px; height:30px;}

/* GalleryView */
.paging .buttons .btnGalleryView {display:block;background: url(../images/sprite-productviews.jpg) no-repeat -86px 0px; width:30px; height:30px;}
.paging .buttons .btnGalleryView:hover {background-position:-86px -30px;}
.paging .buttons .btnGalleryView span {display:none;}

.paging .buttons a.back{color:#808080; padding:0 5px;}
.paging .buttons a.back:hover {color:#9f3a1a;}

.paginationButtons li .dlist .dropdownInclusive .dropdownLabel label.InitialHtmlFixed.dropdown { margin-left: 0; position:relative; top: 0; }

