﻿body {margin:0; background-color:#1a1a1a;}

#pdp-menu { position:absolute; top:238px; display:block; width:121px; text-indent:-9999px; }

#pdp { width:385px; font-family:Georgia, serif; font-size:11px; padding:195px 120px 0 310px; line-height:20px; }
#pdp h1 { font-family:Georgia, Serif; font-size:18px; font-style:italic; font-weight:normal; margin:0 0 15px 0;} 
#pdp p { padding: 0 0 10px 0; margin:0;}

.background-1 { background:#1a1a1a url(../images/HouseofTA/pastpresent/5002-228-story.jpg) no-repeat left top;}
.background-2 { background:#1a1a1a url(../images/HouseofTA/pastpresent/6305-107-story.jpg) no-repeat left top;}
.background-3 { background:#1a1a1a url(../images/HouseofTA/pastpresent/5005-594-story.jpg) no-repeat left top;}
.background-4 { background:#1a1a1a url(../images/HouseofTA/pastpresent/7105-088BD-story.jpg) no-repeat left top;}
.background-5 { background:#1a1a1a url(../images/HouseofTA/pastpresent/VC42039SB-story.jpg) no-repeat left top;}
.background-6 { background:#1a1a1a url(../images/HouseofTA/pastpresent/5105-071-story.jpg) no-repeat left top;}
.background-7 { background:#1a1a1a url(../images/HouseofTA/pastpresent/4100-730HM-story.jpg) no-repeat left top;}
.background-8 { background:#1a1a1a url(../images/HouseofTA/pastpresent/6105-368-story.jpg) no-repeat left top;}
.background-9 { background:#1a1a1a url(../images/HouseofTA/pastpresent/5300-137-story.jpg) no-repeat left top;}
.background-10 { background:#1a1a1a url(../images/HouseofTA/pastpresent/AL54008-story.jpg) no-repeat left top;}
.background-11 { background:#1a1a1a url(../images/HouseofTA/pastpresent/7105-190BD-story.jpg) no-repeat left top;}

.background-1 #pdp { width: 360px; padding: 130px 120px 0 296px; line-height:20px; }
.background-1 #pdp p { margin-bottom: 20px; }       
.background-2 #pdp { width: 340px; padding: 110px 120px 0 287px; line-height:22px; }
.background-2 #pdp p {padding: 0 0 22px 0;}       
.background-3 #pdp { width:305px; padding:177px 120px 0 330px; line-height:21px; }   
.background-3 #pdp h1 {margin: 0 0 17px 0;}
.background-3 #pdp p {padding: 0 0 22px 0 ;} 
.background-4 #pdp { width:400px; padding:130px 120px 0 260px; line-height:22px; }
.background-4 #pdp p {padding: 0 0 18px 0 ;}
.background-5 #pdp { width: 400px; padding: 45px 120px 0 300px; line-height:22px; }    
.background-5 #pdp p {padding: 0 0 18px 0 ;}    
.background-6 #pdp { width:345px; padding:140px 120px 0 287px; line-height:21px; }    
.background-6 #pdp p {padding: 0 0 22px 0 ;}    
.background-7 #pdp { width: 385px; padding: 147px 120px 0 305px; line-height:22px; }
.background-7 #pdp h1 {margin: 0 0 17px 0;}
.background-7 #pdp p {padding: 0 0 25px 0 ;}        
.background-8 #pdp { width:380px; padding:156px 120px 0 308px; line-height:21px; }      
.background-8 #pdp h1 {margin: 0 0 17px 0;}
.background-8 #pdp p {padding: 0 0 22px 0 ;} 
.background-9 #pdp { width: 345px; padding: 180px 120px 0 365px; }
.background-8 #pdp p { margin: 0 0 20px; } 
.background-10 #pdp { width: 380px; padding: 130px 120px 0 290px; }
.background-11 #pdp { width: 410px; padding: 171px 120px 0 285px; line-height: 21px; }   
.background-11 #pdp p {margin: 0 0 20px 0; padding:0;}