﻿body#htmlBody {margin: 0; padding: 0;}
         
#house-ta-nav ul li {     line-height:32px;     }
#house-ta-nav ul li a {     color:#ffffff;}
#house-ta-nav ul li a:hover, #house-ta-nav ul li a.selected  {     color:#2c8292;}
#flashcontainer {       width:870px;    height:578px;    overflow:hidden;  }


/***  Product modal box    ***/    


#pdp {    padding:240px 0 0 390px;    float:left;    }

#pdp h1 {font-family:georgia,garamond,serif;  font-weight:normal; font-size:26px; font-style:italic;     }     
#pdp p { font-family:georgia,garamond,serif; }
#pdp-menu a { width:121px; height:43px; float:left; text-indent:-9999px; margin-top:5px;}
#pdp-menu a { background:url(../images/tabs-off.jpg) left top; width:121px; height:43px; outline:none;}
#pdp-menu a:hover, #pdp-menu a.selected, #pdp-menu .headlink:hover a { background-image: url(../images/tabs-on.jpg);}
.headlink_icon {list-style: none !important;}

#pdp-menu a.tabZoom { background-position:left 0px; }
#pdp-menu a.tab360 { background-position:left -46px; }
#pdp-menu a.tabScale { background-position:left -92px; }
#pdp-menu a.tabViews { background-position:left -138px; }
#pdp-menu ul#cssdropdown { padding:0; margin:0; float:left;}
#pdp-menu ul#cssdropdown li { padding:0; margin:0; float:left; list-style:none; position:relative;background-color: Transparent;}
#pdp-menu ul#cssdropdown li.headlink ul { display:none; float:left; background:url(../images/tab-moreBg.jpg) repeat-x right top; padding:0; margin:0;height:43px;position:absolute; top:5px; right:0;}
#pdp-menu ul#cssdropdown li.headlink ul li { width: 55px; height: 36px; padding: 3px 0 0 3px; }
#pdp-menu ul#cssdropdown li.headlink ul li a { text-indent:0; background-position: -1px 0; height:30px; width:49px; margin:0; padding: 2px; border:none;}
#pdp-menu ul#cssdropdown li.headlink ul li a:hover { padding: 0; border: 2px solid #fff; background-position: -3px -2px; }

#pdp-menu a.details, #pdp-menu a.details:hover { background-image:none; text-indent:0; margin:0; color:#9f3c12; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, Sans-Serif; margin-top:10px; float:left; }

#pdp-menu { width:121px; top:220px; position:absolute; right:0;}
