.popup {text-align:left; background: url(../images/bkg-signin.jpg) repeat-x 0 100% #d9d9d8;position:absolute; z-index:99;}
.popup a.btnClose {text-indent:-2000px;display:block; position:absolute; right:0px; top:0px; background: url(../images/icons.png) -249px -57px no-repeat; width:22px; height:22px;padding:0!important;z-index:8; }
.popup div.divider {  padding-top: 10px; margin-top: 10px; border-top: dotted 1px #4b4a4a; text-align:center; }
.popup div.divider a.popupClose { float: none !important; }
.overlay{display:none; position:absolute; z-index:10; width:472px; top:0px; right:0px;}
.overlay .msg2 {width:100%; overflow:hidden;}
.overlay .buttons {padding:0 !important;width:100%; overflow:hidden;}
.overlay .msg {font-size:0.917em; color:#252e3c;}
.overlay ul {clear:both; width:350px; margin: 15px auto;padding:0px 0;overflow:hidden;}
.overlay li{padding:6px 0 0 0!important; float:none!important;}
.overlay label, .overlay a{display:inline;}
.overlay h1 {font-size:1.167em; font-weight: normal; line-height:1.8em;color:#252e3c;}
.overlay .button {display:inline; padding: 2em .5em; margin-right:0; font-size:10px; font-weight:bold;}
.overlay span, .overlay .msg2 span, .overlay .msg2 a.button {display:block; float:left;}
.overlay .msg2 a.button {max-width:160px;}
.overlay .msg2 span {padding: .65em;text-align:center;font-size:1.077em;}
.overlay p{padding:10px 0;}
.overlay .col1 {float:left; width:440px;}
.overlay .col2 {float:left; width:230px; padding-left:0px;}
.overlay .col {width:50%;}
.overlay .required {display:inline; float:none; padding:0 2px}
.overlay .lookLink, .overlay .gotoLink {font-size:10px; font-weight:bold; text-decoration:none;}
/*.overlay ul {width:355px; margin: 0 auto;}*/
.overlay .highlight {background:#fef8d2!important;}
.overlay input.idleField {
    height:24px;
line-height:30px;
padding:7px 0 0 5px;
    }
.overlay input.idleField, .overlay textarea {background: url(../images/bkg-input.jpg) repeat-x #fff; border:1px solid #c3c1c2; border-top:none; }
.overlay .msg p {width:310px;padding:5px 0 10px 0px;}


#divSelectOrCreateLookbook{width:435px;position:absolute;top:10px; left:0px;}
#divSelectOrCreateLookbook h5, #divSelectOrCreateLookbook h5 span {color:#333333; font-size:12px; font-weight:bold;margin-bottom:5px;}
#divSelectOrCreateLookbook h5 span{display:block;margin-bottom:8px;float:none;margin-top:8px;}
#divSelectOrCreateLookbook ul ul { overflow: auto; margin-bottom:6px; padding:0px;height:135px;background:url("../images/bkg-input.jpg") repeat-x scroll 0 0 #FFFFFF;
border:1px solid #C3C1C2; border-top: none;}
#divSelectOrCreateLookbook ul ul li a {padding:0 15px;}
#divSelectOrCreateLookbook ul ul li:hover {color:#fff; background-color:#999;}
#divSelectOrCreateLookbook a.backLink {text-decoration:underline; font-weight:bold; font-size:10px; padding:3px 20px; }
#divSelectOrCreateLookbook .createLookbook input{width:355px;}

.overlay li.createLookbook { padding:0!important; margin:0; }
#divSelectOrCreateLookbook .createLookbook h5{ padding: 5px 0 0 0; margin:0; } 
#divSelectOrCreateLookbook .createLookbook h5 span { padding: 0; margin:0 0 3px 0; } 
.overlay p.errorMsg { padding:3px 0;}


#divItemAddedToLookbook {width:440px;}
#divItemAddedToLookbook .lookLink{text-decoration:none;}
#divItemAddedToLookbook .or{color:#333333; font-size:13px; font-weight:bold;padding:10px; margin-top:-8px; width:10px;}
#divItemAddedToLookbook .button {width:124px; font-size:10px;}
#divItemAddedToLookbook #btnGoToLookbook{position:relative; left:23px;text-transform:uppercase;text-decoration:none;font-weight:bold;color:#ffffff;}
#divItemAddedToLookbook h1 {background:url(../images/icon-lookbook.gif) no-repeat 0 5px transparent; padding-left:23px;}
#divItemAddedToLookbook .iconLookbookPopup {padding-left:0;background-image:url();}
#divItemAddedToLookbook .msg2 {margin-top:10px; padding:10px 0 10px 5px !important;}

#lookbookAddNoReg{color:#252e3c;display:none; width:435px;}
#lookbookAddNoReg ul{width:340px; /*margin:0 auto;*/}
#lookbookAddNoReg .hrLine {margin:10px 0!important;}
#lookbookAddNoReg .button { float:left; font-size:10px }

#lookbookAddNoReg a.lookLink { display:block; float:left; padding:0px 10px; margin-top:4px }
#lookbookAddNoReg .lookLink a:hover { text-decoration:underline; color:#FFFFFF; }

#lookbookAddNoReg li.buttons .ClosePopup a:active{ padding-left:15px; text-decoration:none;}
#lookbookAddNoReg li.buttons .ClosePopup a:hover {text-decoration:underline;}

#lookbookAddNoReg .iconLookbookPopup { margin-top:4px; padding-left:0 }
#lookbookAddNoReg h1 { padding-left: 27px }

#emailOverlay{ position:relative; display:none; width:450px;}
#emailOverlay ul, #emailConfirmationOverlay ul {width:80%; margin: 0 auto;}
#emailOverlay h1 {padding-top:15px;}
#emailOverlay .errorMsg ul {padding:7px 0;}
#emailOverlay .errorMsg {padding:30px 0 0 0;}
#emailOverlay li{padding:0!important;}
#emailOverlay .requiredStatement {text-align:right;padding:15px 0px 20px 0; font-size: 11px; font-size: 11px\0/; }
#emailOverlay textarea {width:360px;margin-bottom:10px;}
#emailOverlay input.idleField, #emailOverlay textarea {background: url(../images/bkg-input.png) repeat-x #fff; border:1px solid #c3c1c2;}
#emailOverlay label span {display:inline;float:none!important;}
#emailOverlay td.title {width:110px}
#emailOverlay td.value, #emailOverlay td.value input.idleField{width:240px;}
#emailOverlay .addAnother { text-transform:uppercase;}
#emailOverlay .addAnother a{color:#fff;text-decoration:underline; font-size: 11px; }
#emailOverlay .addAnother a:hover{color:#990008;}
#emailOverlay .messageBox {padding:20px 0 0 0;}
#emailOverlay .radioSet {padding: 20px 0;}
#emailOverlay .addAnother{padding: 0 0 20px 0;}
#emailOverlay .radioSet label {width:200px;padding-left:5px;}
#emailOverlay .radioSet input {width:auto;}
#emailOverlay .buttons {padding-top:0px;}
#emailOverlay {color:#252e3c;}
#emailOverlay td{padding:5px 0;}

#emailOverlay span.includeComments input, #emailOverlay span.sendYourself input { margin-right: 10px; }
#emailOverlay span.includeComments label { margin-top: -5px !important; font-size: 11px; line-height: 14px; }

#emailOverlay span.sendYourself input { *float: left; _float: right; }
#emailOverlay .sendYourself label  { float: right; *float: left; _float: right; margin-top: 2px !important; *margin-top: 5px !important; line-height: 14px; font-size: 11px; }

/* Restlye Checkbox */
#emailOverlay span.lookbookCheckbox  {height: 15px;	width:100%;padding: 0 15px 0px 25px;background: url(../images/checkbox.gif);background-repeat: no-repeat;	cursor: default;}
#emailOverlay .lookbookCheckbox input {height: 15px; display: none;}
#emailOverlay .lookbookCheckbox input.show {display: inline;}
#emailOverlay .selected { background-position: 0 -19px;}
#emailOverlay #checkboxDiv { margin:20px 0; height:13px}
#emailOverlay #pValidationErrorEmail {/*position:absolute; float:left; top:25px; left:35;*/} 
#emailOverlay #pValidationErrorEmail  ul { width:100%} 
#emailOverlay .iconEmail {background:url("../images/icons.png") no-repeat scroll -145px 0px transparent;height:20px;width:25px;}

#emailOverlay div ul li.buttons a.emailLink { line-height: 20px; padding: 4px 10px 36px 10px; text-decoration:underline;font-size:10px; }


#emailConfirmationOverlay h1 {text-align:center;}
#emailConfirmationOverlay h1 img {padding-right:10px;}
#emailConfirmationOverlay p {text-align:center;font-size:11px;padding:0;}
#emailConfirmationOverlay div.divider {padding:18px 0 20px 0;}
/*#emailConfirmationOverlay span {display:inline; float:none;}*/

/** turn this off, use the ones that are moved to the popup.css file.
#emailOverlay{ display:none; width:450px;font-size:0.917em;}
#emailOverlay ul, #emailConfirmationOverlay ul {width:80%; margin: 0 auto;}
#emailOverlay h1 {padding-top:15px;}
#emailOverlay .errorMsg ul {padding:5px 0;width:100%!IMPORTANT;}
#emailOverlay .errorMsg {padding:30px 0 0 0;}
#emailOverlay li{padding:0!important;}
#emailOverlay .requiredStatement {text-align:right;padding:30px 0px 20px 0;}
#emailOverlay textarea {width:350px;margin-bottom:10px;}
#emailOverlay input.idleField, #emailOverlay textarea {background: url(../images/bkg-input.png) repeat-x #fff; border:1px solid #c3c1c2; }
#emailOverlay label span {display:inline;float:none!important;}
#emailOverlay td.title {width:110px}
#emailOverlay td.value, #emailOverlay td.value input.idleField{width:250px;}
#emailOverlay .addAnother { text-transform:uppercase;}
#emailOverlay .addAnother a{color:#fff;text-decoration:underline}
#emailOverlay .addAnother a:hover{color:#990008;}
#emailOverlay .messageBox {padding:20px 0 0 0;}
#emailOverlay .radioSet {padding: 20px 0;}
#emailOverlay .addAnother{padding: 0 0 20px 0;}
#emailOverlay .radioSet label {width:200px;padding-left:5px;}
#emailOverlay .radioSet input {width:auto;}
#emailOverlay .buttons {padding-top:0px;}

#emailOverlay .sendYourself label, #emailOverlay .sendYourself input{float:left; display:block;}
***/


/** Request Quote overlay from product detail page **/
#requestQuate{display:none;width:800px;color: #333;right:225px; top:30px;font-size: .80em;}
#requestQuate ul {clear:both;margin:0 auto;overflow:hidden;padding:18px 0 42px 0;width:85%;}
#requestQuate ul li p {font-size:11px;padding:0px;line-height:16px}
#requestQuate .title{float:left;width:50%;font-size:20px}
#requestQuate .overlay .col2{float:left;width:190px;}
#requestQuate .col {float:left;width:50!important;}
#requestQuate .leftPanel{width:200px;padding-left:14px;}
#requestQuate .col1 p{float:left;width:90%;margin-bottom:20px;} 
#requestQuate .requiredStatement {float: right; width:50%;text-align:right;}
#requestQuate input, #requestQuate label {display:block;}
#requestQuate label {font-size: 1em;}
#requestQuate input.idleField {width:192px;}
#requestQuate input.idleField, #requestQuate textarea.idleField{background: url(../images/bkg-input.png) repeat-x #fff; border:1px solid #c3c1c2;}
#requestQuate input.city, #requestQuate input.country{width:88px;}
#requestQuate input.state,#requestQuate input.zip{width:82px;}
#requestQuate .radioSet {margin-top:5px; margin-bottom: 10px;}
#requestQuate .radioSet label {width:30px;display:inline;line-height: .4em;}
#requestQuate .radioSet input {width:30px;display:inline;}
#requestQuate .strangebuttonset{position:relative; margin-top: 5px !important; }
#requestQuate .designerSet label.designerFor {display:block; clear:both;}
#requestQuate input.highlight, #requestQuate textarea.highlight{background:#fef8d2;}
#requestQuate #designerDiv input,#requestQuate #designerDiv label { display:inline; }
#requestQuate #designerDiv input { margin:4px; margin-left:8px }
#requestQuate #designerDiv label { position:relative; bottom:2px }

#requestQuate fieldset.sendCopy { margin-bottom: 10px; }

#requestQuate .col2 a.emailLinka {padding-top: 6px !important;}

.overlay h1.requestQuoteBold {font-size:15px;padding:13px 0; margin-bottom: 0px;}


/** Edit Lookbook Overlay**/
#divItemAddedToLookbook, #divSelectOrCreateLookbook{position:absolute; width:435px;left:20px; top:0px;}
#editLookbookName{left:280px; top:0px;position:absolute; display:none; width:435px; padding-bottom:10px;} 
#editLookbookName .iconLookbookPopup{width:12px;padding-left:10px;}
#editLookbookName input.idleField, #divSelectOrCreateLookbook input.idleField {width:343px; }
#editLookbookName h1 {font-size:14px; line-height:14px; padding-bottom:5px;}
#editLookbookName .buttons .cancelLink {color:#fff!important;text-decoration:underline; font-weight:bold; padding:7px 20px;}
#editLookbookName .errorMsg {padding:10px 0;}
#divItemAddedToLookbook a.lookLink {padding-left:20px;}
#divAddToLookbook{position:relative;}
#divAddToLookbook label.dropdown{font-size:11px; color:#252525;}
#editLookbookName.overlay .buttons { margin-top:10px;}

h1.con_pref {margin-bottom: 15px;}
a.emailLinka {display:block; float:right;text-transform:uppercase; text-decoration:underline; padding:12px 27px;color:#fff!important;}
#requestQuate p.requiredStatementa {margin-bottom: -15px !important; padding: 0; width: 145px; float:none; font-weight: bold;}

.recipientList .title label, table .title label { font-size: 11px; font-size: 11px\0/; *font-size: 11px; }

table  tr td.title label { width: 110px !important; padding-left:4px; display: block; *display: block;}


#tblAddEmails .title { font-size: 11px; *font-size: 11px; padding-left: 5px; }
#tblAddEmails  > .title { font-size: 11px; *font-size: 11px; padding-left: 5px; }
.addAnother .addAnch { font-size: 10px; font-weight: bold; }

/*global css overwrite*/

a.lookLink:visited {
    text-decoration:none;
    color:#ffffff;
}
a.lookLink:active {
    text-decoration:none;
    color:#ffffff;
}
a.lookLink:hover {
    text-decoration:underline;
    color:#ffffff;
}


