﻿#topper,#bottomer,#lefter,#righter,#header,#fuzz,#header, #footer,#lookbookAddNoReg,
#emailOverlay,#requestQuate,#requestQuoteConfirmation, #randomFooter {display:none;}
#printFriendly{font-family: Arial, Helvetica, Sans-Serif !important;display:block!important; position:absolute; top:0px; left:0px; z-index:99;background-color:#fff; padding:50px;margin:0;float:none;font-size:16px;width:90%;}
#printedFor {float:right;color:#000;font-size:.8em;}
#pfInfo {float:left; width:50%;clear:both;}
#TLogo{margin-bottom:37px;float:left;background-color:#000;}
#TLogo img {width:50%;}
#pfImage {float:right; width:50%;}
#pfImage img {width:100%;}
#pfSkuPrice{clear:both;margin-bottom:50px;width:100%; overflow:hidden;color:#19212e;}
.pfSku {border-right:1px solid #efefef; padding-right:10px;margin-bottom:20px;}
#pfInfo ul {margin-bottom:25px;color:#333;}
#pfInfo li {}
.pfSku, .pfStorePrice{float:left;font-size:.85em;line-height:1.6em;}

.pfDescription{clear:both; line-height:2em;margin-bottom:20px;color:#333;zoom:1;}
.pfOptions, .pfMeasurement{margin-bottom:25px;color:#333;}
#pfDetails {clear:both;width:100%;padding:40px 0; border-top:1px dotted #a6a4a3;font-size:1em;}
#pfInfo h2 {color:#9f3b22; margin-bottom:30px;font-size:1em;}
#pfInfo h1 {color:#252e3c;margin-bottom:20px;font-size:1.667em;font-family:georgia,garamond,serif!important; }
.tblHeight{padding-top:40px;}
#pfOptions ul {list-style-type: none;}
/** Product Details : Left Column **/
#pfDescription {clear:both;}
#pfFeatures li {list-style-type:disc;}
#pfDetails table {width:100%;font-size:0.917em;}
#pfDetails td {vertical-align:top;line-height:1.8em;}
#pfDetails .itemTitle{color:#666766;width:40%;}
#pfDetails .itemValue, #pfDetails .itemValue a{color:#333333;width:60%;}
table.tblHeight{margin-top:40px;}

