﻿#content {clear:both; background: url(../images/bkg-content.jpg) no-repeat 0 0 #fff; width:981px;height:auto!important;min-height:360px; }
a.displayOptionsTitle{text-decoration:none; margin-left:1.5em;}
a.displayOptionsTitle:hover{text-decoration:underline;}
a.displayOptionsTitle span.displayTitle{font-family:monospace;font-weight:normal;}
.displayOptionsContent{display:none; margin-left:1.5em;}

div#ToolTipDiv {position:absolute;top: 100px; left: 100px; border:none; background-color: #333333; color:#FFFFFF; font: Arial;
  font-size:11px; display: none; padding: 9px 14px 9px 14px;  text-align:center;  vertical-align:middle;}
  
.hrLine {clear:both;background:url(../images/hr-dot.gif) repeat-x; margin:20px 0;height:1px;width:100%;}
/** Product container : Overall layout**/
#productContainer {width:841px; margin:0 auto; }  /* mimic padding l/r by 50px*/
#productDetailPage{width:981px; margin:0 auto;}
#productContainer a:hover {text-decoration:underline;}
#productContainer #productInfo{width:290px;}
#productContainer ul.dropdown li a:hover {text-decoration:none!important;}
#productImage {width:510px;}
#productContainer hr {margin:20px 0px;height:1px;}


/** overrides for this page for lookbook dropdown, and button on overlay : overlays have
been taken out of their original containers, requiring css tweaks **/
#productContainer .lookBookList {left:2px;}
#divItemAddedToLookbook #btnGoToLookbook {left:0px!important; float:right;}


/** Product Image : Scene 7 **/
.CLSbutton {padding-left:150px;}
#productImage #scene7Holder {display:block; margin:0 auto; background-color:#efefef; text-align:center; width:401px; height:333px; border:none;}
#productImage .exploreButton {width:70px; font-weight:bold; border:1px solid #ccc; display:block; padding: 10px 3px; text-transform:uppercase;margin: 0 auto;text-align:center;font-size:10px;float:left;margin-right:5px;}
#productImage .exploreButton:link {color:#19212e;}
#productImage .exploreButton:hover{color:#9f3a1a;}
.NexploreButton {width:70px; font-weight:bold; border:1px solid #ccc; display:block; padding: 10px 3px; text-transform:uppercase;margin: 0 auto;text-align:center;font-size:10px;float:left;margin-right:5px;}
/** Product Details : Left Column **/
#productDetails {width:510px; margin:20px auto 0 auto; font-size:11px;}
#productDetails table {width:498px;}
#productDetails td {vertical-align:top; line-height:18px;}
#productDetails .itemTitle{width:230px;}
#productDetails .itemValue{width:250px;}
#productDetails a.expandStory {display:block; font-size:11px;}
#productDetails .video, #productDetails .videoText {float:left; position:static;text-align:justify}
#productDetails .video {height:77px; width:77px;}
#productDetails .video img {width:67px; height:67px;padding:5px 10px 10px 0 }
#productDetails #seeVideos li {width:100%; overflow:hidden;margin-top:22px;}
#productDetails .videoText {width:410px; padding:0 10px 10px 15px; line-height:1.75em; text-align:justify}
#productDetails .videoText a {color:#252e3c;line-height:11px; font-size:11px; font-weight:bold;}
#productDetails .videoText a:hover {color:#9f3a1a;}
#productDetails .ajax__tab_body p {color:#252525;padding-bottom:8px; font-family:Georgia; font-size:13px;}
#productDetails .ajax__tab_body .videoText div {padding:5px 0px; color:#252525;width:auto;}
#productDetails .ajax__tab_panel ul{width:100%; overflow:hidden;}
#productDetails .videoText h3 {padding-bottom:0!important;color:#19212e;}
#productDetails .videoText a span{line-height:10px;}
#productDetails .hrLine {margin:10px 0;}
#readStory{padding-top:10px;}
#printFriendly{display:none;}
.productDetails #content {background:#FFFFFF url(../images/bkg-content.jpg) no-repeat scroll 0 0;}


/* Commented out to address IE7 overlay issues  
#AimgEmail {position:relative;}
*/
#AimgEmail { margin-left: 5px; }

/** Product Info Section **/
#productInfo #unitsOfMeasure div, 
#productInfo .DDLstUnits,
#productInfo .iconList li,
#productsList {padding-top:20px;}
#productsList li {float:left;}

/** Product Info : Right Column **/
#productInfo h1, #productInfo h2 { font-weight:normal }
#productInfo .iconList {width:100%; z-index:1!important; font-size:11px;}
#productInfo .iconList li {border-right:1px solid #919191; border-left:1px solid #919191; padding:0px 7px;float:left;}
#productInfo .iconList li li {border-left:none; border-right:none;}
#productInfo .iconList li.first {padding-left:0!important;border:none!important;color:#19212e;font-size:11px;line-height:24px;}
#productInfo li img {vertical-align:middle;}
#productInfo h2#productTitle span{color:#252e3c; padding:15px 0;font-size:20px;}
#productInfo h2 span {display:block;}
#productInfo li.last {border:none!important;}
#productInfo p, #productInfo .bulletList, .paddIt{padding-bottom:5px; display:inline-block; clear:both;padding:5px 0;padding-bottom:10px;color:#333;display:block;font-size:11px; line-height:1.75em;text-align:justify;}
#productInfo p.productDescription {clear:both;padding:5px 0;padding-bottom:10px;color:#333;display:block;font-size:11px; line-height:1.75em;text-align:justify;}
#productInfo .button {padding:10px !important; font-weight:bold;color:#fff;}
#productInfo .errorMsg {padding:0em !important;}
#productImage img {cursor:zoom;}
#productInfo .bulletList li {line-height:18px; font-size:11px;}
#productInfo .Consumer {margin-bottom:1em; overflow:hidden;}
#productInfo .Consumer .button {margin-right:0;}
#productInfo .Consumer .btnQuote {float:right;}
#productInfo .Consumer .btnEnquiry {float:left;}
#ParentPicture {font-size:10px;padding-bottom:25px;}

#productInfo #productsList li{width:96px;}
#productInfo #productsList img {width:90px; margin:0 auto;}
#productInfo .button:hover{text-decoration:none!important;}

.unitsOfMeasure .Imperial, .unitsOfMeasure .Metric {line-height:1.8em;font-size:11px;}
.Imperial, .Metric {width:auto; float:left;line-height:28px;}
#unitDD label.dropdown {padding: 0 0 0 8px; height:20px;line-height:20px;}
#unitDD div.dropdown{width:73px;}
#unitDD {width:62px;float:left; padding-left:1em;}
#productInfo #unitDD label.dropdown, #productInfo .DDLstUnits {width:65px;background-position:55px 50%;font-size:11px; color:#252525;}
#productInfo #unitDD ul.dropdown {padding-bottom:5px }
#productInfo #unitDD ul li a {color:#333; padding-left:9px }
#productInfo .DDLstUnits{margin-left:10px;}
#productInfo #unitsOfMeasure {width:100%; overflow:hidden;}

/** FONT : MOVE TO FONTS FILE**/
#productInfo .msg {color:#666; font-style:italic;}
#productInfo label {color:#333; }
.ajax__tab_header {color:#19212e;}
#productsYouMayAlsoLike .ajax__tab_active {text-align:right;}

/** Lookbook list override*/
.dropdown.popup-shadow3 { -moz-box-shadow: 0 0 0;-webkit-box-shadow: 0 0 0; margin-left: 10px !important; margin-left: 14px\0/ !important;}
.lookBookList label.dropdown-lb {left:-10px!important; bottom:2px }

.CareHeader {color:#252e3c;font-weight:bold;}


/** weight :bold*/
#productDetails a.expandStory,
#productDetails .videoText h3,
#productDetails .videoText h3 {font-size:12px;}
.storyShort{width:480px;}


/* Global Reusable: Error... background red, border red**/


.collection {margin-left:1em;}
#DDLstUnits {width:70px;}

/** FORM OVERRIDES **/
#availableOptions .dropdownLabel label img { padding-right: 6px; }
#availableOptions span {display:block;color:#333333;font-size:11px; font-weight:bold;padding-top:15px;margin-bottom:.5em;}
#availableOptions ul {width:284px; padding-bottom: -1px; margin: 0 0 0 -2px; }
#availableOptions ul.dropdown li { border-left: 1px solid #c3c1c2; }
#availableOptions ul.dropdown li a {margin-right:0!important;  height:27px; padding:3px 0 0 35px; display:block; color:#333 }
#availableOptions ul.dropdown li a:hover {text-decoration:none!important;background:#333; width:250px!important;}
#availableOptions label.dropdown {width:284px;background-position:270px 50%; padding: 0; height:30px;line-height:28px; font-size:0.917em;}
#availableOptions ul li img { background:transparent; padding:0; margin:0 0 0 0; cursor:pointer; }
#availableOptions div.dropdown {width:283px;position:absolute; z-index: 99999; }

div.SpecialGroups span {display:block;color:#333333;font-size:11px; font-weight:bold;margin-bottom:.5em;}
div.SpecialGroups ul {width:284px; padding-bottom: -1px; margin: 0 0 0 -2px; }
div.SpecialGroups ul.dropdown { padding-bottom: 0; margin: 0 0 0 0; border: none; }
div.SpecialGroups ul.dropdown li { border-left: none !important;}
#productContainer div.SpecialGroups ul.dropdown li a {margin-right:0!important;  height:27px; display:block; color:#333 }
div.SpecialGroups label.dropdown {background-position:270px 50%; padding: 0; height:30px;line-height:28px; font-size:0.917em;}
div.SpecialGroups ul li img { background:transparent; padding:0; margin:0 0 0 0; cursor:pointer; }
div.SpecialGroups div.dropdown {width:283px;position:absolute; z-index: 99999; }

.lblAvailableColors.otherOptions { padding-top: 10px; display: block; clear: both; }

ul#ctl00_ContentPlaceHolderMiddle_ddlSpecialGroups_list { padding-bottom: 0; margin: 0 0 0 0; border: none; } 
ul#ctl00_ContentPlaceHolderMiddle_ddlSpecialGroups_list li { border-left: none !important; }
#ctl00_ContentPlaceHolderMiddle_ddlSpecialGroups_lblSelected { width: 281px !important; }

ul#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesInch_list { padding-bottom: 0; margin: 0 0 0 0; border: none; } 
ul#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesInch_list li { border-left: none !important; }
#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesInch_lblSelected { width: 281px !important; }

ul#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesCm_list { padding-bottom: 0; margin: 0 0 0 0; border: none; } 
ul#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesCm_list li { border-left: none !important; }
#ctl00_ContentPlaceHolderMiddle_ddlAvailableSizesCm_lblSelected { width: 281px !important; }

ul#ctl00_ContentPlaceHolderMiddle_ddlBedSizes_list li { border-left: none !important; }
#ctl00_ContentPlaceHolderMiddle_ddlBedSizes_lblSelected { width: 281px !important; }

.dropdownInclusive .dropdown.alpha-shadow { -moz-box-shadow: 0 0 0;-webkit-box-shadow: 0 0 0; border-left: 1px solid #c3c1c2; border-right: 1px solid #c3c1c2; border-bottom: 1px solid #c3c1c2;}

#ctl00_ddlView_divOne .dropdownInclusive .dropdown.alpha-shadow { border-left: none; border-right: none; border-bottom: none;   }

#ctl00_ContentPlaceHolderMiddle_DDLstUnits_divTwo { padding: 0 0 0 0; }
#ctl00_ContentPlaceHolderMiddle_DDLstUnits_list { padding: 0 0 0 0; margin-left: -2px; }
 
.hide { display:none; } 

 /*** BUTTON OVERRIDES **/
 .Consumer a.button {width:122px!important;}
 
.hrLine {margin:5px 0;}

.storePrice{color:#666666;font-style:italic;font-size:10px;}
.availability{font-size:10px;}
.availability strong{color: #252525;}
.availability span {color:#898989;padding-left:30px;}
.availability .hrLine {margin:10px 0;}/* 15px top bottom*/
/** Add to Cart Css, same code as productStyleSheet **/
.AddToCart .price {font-size:16px; color:#19212e;font-weight:bold;}
.AddToCart .btnCart {color:#fff; font-weight:bold; display:block; height:20px !important; line-height: 11px !important;width:48px;margin-right:0!important; margin-top:1px; }
.AddToCart .button {color:#ffffff;font-weight:bold;padding:12px 12px 12px 12px !important;}
.AddToCart .availability {color:#898989;display:block;float:left;line-height:1.15em;margin:5px 0 0 0.5em;width:90px; white-space:nowrap; }
.AddToCart input.inputQty {background:none repeat scroll 0 0 transparent !important;border:1px solid #CDCDCD!important;float:left;padding:0.25em!important;width:20px!important;font-size:11px;}
.AddToCart .addCart table {width:290px;}
.AddToCart .storePrice {color:#666666; font-style: italic;padding-top:6px;font-size:10px;}
.addToCartButton {margin-right:0!important;}
.AddToCart table td.addCartValue {width: 123px;}
.AddToCart table td.addToCartButton  {width: 73px;}
.AddToCart .title {width:70px;font-size:11px;}
.AddToCart td {line-height:2em;padding:0 0.25em;vertical-align:top;}
.AddToCart li {float:left;}



#productsYouMayAlsoLike {margin-top:30px;}
#productsYouMayAlsoLike .ajax__tab_default .ajax__tab_inner{padding-left:0!important;}
#productDetails { padding-bottom:44px }
#productDetails .ajax__tab_body{padding-top:30px;}
#emailOverlay {color:#252e3c;}
#emailOverlay td{padding:5px 0;}
.Consumer {width:290px; overflow:hidden;}


#emailConfirmationOverlay{display:none; width:400px;}

#createNewLookbook p {float:left;}
#createNewLookbook p.errorMsg {width:65%;}
#productContainer input, #productContainer textarea {background:url("../images/bkg-input.jpg") repeat-x scroll 0 0 #fff;border:1px solid #C3C1C2;padding:0.5em;}
#createNewLookBook, #AddToCartConfirmation{display:none;}
#productContainer input {width:290px;}
#productInfo .ajax__tab_header {width:290px;}

.videoLaunch a {display:block; background: url(../images/icon-playvideo.png) no-repeat;width:48px; height:43px;position:absolute; left:20px; top:20px;}


/** Footer random**/
#randomFooter, .ReadMoreGeneral {clear:both;}

/*** Field errors **/
#productContainer input.highlight, #productContainer textarea.highlight{background:#fef8d2;}
#lookBookList a:hover {text-decoration:none;}


.overlay .privacy {font-size:.833em;}
.designerRadioset {position:absolute;clear:both;top:25px; left:-107px;width:300px;}
.designerRadioset p, .designerRadioset .designerYes {float:left;width:50%;}
.designerRadioset .designerYes {}



#productContainer a:hover, a.hpLink:hover {text-decoration:underline!important;}
.footer-bottom {width:981px;height:90px;clear:both; z-index:1;margin-bottom:-2px;}     
/*added for behind the piece videos*/
#films ul li a span.play {
    display: block;
    background:url(../images/video-rollover.png);
    text-align:center;
    width:100%;
    position:absolute;
    width:68px;
    height:61px;
}
#films ul li a 
{
    width:67px;
    height:61px;
}

/*added for Shopping Cart - Add to cart overlay*/

.AddToCartConfirmation .buttons a, .AddToCartConfirmation .buttons span {
    font-size:10px;
 }
 
 .AddToCartConfirmation .buttons a, .AddToCartConfirmation .buttons span {
    text-transform:none;
}

.AddToCartConfirmation .productDetails {
    padding-left:10px;
    color:#333;
    font-size:11px;
}


#divAddToCartConfirmation .hrLine_bottom {
    clear:both;
    background:url(../images/hr-dot.gif) repeat-x; 
    margin:10px 0px 10px 0px; 
    height:1px;
    width:100%;
}

.AddToCartConfirmation table{
    margin-bottom:4px;
}

/* pagination overrides */

ul.dlist li  label.InitialHtmlFixed.dropdown { margin-left:0; margin-left:0\0/; *margin-left:0; }

#pValidationError.error { background-image: url("../images/icon-error-full.gif"); }
#pValidationError.error label { margin: 8px 0 0 10px; font-weight: bold; font-size: 11px; }

#pValidationError.error ul { margin: 0 0 0 10px; }
#pValidationError.error ul li { list-style: circle !important; font-weight: bold; font-size: 11px; }


