﻿.ajax__tab_header {width:510px; margin:0 auto;background:url(../images/tab-bottom.png) no-repeat bottom;}
.ajax__tab_default .ajax__tab_inner{padding:0px 25px;}
.ajax__myTab .ajax__tab_tab {padding: 10px 0;margin: 0; color:#808080; font-weight:bolder; background-color:transparent;}

.ajax__myTab .ajax__tab_container .ajax__tab_default{ width:100%; clear:both;}

 /** Active Tab / Hover states**/  
.ajax__myTab .ajax__tab_hover .ajax__tab_tab,
.ajax__myTab .ajax__tab_active .ajax__tab_tab { color:#19212e;}
.ajax__tab_active {font-weight:bold;}
/** size */
.ajax__tab_header {font-size:10px;}
.ajax__tab_body{line-height:1.8em;}
.ajax__tab_default .ajax__tab_inner {display:inline-block;}
.ajax__tab_default .ajax__tab_outer {
display:inline-block;
}
.ajax__tab_default .ajax__tab_header {
white-space:normal !important;
}
.ajax__tab_active .ajax__tab_inner {height:34px; background: url(../images/tab-inner.png) -1px 0 no-repeat;}
.ajax__tab_active .ajax__tab_outer {height:34px; background: url(../images/tab-outer.png) 100% 0 no-repeat #fff;}
.ajax__tab_default .ajax__tab_tab {display:inline-block;overflow:hidden;text-align:center;}
#ctl00_ContentPlaceHolderMiddle_ProductDetailTabs_details_tab .ajax__tab_inner{background:none!important; }
#ctl00_ContentPlaceHolderMiddle_TabContainerYouMayLikeit_TabPanelYouMayLike_tab .ajax__tab_inner{background:none!important; }
#ctl00_ContentPlaceHolderMiddle_tabContainer_tabBilling_tab .ajax__tab_inner, #ctl00_ContentPlaceHolderMiddle_ProductDetailTabs_details_tab .ajax__tab_inner {padding-left:0px;}
#ctl00_ContentPlaceHolderMiddle_tabContainer_tabBilling_tab .ajax__tab_inner {background:none!important;}
#ctl00_ContentPlaceHolderMiddle_tabContainer_header {background: transparent url(../images/separator-products.jpg) no-repeat scroll 0 100%;}
