#content {background: url(../images/bkg-content.jpg) no-repeat 0 245px #fff; }
.wrapper {width:981px;/*background-color:#fff;*/margin:0 auto;}

.hrLine {clear:both;background:url(../images/hr-dot.gif) repeat-x; margin:0px 0;height:1px;width:100%;}

.spacer5px { height: 5px !important; }
.spacer10px { height: 10px !important; }
.spacer15px { height: 15px !important; }
.productList { position:static!important;}
.productList #listingHeading { background: url(../images/bkg-productlist.png) no-repeat; width:928px; margin:0 auto;padding-bottom:8px;}
.productList #selectHeader li {line-height:56px;}
.productList #view {width:77px;color:#ba6d3d; text-transform:uppercase;text-align:center; margin:0 auto;  }
.productList #selectCategory, .productList #selectSubcategory{width:263px;position:relative;}
.productList #showFilter{width:320px;}
.productList #showFilter ul {overflow:hidden;padding-top:12px;}
.productList #showFilter li {padding:0 8px; line-height:30px;}
.productList #showFilter li, .productList #showFilter ul, .productList #showFilter span {float:left;}
.productList #showFilter span {color:#ba6d3d; padding: 0 18px 0 30px;display:block;}
.productList #showFilter label {padding-left:6px;font-size:13px;font-weight:bold;display:inline-block;}
.productList .view a:hover {text-decoration:underline;}
.productList .pricingContent {width:290px;}

/** override the lookbooklist setting*/
#layoutListing .lookBookList {left:0px;}
/*#layoutListing .lookBookList div.dropdown{left:5px;top:23px;z-index:100;}*/
/** Drop down overrides **/
.productList #listingHeading .alpha-shadow ul { border-left:none!important; border-top:none!important;}
.productList #listingHeading div.alpha-shadow {width:260px; background: none #262525!important; padding-left:0!important; z-index:6;top:54px;}
.productList #listingHeading div.alpha-shadow ul{padding-right:0!important;line-height:1.8em;}
.productList #listingHeading ul.dropdown {width:262px; position:absolute;z-index:2;}
.productList #listingHeading label.dropdown {position:static!important;width:233px;margin:0 auto;border:none!important; line-height:34px; color:#fff; background:url(../images/icon-arrow-orange.png) 95% 54% no-repeat !Important; padding-left:20px }
.productList #listingHeading ul.dropdown li a {color:#808080; padding:5px 0 5px 18px;}
.productList #listingHeading ul.dropdown li {float:none!important; line-height:1.8em;}
.productList #listingHeading ul.alpha-shadow, .productList #listingHeading #selectCategory div.alpha-shadow ul,
.productList #listingHeading #selectSubcategory div.alpha-shadow ul{background: none #262525!important; padding-left:0!important;}
.productList #listingHeading ul.dropdown li a {margin-right:0!important;}
.productList .footer-image {width:981px; margin:0 auto;}

/** TABLE STYLING **/
/*** CART CONTENTS ***  SHOPPING CART ASCX CONTROL ***/
.col1{width:101px;}
.col2 {width:120px;}
.col3 {width:74px;}

.pricing .col1 {width:78px;}
.pricing .col2 {width:73px;}
.pricing .col3{width:80px;}
.m {width:23px;vertical-align:middle!important;}
/*** Shopping Cart Contents : Table **/
.listContents {width:881px; margin: 0 auto;}
.listContents thead {height: 27px; background: url(../images/bkg-dealer1.jpg) repeat-x; color:#19212e; text-transform:uppercase; font-weight:bold;}
.listContents thead td {padding: .5em 0;}
.listContents tbody td {padding:7px 0; vertical-align:top;}
.listContents tbody tr.row {background: url(../images/separator-products.jpg) 0 100% no-repeat;}
.listContents .pricing tbody tr {background: none!important;}
.listContents table td {vertical-align:top;}
.listContents .separator {border-right:1px solid #989898; height:17px;line-height:17px;}
.listContents .sku {padding: 10px 0;}
.listContents .sku, .listContents table table {width:100%; }
.listContents .sku li {float:left;}
.listContents .sku .first {padding-left:0px;}
.listContents .notAvailableMsg {padding:10px 0;}
.listContents .pricing input {border:1px solid #d0d0d0; padding:.5em; width:25px;border:1px solid #cdcdcd;padding:.25em; width:24px;}
.listContents td.productImage  {width:164px;text-align:center; }
.productimage {width: 309px; text-align: center;}
.listContents td.productImage img {width:154px; margin:0 auto;}
.listContents td.productInfo {width:460px;}
.listContents td.productInfo, .listContents td.pricingContent {padding-top:27px;}
.listContents .productInfo h1 a{color:#252e3c; font-weight: normal; }
.listContents .productInfo h1 a:hover {color:#9f3a1a;}
.listContents .options {padding:10px 0 0 0; margin-bottom: 0px !important;}
.listContents td.pricingContent {width:275px;}
.listContents .pricingContent table {font-size:0.917em;}
.listContents .AddToCart td.title {color: #252525;}
.listContents .productLabel {background: url(../images/bgk-productlabel.jpg) repeat-x; color:#fff;font-family:Arial; font-size:14px;}
#layoutListing table.collectionInfo td, #layoutListing table table td{padding:0!important; margin:0!important;}
#layoutListing table.collectionInfo {line-height: 4px;}
#layoutListing table.collectionInfo td {line-height: 23px;}
#layoutListing .pricingContent tr {background: none!important;}
.listContents #availability td {padding:15px 0!important;}
.listContents .altProductMsg {font-size:0.917em;}
.listContent .divAddToLookbook{position:relative;}
.listContents td.title {color:#707070;}
.listContents td.value {color:#252525;}
.listContents .AddToCart .title {width:50px;}
.listContents .AddToCart td {line-height:2em;padding:0 0.25em;vertical-align:top;}
.listContents .AddToCart li {float:left;}
.listContents .AddToCart .price{font-weight:bold; font-size:16px;}
.availability span{color:#898989;font-size:0.833em;}
.AddToCart, .availability strong{color: #252525;font-size:0.917em;}
.AddToCart .price {/*font-size:1.4em;*/ color:#19212e;}
.AddToCart .btnCart {color:#fff; font-weight:bold; display:block; min-height:24px; line-height:13px; margin-right:0 !important; width: 45px; }
.AddToCart .button {color:#ffffff;font-weight:bold;padding:10px 12px 8px 12px !important; margin-top: -5px; }
.AddToCart .availability {color:#898989;display:block;float:left;line-height:1.15em;margin:5px 0 0 5px;width:100px;}
.AddToCart input.inputQty {background:none repeat scroll 0 0 transparent !important;border:1px solid #CDCDCD;float:left;padding:0.25em;width:14px;font-size:11px;}
.AddToCart .addCart table {/*margin-top:6px;*/}
.AddToCart .storePrice {color:#707070; font-style: italic;padding-top:6px;font-size:0.8em;}
.addToCartButton {margin-right:0!important;}

.PurchaseView .AddToCart .button { margin: 1px 0 0 0;}
.PurchaseView .hrLine { margin:5px 0;}



#layoutListing table td.addCartValue {width: 143px;}
#layoutListing table td.addToCartButton  {width: 73px;}

.footer-bottom {width:981px;height:90px;clear:both; z-index:1;margin-bottom:-2px;}       

/*** Grid View **/
#gridView {width:927px;padding-top:10px;}  /** 309 x 3**/
#gridView ul li {float:left;position:relative;height:278px; width:309px;}
#gridView .animateborder{background-color:#fff;border:2px solid #efefef;}
#gridView .productimage {display:block;}
#gridView .productname{word-wrap: break-word; z-index:99;text-align:center; font-weight:normal!important; background: url(../images/bkg-gridview.png) repeat-x;width:295px; height:70px; position:absolute;bottom:25px; vertical-align:middle; margin-left: 7px; opacity: 0.6}
#gridView .productname h1, #gridView .productAni h1 { opacity: 1 ;/*padding:8px;*/padding-top:20px;line-height:20px;margin:0 auto;width:200px;font-size:14px; color:#fefefe; font-weight: normal !important; display:block; height:auto;}

/** turn off popups **/
#layoutListing .popup {position:absolute!important;}
#imgGallery,
#lookbookAddNoReg{display:none;}
#lookbookAddNoReg .iconLookbookPopup {padding-left:0px;}
.wrapper .iconLookbook {background:url("../images/icons.png") no-repeat scroll -113px -3px transparent; height:25px; width:25px;}

/** Colorbox overrides **/
#cboxLoadedContent {background:none repeat scroll 0 0 #FFF; overflow:hidden!important;}
#cboxTitle{display:none!important;}

/** Gallery opens in Colorbox**/
#galleryView .galleryImage {margin:0 auto; width:500px; height:450px;}
#galleryView .galleryDetails {clear:both;}
#galleryView .galleryDetails li{float:left;}
#galleryView .galleryDetails li li {float:none;text-align:left;line-height:1.4em; margin-bottom:0.75em }
#galleryView .gpInfo {float:left;width:680px; height:150px; opacity:0; }
#galleryView .gpButtons {float:right; width:165px; margin:40px 0 0 85px; }
#galleryView .gpButtons a {float:left;}
#galleryView .gpInfo li { margin-left:60px }
#galleryView .gpInfo li.collectionInfo { margin-top:40px }
#galleryView .gpInfo li.productname a:hover { color:#9f3a1a}
#galleryView .btns{width:48px; height:43px;}
#galleryView .addtolookbook a {line-height:20px;}
#galleryView .numPieces {color:#a1a1a1; font-size:10px;font-family:Arial,Helvetica,sans-serif;}
#galleryView .collectionInfo {color:#666666; font-size:11px; font-family:Arial,Helvetica,sans-serif;}
#galleryView .productname a, #galleryView .productname{color:#19212e; font-size:15px; font-family:Georgia,"Times New Roman", Serif;}
#galleryView .addtolookbook {color:#252e3c; font-size:10px; font-family:Arial,Helvetica,sans-serif;}
#galleryView .btnPrevious{background:url('../images/sprite-gallery-btns.jpg') no-repeat -65px -38px;}
#galleryView .btnPlay{background:url('../images/sprite-gallery-btns.jpg') no-repeat -119px -38px;}
#galleryView .btnNext{background:url('../images/sprite-gallery-btns.jpg') no-repeat -173px -38px;}

#galleryView .btnPreviousOver{background:url('../images/sprite-gallery-btns.jpg') no-repeat -65px -93px;}
#galleryView .btnPlayOver{background:url('../images/sprite-gallery-btns.jpg') no-repeat -119px -93px;}
#galleryView .btnNextOver{background:url('../images/sprite-gallery-btns.jpg') no-repeat -173px -93px;}


#icon-is{ position: relative; top: 3px; left: 5px; *top: -18px; *left: 90px; }

