#flashcontainer  {
        font-family: Times New Roman;
        font-size: 12px;
    }

section#focal {
        text-align: center;
        width: 850px;
        height: 538px;
        margin: 10px 10px 30px 10px!important;
    }

    .parent, .parent .panzoom, .imgZoom {
        width: inherit;
        height: inherit;
    }

    /*Scale function CSS - Nhi Do*/
    #scale {
        background: url("../images/scale/image 11.png") no-repeat;
        width: 394px;
        height: 361px;
        margin-left: 251px;
        margin-top: 100px;
    }

    #title {
        width: 94%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        padding-top: 22px;
    }

    #subtitle {
        width: 57%;
        padding: 0px 5px 28px 71px;
    }

    #select {
        padding: 9px 5px 0px 48px;
    }

        #select input {
            margin-right: 5px;
        }

    #gender {
        width: 30px;
        height: 20px;
        margin-top: 38px;
        margin-left: 60px;
        float: left;
    }

    #selectgender {
        float: left;
        width: 200px;
        height: auto;
        margin-top: 34px;
        margin-left: 20px;
        line-height: 30px;
    }

    #selectheight {
        float: left;
        width: 215px;
        height: 40px;
        margin-top: 34px;
        margin-left: 20px;
        line-height: 30px;
        margin-bottom: 50px;
    }

    #flashcontainer input[type="button"] {
        margin-left: 132px;
        background: url('../images/scale/button.bmp') no-repeat;
        width: 103px;
        height: 31px;
        border: 0px;
        color: #FFFFFF;
        font-size: 11px;
    }

    #flashcontainer .showText {
        width: 70px;
        float: left;
    }

    #flashcontainer input[type='radio']:checked {
        background: url("../images/scale/image 84.png") no-repeat;
    }

    #flashcontainer input[type="radio"] {
        -webkit-appearance: none;
        border: none;
        width: 16px;
        height: 16px;
        margin-right: 7px;
        background: url("../images/scale/image 87.png")center center no-repeat;
        vertical-align: text-bottom;
    }

    #showImg1 {
        margin-left: 20px;
    }

    #divshowImg1 {
        position: absolute;
        left: 88px;
        bottom: 35px;
        z-index: 999;
    }

    #divshowImg2 {
        position: absolute;
        right: 205px;
        bottom: 73px;
    }

    #changeSettings {
        color: #4169E1;
        font-size: 11px;
        position: absolute;
        left: 20px;
        bottom: -3px;
        width: 119px;
    }

   
    #divmoreview img {
        padding: 0;
    }

    .focus {
        border: 1px solid #f00;
    }

    #textError, #FtError, #lenghterror {
        position: absolute;
        left: 388px;
        bottom: 192px;
        color: #ce2c4e;
    }
    .imperial, .metric {
        margin-left: 35px;
    }