﻿
/** Position Heading image, turn it on **/
#content { background: #fff url(../images/header-register.jpg) top left no-repeat; }


.wrapper {clear:both;width:981px;position:relative;top:105px; }
.footer-image {width:981px; height:123px;position:relative;z-index:1;}


/** Page uses layout2.css, with overrides for the page **/
#layout2 { }
#layout2 #registerAccount .privacy{float:left; width:350px;color:#333333;margin:0!important;padding:0!important;}
#layout2 #registerAccount .privacy p {padding:0!important;}

.breadcrumbs {padding-top:105px;}

/** Page specific css*/
#registerEmail input.idleField, #registerEmail label{display:block; float:left; color:#19212e;}
#registerLogin {margin-top:5px; padding: 10px 0 110px 0;width:278px!important;}
#registerLogin h2 {font-weight:normal;}
#registerLogin fieldset{ padding: 26px 0 14px 0; width:198px; margin: 0 auto;}
#registerLogin .trade{padding:26px 0 31px;}
#registerLogin input.idleField { width:186px;margin-top: 4px;}
#registerEmail {margin-bottom:30px!important;}
#registerEmail input.idleField {margin-right:.5em;}
#registerAccount .col2 .radioSet {margin-top:5px;}
#registerAccount .full {padding-top:10px;}
#registerAccount .buttons {float:right;}
#registerLogin .contactUsLink:hover {text-decoration:underline;}
#registerAccount label.dropdown{width:248px;margin-bottom:10px;position:relative;line-height:28px;padding:0 5px;}
#registerAccount div.dropdown{width:268px;position:relative; top:-10px;}
#registerAccount div.dropdown a {font-size:0.917em;padding-left:6px;}
#registerAccount div.dropdown {height:370px; overflow-y: auto;border:1px solid #efefef;}
#registerAccount .buttons a {float:left;}
#registerAccount .checkbox {display:block;}
#registerAccount h1.top, #registerEmail h1 {font-weight:normal;}
#registerAccount h1.top {margin: 34px 0 26px 0;}
#registerEmail h1 {margin-bottom:17px!important;margin-top:30px;}
#registerAccount .termsofuse {font-size:10px; font-weight:bold;margin-bottom:10px;}
#registerAccount .radioSet li {line-height:14px!important;}
#registerAccount .requiredStatement {text-align:right; }
#registerAccount .hrLine {height:1px; background: url(../images/hr-register.jpg) no-repeat;width:558px;clear:both; }
#registerLogin .hrLine {width:236px; margin: 0 auto; display:block;background: url(../images/hr-dot.gif) no-repeat;height:1px;}
#layout2 hr { display:none;}
#registerAccount .backLink {color:#556e97!important;padding:8px 10px 8px 0; text-decoration:underline;font-size:10px;}
#registerAccount #layout2 p,
#registerAccount p, 
#registerAccount .trade label {color:#333;font-size: 0.917em;}
#registerAccount .col1 label {clear:both;}
#registerAccount #layout2 p { margin-bottom:10px; color:#808080;}
#registerAccount .dropdown{background-color:#fff;}


.country, .province, .city {position:relative;}
#registerAccount .dlist li {line-height:normal;}
.furnitureDealer, .SalesAssociate {display:none;}
#registerAccount .radioSet label {width:auto;margin-bottom:10px;}
#registerEmail input.idleField, #registerEmail label {line-height:1.5em;}

#registerAccount .privacy h3 {font-weight:bold;}

 #registerAccount label.dropdown {background-position:240px 50%;margin-bottom:10px;padding-bottom:0px;}
 #registerAccount input.highlight, #registerLogin input.highlight
{background:#fef8d2;border:1px solid #b02931;}
#registerLogin p{padding:10px 0 15px;}
#layout2 a.button, #layout2 input.cms_submit{margin-right:0!important;}
#registerAccount li, p {line-height:1.6em;}


#pValidationAlreadyRegisteredError li, #pValidationForgotUsernameError li, #pValidationForgotPasswordError li {float:none!important;}
#pValidationAlreadyRegisteredError, #pValidationForgotUsernameError, #pValidationForgotPasswordError {margin-bottom:10px;}

#registerLogin a.submitButton {width: 54px;}

body .error{background: #AF242E url(../images/icon-error-full.gif) no-repeat scroll 15px 15px}
#pValidationError {font-size: 11px; font-weight: bold; padding: 12px 0 10px 50px}
#pValidationError ul {padding: 0.5em 1em 0; list-style-type:disc;}