﻿/**Search loading **/
#searchLoading { text-align:center; position:absolute; top:320px; clear:both; width:981px; background:#fff; min-height:280px; visibility:hidden; }
#searchLoading h3 { font-family:Georgia, serif !important; font-style:italic; margin-top:160px; }

/*** Dealer Page : Header Section **/
.dlrSelector, .dlrSearch{line-height:normal;}

/*** Override the css code in the auxiliary file **/
#content {background: url(../images/bkg-content.jpg) no-repeat #fff -1px -1px; margin:0; padding:0;}
.footer-bottom {bottom:0px;position:relative!important;clear:both;}/** Padding is required to fix gap taht occurs when searching/javscript fills values...optionally, maybe add footer and inject each time??**/

.breadcrumbs { padding-top: 34px; }


#iptAllColors{font-weight:bold;}
#gridView{width:auto;}
.hrLine {height:1px; background: url(../images/hr-dot.gif) repeat-x;clear:both;margin-top:12px; margin-bottom: 2px}
/** Search Bar  **/

#searchResults {width:927px; margin:-3px auto 0 auto;min-height:370px;}
#searchResults .widthT{width:881px; margin: 0 auto;}
#searchResults .productimage {float:left;position:relative;}
#searchResults #layoutListing{width:927px!important;}
#searchResults .searchTop{margin-bottom:13px;}
#searchResults h1.pageTitle {padding-bottom:25px;font-weight:normal!important;font-size:22px;}
#searchResults #searchInput{background: url(../images/bkg-search.jpg) repeat-x; height:67px; width:661px; margin-top:0 } 
#searchResults #searchInput input {border:1px solid #c7c6c7; background:url(../images/bkg-searchinput.jpg) no-repeat #fff; font-size:14px; font-family:arial; color:#333333; height:31px; padding: 7px 0px 5px 8px; margin-top:5px; width:590px;margin-left:6px;font-size:14px; z-index:1;}
#searchResults #searchInput li {float:left;}
#searchResults .iconMagnifying {display:block; background: url(../images/btn-magnifying-off.jpg) no-repeat; width:45px; height:54px;}
#searchResults .iconMagnifying:hover {display:block; background: url(../images/btn-magnifying-on.jpg) no-repeat; }
#searchResults .iconMagnifying span {display:none;}
#searchResults #searchPanel {width:661px;float:left;z-index:1;background-color:#pink; height:54px;}
#searchResults #advancedSearch { z-index:1;background: transparent url(../images/bkg-advancedsearch.jpg) 0 0 no-repeat;  width:220px;float:left; overflow:hidden; height:67px;}
#searchResults .listContents{margin:0!important;}
#searchResults #layoutListing {width:881px; margin: 0 auto;clear:both;}
/** Advanced Saeerch Panel **/
#advancedSearchPanel { position:relative; z-index:6; background:#e6e6e6;padding:28px 35px 35px 35px;margin: 0 auto;clear:both;width:811px;}
#advancedSearchPanel h1 {font-weight:bold; font-size:16px; color:#333333;display:block;float:left;}
#advancedSearchPanel a#btnCloseSearchPanel{float:right;text-decoration:underline; font-weight:bold;color:#556e97;padding-right:0px;}
#advancedSearchPanel h2 {font-weight:bold; font-size:14px; color:#333333;padding:10px 0;font-family:Arial, Helvetica, Sans-Serif !important;}
#advancedSearchPanel a#lnkTextView, #advancedSearchPanel a#lnkSliderView{color:#556e97; font-size:10px;font-weight:bold; text-transform:uppercase;text-decoration:underline;}
#advancedSearchPanel .dimensions{position:relative;width:555px;z-index:2;}
#advancedSearchPanel .dimensions p, #advancedSearchPanel #selectSize span, #advancedSearchPanel .ui-slider-handle span {font-size:11px; color:#333333;}
#advancedSearchPanel .dimensions, #advancedSearchPanel .colors, #selectCategory {float:left;}
#advancedSearchPanel #selectSize, #advancedSearchPanel #selectCategory {margin:15px 0 0px 0;}
#advancedSearchPanel #selectSize {float:right;width:170px;padding-right:6px;position:relative;}
#advancedSearchPanel #selectSize span{margin-right:5px;}
#advancedSearchPanel #selectSize span, #advancedSearchPanel #selectSize label {display:block; float:left;line-height:30px;}
#advancedSearchPanel #selectSize label {width:90px;}
#advancedSearchPanel #selectCategory {width:350px;position:relative;z-index:2;}
#advancedSearchPanel #selectColorOptions {width:210px;height:20em;}

#advancedSearchPanel #selectCategory label.dropdownCategory, 
#advancedSearchPanel #selectSize label.dropdown {padding:0 0 0 10px!important; font-size:0.917em; color:#252525; background:url("../images/icon-arrow.png") no-repeat #fff;  border:1px solid #cdcdcd; display:block; height: 28px; line-height:28px;}
#advancedSearchPanel #selectCategory label.dropdownCategory{width:205px;background-position: 196px 50%;}
#advancedSearchPanel #selectCategory .labelHighlight{background-color:#fef8d2!important;border:1px solid #b0252e!important;}
#advancedSearchPanel #selectSize label.dropdown { width:94px;background-position:84px 50%;}
#advancedSearchPanel .dimensions {padding-top:10px;}
#advancedSearchPanel .tip-left {top:-48px; left:-98px;}
#advancedSearchPanel .tip-right{top:-48px; right:-110px;}
#advancedSearchPanel .tipsy, #advancedSearchPanel .tipsy-s {position:absolute; z-index: 999999 !important;}
#advancedSearchPanel .tipsy-inner {font-size:11px; font-family:arial; font-weight:normal; background-color:#333333;color:white;max-width:200px;padding:10px 20px;text-align:center;}
#advancedSearchPanel .tipsy-s .tipsy-arrow{left:50%;margin-left:-4px;}
#advancedSearchPanel .tipsy-arrow {background:url("../images/tooltip-tag.png") no-repeat scroll 0 0 transparent;height:12px;position:absolute;width:13px;top:32px;}
#advancedSearchPanel #tblCategoryTree{z-index:6;position:absolute;left:0px; top:30px;background-color:#fff;  width:818px;  border:1px solid #c1c1c1; padding: 0 0 0 0 !important;}
#advancedSearchPanel #tblCategoryTree table tr td{width:205px !important; border-right:1px solid #bebebe;vertical-align:top; padding:20px 50px 0 20px !important;}
#advancedSearchPanel #tblCategoryTree a{color:#252525; font-size:11px;font-weight:bold; text-transform:uppercase;}
#advancedSearchPanel #tblCategoryTree ul {background:url("../images/hr-dot.gif") repeat-x scroll 0 100% transparent;margin-bottom:20px;padding:5px 0 10px 0;}
#advancedSearchPanel #tblCategoryTree ul a, #advancedSearchPanel #tblCategoryTree ul li{display:block;color:#252525; font-size:11px;text-transform:none;line-height:22px;}
#advancedSearchPanel #tblCategoryTree ul a:hover{color:#9f3a1a;}
#advancedSearchPanel .resetLink{float:right;color:#556e97;font-weight:bold; font-size:10px; padding-right:10px; text-decoration:underline;display:block;line-height:30px;text-transform:uppercase;}

/** Advanced Search Panel, Right Side Scroll Pane : utilizes scrollpane.css / js  **/
#advancedSearchPanel #ColorsFinishes{float:left;width:145px;position:relative;z-index:1;margin-left:18px;margin-bottom:40px;}
#advancedSearchPanel #ColorsFinishes h2 {padding-bottom:5px;}
#advancedSearchPanel .jScrollPaneContainer{z-index:1;margin-top:12px;background: url(../images/bkg-scrollpane.jpg) repeat-x 0 0 #fff;border:1px solid #bfbfbf;}
#advancedSearchPanel #ColorsFinishes .colors .jScrollPaneTrack {	background: #798aa3;}
#advancedSearchPanel #ColorsFinishes .colors .jScrollPaneDrag {	background: url(../images/scrollbar-vert.jpg) no-repeat 50% 50% transparent;}
#advancedSearchPanel #ColorsFinishes .colors .scroll-pane {	background: #798aa3;}		
#advancedSearchPanel #ColorsFinishes .colors {	float: left;}
#advancedSearchPanel #ColorsFinishes .colors .scroll-pane {	width: 236px;height: 312px;	overflow: auto;float: left; background: transparent none repeat scroll 0 0;}
#advancedSearchPanel #ColorsFinishes ul {padding:15px 0 0 0px;}
#advancedSearchPanel #ColorsFinishes ul ul {width:155px; margin:-2px auto 0;}
#advancedSearchPanel #ColorsFinishes h3 {padding:10px 0 0 0;}
#advancedSearchPanel #ColorsFinishes .rptcolors {clear:both;}
#advancedSearchPanel #ColorsFinishes ul ul input, #advancedSearchPanel #ColorsFinishes ul ul label {float:left; display:block; font-size: 11px;}
#advancedSearchPanel #ColorsFinishes #hasNoBoxes li { background: url(../images/bullet-aux.jpg) no-repeat left 7px;height:20px; line-height:20px; padding-left: 20px;  }
#advancedSearchPanel #ColorsFinishes #hasNoBoxes a:hover {color:#9f3a1a;}
#advancedSearchPanel #checkedList .indenter, #checkedList h2, #checkedList ul ul {padding-left:10px;}
#advancedSearchPanel #checkedList .indenter label{font-weight:bold;font-size: 11px;}
#advancedSearchPanel #checkedList h2{font-size:11px;padding-left:35px;}
#advancedSearchPanel #hasNoBoxes {padding:0px 0 0 19px!important;}
#advancedSearchPanel ul#hasBoxes{margin-left:35px !important; margin-top: 2px !important; padding-top: 0 !important; }
#advancedSearchPanel ul#hasBoxes li { margin-bottom: -2px !important; float: left; }

#advancedSearchPanel h3.totals{float:left;}
#advancedSearchPanel .buttons {padding-top:10px; overflow:hidden;width:auto; border-top:1px solid #b3b3b3;clear:both;}
#selectSize div.alpha-shadow, #selectSize ul.alpha-shadow {width:105px;top:28px;background:#fff;border:1px solid #b3b3b3;}

#btnUpdateResults{margin-right:0!important;height:22px; line-height:22px;width:95px;}
   
.iconArrowRightAlt{display:inline-block; margin-left:5px; background: url(../images/icons.png) -335px -6px no-repeat; width:10px; height:9px;position:relative; }
.highlight {background-color:#fff;}

.popup-shadow3 {-moz-box-shadow:1px 1px 3px #D0D0D0;}

#searchResults #advancedSearch .advancedOver a, 
#searchResults #advancedSearch .advancedOver a.-out{background:url("../images/icon-arrow-l.png") no-repeat scroll 100% 50% transparent !important;padding-right:16px;padding-left:20px;font-style:italic; font-weight:bold; font-size:0.917em; color:#fff; line-height:50px; z-index: 1; position: relative; }
#searchResults #advancedSearch .advancedOver a.on{background-image:url("../images/icon-arrow-l-up.png") !important;}
/*#searchResults #advancedSearch .advancedOver .-over*/ 
#searchResults #advancedSearch .advancedOver a:hover {background:url("../images/icon-advancedsearch-over.png") no-repeat scroll 100% 50% transparent !important; color:#8bb0e9; text-decoration:underline; z-index: 1; position: relative;}


/** Slider Overrides **/
#sliderView {position:relative;padding-bottom:15px;clear:both;padding-top:35px;z-index:1;}
#sliderView .ui-widget-header{background:url(../images/bkg-slider2.jpg) repeat-x 50% 50%;}
#sliderView .ui-slider{top:-15px; left:60px;width:450px;margin:10px 0 20px 0;}
#sliderview .ui-widget-content{background:url(../images/bkg-slider.png) repeat-x 50% 50%;}
#sliderView .ui-slider .handle-left{background: url(../images/btn-slider.png) no-repeat;width:25px; height:25px;}
#sliderView .ui-slider .handle-right{background: url(../images/btn-slider-r.png) no-repeat;width:25px; height:25px;}
#sliderView .ui-slider-handle span {display:block;position:relative; top:30px; left:8px;}
#sliderView label {clear:left;color:#333333; font-weight:bold; font-size:10px;top:10px; text-transform:uppercase; position:relative; right:20px; width:60px;text-align:right;}
#sliderView .ui-widget-content {background:url(../images/bkg-slider.jpg) repeat-x 0 50% !important; border:none;}   
#sliderView .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color:#252525;}
#sliderView .ui-state-default, #sliderView .ui-state-hover{border:none;}
#sliderView #width, #sliderView #height, #sliderView #depth {position:relative;}
#sliderView .ui-slider-horizontal{height:15px!important;}
.content-no-sidebar-full {padding:0 30px;}
#lnkOneCategory{display:block;padding:2px 0 2px 10px;color:#556e97;font-weight:bold;text-decoration:underline;}

#textView {font-size: 11px; color:#333333;margin-bottom:70px;clear:both;padding-top:20px;}
#textView .title {font-weight:bold;text-align:right;}
#textView table {vertical-align:middle;}
#textView td {padding:5px; text-align:left;}
#textView .idleField {border:1px solid #bfbfbf;height:28px; line-height:28px; font-size:13px;width:83px;text-align:left;color:#556E97;padding:0px 4px; background: none; background-color: #fff; font-family:Georgia!important; }
#textView #pValidationError{font-size:11px; font-weight:bold; color:#b0252e; padding-bottom:15px;}
#textView .textViewRange label {display:inline;}

/** Popups **/
#divAllThemes, #divAllStyles, #divAllRooms, #divRetiredPopup{color:#333333;z-index:7;font-size:0.75em;line-height:18px;width:435px;}
.overlay h1{font-family: Arial,Helvetica,sans-serf!important;}
.overlay ul {clear:none;width:355px; margin: 0 auto;padding:40px 0!important;} /* cneter it */
.overlay ul ul {padding:10px 0;float:left;}
.overlay ul ul a:hover {color:#9f3a1a;text-decoration:underline;}
.overlay li {padding:0!important;}
.overlay li li {padding:0px!important;line-height:18px;}
#divAllThemes ul ul, #divAllStyles ul ul, #divAllRooms ul ul { width:48%; }

#gridView .productimage {width:309px;display:block;float:left;}


 /** Results Summary Links **/                                                     
#summary {border: 5px solid #e6e6e6;width:821px;padding:15px 25px 25px 25px; float: left; margin-top: 0; }
#summary td {vertical-align:top;}
#summary thead td{padding-bottom:15px;}
#summary .col1, #summary .col2, #summary .col1 ul {float:left;}
#summary .col1 ul {width:50%;}
#summary .col1 {width:565px;}
#summary .col2 {width:260px;}
#summary .title, #summary .categorytitle, #summary .alttitle, #otherresults .collectiontitle{font-weight:bold; color:#333333;}
#summary #lnkAllProductResults, #summary #lnkAllCategory, #lnkAllCollections{text-decoration:underline;}
#summary #lnkAllResultsLabel {font-size:1.1667em;margin-top:0px!important;color:#556e97;}
#summary .title {font-size:11px;padding:10px 0 0 10px;}
#summary .subtitle, #summary .alttitle, #summary .categorytitle {font-size:12px;}
#summary #tblSummary{margin-top:20px;width:821px;}
#summary #tblSummary .otherStates ul{padding-top:2px;}
#summary #tblSummary li {color:#333333; font-size:0.917em;}
#summary #tblSummary li a {color:#333333;}
#summary #tblSummary li a:hover {color:#9f3a1a;}
#summary .otherStates td#productcategories {width:315px;}
#summary .otherStates td#otherresults {width:290px;}
#otherresults .collectiontitle{padding-top:0px;}
#summary .otherStates td#otherresults ul, #summary .otherStates td#thirdResults ul{padding-left:20px;}
#summary #tblSummary .productcategories{}
#summary .otherResults {padding-top:30px;}
#lnkAllCollections { padding-bottom:5px; }
#lnkAllResults { text-decoration:underline; }
a#lnkAllCategory, a#lnkOtherResults, a#lnkAllStyles, a#lnkAllRooms, a#lnkAllCollections, a#lnkAllLifeStyles, a#lnkAllOtherProducts, a#lnkAllResults, a#lnkAllResultsLabel, a#lnkAllProductResults { display:block; color:#556e97 !important; font-weight:bold !important; font-size:1em; margin-top:10px; text-decoration: underline !important; }
#lblAVScategory {display:block;font-weight:bold; font-size:1em;margin-top:10px;}
#summary #lnkOtherResults{display:block;}
#summary .more {color:#9f3a1a;padding-left:20px;}
#summary .more:hover {text-decoration:underline;}
#summary #lnkAllProductResults{padding:5px 0 0 10px;color:#556e97;display:block;}
#summary #ulTypes {padding-left:20px;}
#summary p.spacing {height:20px;}

/** Pagination overrides **/
.paging .pagingNumPieces span {padding-left:0;}
.paging {margin-top:20px;}
.paging .iconArrowRight, .paging .iconArrowLeft{padding:0!important;}
.paging .buttons li {padding:0!important;}
.paging .btnGridView{margin-right:4px;}
.paging .contd {line-height:23px!important;}
.paging .pagingNums a.last {padding-right:0!important;}

.productList{padding-top:0px;}
#productResults {padding-top:34px;}
#productResults h1  {color:#333333; font-size:22px;display:inline;font-weight:normal!important;}
#productResults a#btnSeeAllProductResults {color:#9f3a1a;margin-left:15px;font-size:11px;}
#productResults a#btnSeeAllProductResults:visited{}
#productResults a#btnSeeAllProductResults:hover {color:#D86B2C!important;}

#titleDetails {width:881px;margin:0 auto -5px auto; }
#titleDetails td{padding:20px 0 0 0;}

#titleDetails tr.separator-line td {padding:20px 0 25px 0 !important; }
 
#productResults #tblItems{padding-top:30px;}

#OtherDetails {padding-top:40px;}
#titleDetails td {padding-bottom:25px;}
#OtherDetails h1  {color:#333333; font-size:22px;display:inline;font-weight:normal!important;}
#OtherDetails a#btnSeeAllOtherResults {color:#9f3a1a;margin-left:15px;font-size:11px;}
#OtherDetails a#btnSeeAllOtherResults:hover {color:#D86B2C!important;}
#OtherDetails #tblPages{margin-top:6px;width:881px;margin-bottom:40px;}
#OtherDetails .pageTitle a{font-size:16px; color:#19212e;font-family:georgia,garamond,serif!important;}
#OtherDetails .pageTitle a:hover, #OtherDetails .pageSection a:hover{text-decoration:underline;color:#9f3a1a;}
#OtherDetails p{width:560px;font-size:11px;padding:10px 0;}
/* #OtherDetails td.itemDetails{width:600px; padding-top: 21px !important;} */

#OtherDetails td {vertical-align:top;padding:26px 0 15px 0 !important; }

#OtherDetails .pageSection, #OtherDetails .pageSection a{color:#9f3a1a;}

#gridView .productAni .productimage a{display:block;position:relative;z-index:1; top:0px;}
#gridView .productAni {height:57px; display:none;bottom:35px;vertical-align:middle; /*height: 150px;*/z-index:99;position:absolute;width:309px;}
#gridView .productAni .productname {bottom:0; padding:0 35px; text-align:center;height:57px;text-align:center;vertical-align:middle;}
#gridView .productAni h1 {position:relative;z-index:99999;}
#gridView .productAni .pOptions{color:#808080;font-size:11px; text-align:center;padding-top:20px;/*position: relative; bottom: -121px;*/}
/** Alt style to fit in font**/
#gridView .productname h1.altStyle{color:#FEFEFE;font-size:10px;line-height:16px;margin:0 auto;padding:4px;width:210px;}

/* ie7 fix for search results */
#gridView .productAni  { zoom: 1; *background:url("../images/bkg-gridview.png") no-repeat 20px 5px; }
#gridView .productAni .productname { *background: none; }

#searchLayoutOverlay {display:none;background: url(../images/search-layout.jpg) no-repeat; width:981px; top:0px; z-index:99; opacity:0.2;}

#checkedList .ez-checkbox {
    background-image: url(../images/checkbox_dotless.gif);
}

#advancedSearchPanel #ColorsFinishes .colors .jScrollPaneDrag { background-image: url(../images/scrollbar-vert_20.jpg); }

#content { min-height:340px; }

#advancedSearchPanel #tblCategoryTree ul a {font-weight: normal;}
#advancedSearchPanel #tblCategoryTree ul.last {background: none;}

#advancedSearchPanel #tblCategoryTree td.last { width: 197px !important; }


#textView input.highlight {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FEF8D2 none repeat scroll 0 0;
border:1px solid #B02931;
}
