 .popup {background: url(../images/bkg-popup-g.jpg) repeat-x;position:relative;}
 .popup-shadow {-moz-box-shadow: 1px 3px 10px #777;	-webkit-box-shadow: 1px 3px 10px #777;box-shadow: 1px 3px 10px #777;	}
 .popup-shadow2 {-moz-box-shadow: 3px 6px 10px 10px #444444;-webkit-box-shadow: 3px 6px 10px 10px #444444;box-shadow: 3px 6px 10px 10px #444444;}
 .popup-shadow3, .popup-shadow2, .popup-shadow {-moz-box-shadow: 1px 3px 3px #d0d0d0;-webkit-box-shadow: 1px 3px 3px #eee;box-shadow: 1px 3px 3px #d0d0d0;}
 
.popup-shadow2, .popup-shadow{ 
  -moz-box-shadow: 10px 10px 20px #222; /* Firefox */
  -webkit-box-shadow: 10px 10px 20px #222; /* Safari and Chrome */


 
}



