/* #header ul#signInLinks li li label{font-size:11px; text-transform:capitalize;} */
#signinPanel{padding:0;}

.signIn {position:absolute; z-index: 1000; right: 40px; }
.signIn #signinContent {position:absolute; z-index:5; background: url(../images/bkg-signin2.jpg) repeat-x 0 0 #a29f9c; width:350px; top:10px; right:-40px;min-height:265px; }
.signIn a.btnClose {display:block; position:absolute; right:-40px; top:-21px; background: url(../images/icons.png) -275px -50px no-repeat; width:40px; height:36px;padding:0!important;z-index:999; }
.signIn p {padding:10px 0; color:#b0252e;}
.signIn h2, .signIn label {color:#252e3c; font-family:Georgia, serif !important; font-size:16px;}
.signIn h2 {font-size:1.333em;}
.signIn label {float:left; font-family:Georgia, serif !important;  font-size:12px; color: #333; }
#divSignIn a.forgotLink {font-size:11px;float:right; color:#666;text-decoration:underline; margin-right:10px;}
.signIn .inputError {background-color:#fef8d2; border: 1px solid #b0252e;}
.signIn p.errorMsg {color:#b0252e; }
.signIn fieldset.signinDetails{padding:40px 40px 0 40px;}
.signIn li, #divSignIn ul {float:none!important;width:100%; overflow:hidden; margin:0!important;}
 #divSignIn ul{ margin:0px; padding:15px 0 0 0; }
.signIn .btnClose span {display:none;}
.signIn fieldset.buttons {padding:0px 47px 40px 40px;}
.signIn fieldset.buttons a {float:right; padding: 0 1em;font-weight:bold;}
#divSignIn .dottedLine {padding:0 1em; border-right: 1px dotted #666;}
#divSignIn a.button{text-decoration:none; text-transform:capitalize; }

#divSignIn input, #divSignIn textarea {background:url("../images/bkg-input.jpg") repeat-x scroll 0 0 #fff;border:1px solid #C3C1C2;font-size:11px;}
#divSignIn input {width:258px;height:25px;line-height:30px; padding:6px 0px 0px 2px;border:1px solid #bfbfbf;margin-bottom:10px;}
a#linkSignIn {padding-left:10px;}
.signIn .button {margin-right:0!important;color:#fff;}
.signIn .btnCancel {text-decoration:underline!important; margin-top: -6px; }
#divSignIn input.highlight {background:#fef8d2;border:1px solid #b02931;}
#pValidationSignInError p, #pValidationSignInError ul {padding:5px 0;}
#pValidationSignInError, #pValidationSignInError li, #pValidationSignInError p {font-size:10px!important;}

#signinContent h2 {font-weight:normal; font-size:16px; font-family:Georgia;}


