.tipsy { padding: 10px; font-size: 11px; background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 8px; background-color: #333333; color: #fff; max-width: 250px; text-align: center; }
.tipsy-inner { /* no more rounded corners-moz-border-radius:3px; -webkit-border-radius:3px; */}
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

.tipsy2 { padding: 10px; font-size: 11px; background-image: url(../images/tipsy.gif); }
.tipsy2-inner { padding: 15px; background-color: #e6e6e6; color: #333; max-width: 250px; text-align: center; }
.tipsy2-inner { /* no more rounded corners-moz-border-radius:3px; -webkit-border-radius:3px; */}
.tipsy2-north { background-position: top center; }
.tipsy2-south { background-position: bottom center; }
.tipsy2-east { background-position: right center; }
.tipsy2-west { background-position: left center; }

