/* ajax loaders */
.ajax-loader-type-16 {
	width: 16px;
	height: 16px;
	background: url(ui-anim_basic_16x16.gif) no-repeat;
}

.ajax-loader-type-wide {
	margin-top: 15px;
	width: 128px;
	height: 15px;
	background: url(ajax-loader-wide.gif) no-repeat;
}