<table width="100%" align="center"><tr><td valign="middle">

  <img alt="{$title}"  title="{$title}" src="../modules/Statistics2/icons/{$icon}" align="center" />

</td><td valign="middle">

<img alt="{$title}" title="{$title}" src="{$chart}" align="center" />
</td></tr></table>