<h3>{$mod->Lang('copy_category')}: {$category.name}</h3>
{$startform}
<div>{$hidden}</div>
<div class="pageoverflow">
  <p class="pagetext">{$mod->Lang('new_category_name')}</p>
  <p class="pageinput">{$inputname}</p>
</div>
<div class="pageoverflow">
  <p class="pagetext">&nbsp;</p>
  <p class="pageinput">{$submit}{$cancel}</p>
</div>
{$endform}