{$formstart}
<div class="information">{$info_dflt_template}</div>

<fieldset>
  <legend>{$legend_summarytemplate}</legend>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_summarytemplate}:</p>
    <p class="pageinput">{$input_summarytemplate}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit_summarytemplate}&nbsp;{$reset_summarytemplate}</p>
  </div>
</fieldset>

<fieldset>
  <legend>{$legend_detailtemplate}</legend>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_detailtemplate}:</p>
    <p class="pageinput">{$input_detailtemplate}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit_detailtemplate}&nbsp;{$reset_detailtemplate}</p>
  </div>
</fieldset>

<fieldset>
  <legend>{$legend_byhierarchytemplate}</legend>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_byhierarchytemplate}:</p>
    <p class="pageinput">{$input_byhierarchytemplate}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit_byhierarchytemplate}&nbsp;{$reset_byhierarchytemplate}</p>
  </div>
</fieldset>

<fieldset>
  <legend>{$legend_categorylisttemplate}</legend>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_categorylisttemplate}:</p>
    <p class="pageinput">{$input_categorylisttemplate}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit_categorylisttemplate}&nbsp;{$reset_categorylisttemplate}</p>
  </div>
</fieldset>

<fieldset>
  <legend>{$legend_searchtemplate}</legend>
  <div class="pageoverflow">
    <p class="pagetext">{$prompt_searchtemplate}:</p>
    <p class="pageinput">{$input_searchtemplate}</p>
  </div>
  <div class="pageoverflow">
    <p class="pagetext">&nbsp;</p>
    <p class="pageinput">{$submit_searchtemplate}&nbsp;{$reset_searchtemplate}</p>
  </div>
</fieldset>

{$formend}