<script type="text/javascript">
    
    $(document).ready(function () {
    {if isset($compid)}
        $(document).on('click', '#editoptions', function () {
            if (!confirm('{$mod->Lang('confirm_editoptions')}'))
                return false;
            window.location = '{module_action_link module=Products action='admin_edit_attribs' prodid=$compid jsfriendly=1}';
            return false;
        });

        $(document).on('click', '#timelines', function () {
            if (!confirm('{$mod->Lang('confirm_editoptions')}'))
                return false;
            window.location = '{module_action_link module=Products action='admin_edit_timelines' prodid=$compid jsfriendly=1}';
            return false;
        });
    {/if}

        if ($.fancybox)
            $('.fancybox').fancybox();
        
        $('span.cdautocomplete > input').autocomplete({
            minLength: 2,
            source: function (request, response) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '{module_action_link module='CompanyDirectory' action='ajax_selcompany' jsfriendly=1 pagelimit=20}&showtemplate=false',
                    data: {
                        addid: 1,
                        term: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });
        setTimeout(function(){
            $('#product_price').blur();
        },100);
        
        $('#product_price').blur(function () {
            $.ajax({
                url: '{module_action_url action='admin_ajax_getcurrency' forajax=1}',
                method: 'POST',
                data: {
                  '{$actionid}price': $('#product_price').val()
                },
                success: function(res) {
                   if (res) {
                        $('.VND').text(res);
                    } else {
                        $('.VND').text('= ? VND');
                    }
            }
            });
        });
        
        $('#product_name').blur(function () {
            $.ajax({
                url: '{module_action_url action='admin_ajax_exists' forajax=1}',
                method: 'POST',
                type: 'JSON',
                data: {
                  '{$actionid}product_name': $('#product_name').val(),
                  'aAction':'product_name'
                },
                success: function(res) {
                    if (res) {
                        $('.exists_product').html(res['msg']);
                    }
                }
            });
        });
        
        $('#sku').blur(function () {
            $.ajax({
                url: '{module_action_url action='admin_ajax_exists' forajax=1}',
                method: 'POST',
                type: 'JSON',
                data: {
                  '{$actionid}sku': $('#sku').val(),
                  'aAction':'sku'
                },
                success: function(res) {
                    if (res) {
                        $('.exists_sku').html(res['msg']);
                        if (res['url']) {
                            window.location = res['url'];
                            return false;
                        }
                    }
                }
            });
        });

    });
</script>

{$langList}

{$startform}
{if isset($compid)}
<h3>{$mod->Lang('edit_product')}&nbsp;({($sku) ? $sku : $compid})</h3>
{else}
<h3>{$mod->Lang('addproduct')}</h3>
{/if}

<div class="pageoverflow">
  <p class="pageinput">{$hidden}
    <input type="submit" name="{$actionid}submit" value="{$mod->Lang('submit')}"/>
    {if $allowedtravel == 1}<input type="submit" id="timelines" value="{$mod->Lang('timelines')}"/>{/if}
    <input type="submit" name="{$actionid}apply" value="{$mod->Lang('apply')}"/>
    <input type="submit" name="{$actionid}cancel" value="{$mod->Lang('cancel')}"/>
    {$seo}
  </p>
  {if $mode == "master" && $sku}
      <br/>
        <a href="../download.php?sku={$sku}_scale_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_scale_1" title="Scale">{admin_icon icon='scale.png' alt=''}</a> - 
	<a href="../download.php?sku={$sku}_main_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24%26rect=0,0,1500,1500%26scl=2" title="Main">{admin_icon icon='main.png' alt=''}</a> - 
	<a href="../download.php?sku={$sku}_more_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_more_1%3F%24%26rect=0,0,870,870%26scl=1" title="More 1">{admin_icon icon='small.png' alt=''}</a> 
	<a href="../download.php?sku={$sku}_more_2&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_more_2%3F%24%26rect=0,0,870,870%26scl=1" title="More 2">{admin_icon icon='small.png' alt=''}</a> 
	<a href="../download.php?sku={$sku}_more_3&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_more_3%3F%24%26rect=0,0,870,870%26scl=1" title="More 3">{admin_icon icon='small.png' alt=''}</a> 
	<a href="../download.php?sku={$sku}_more_4&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_more_4%3F%24%26rect=0,0,870,870%26scl=1" title="More 4">{admin_icon icon='small.png' alt=''}</a> - 
	<a href="../download.php?sku={$sku}_main_1_14&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24%26rect=0,0,2000,2000%26scl=1" title="1/4">{admin_icon icon='main14.jpg' alt=''}</a> 
	<a href="../download.php?sku={$sku}_main_1_24&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24%26rect=2000,0,1000,2000%26scl=1" title="2/4">{admin_icon icon='main24.jpg' alt=''}</a> 
	<a href="../download.php?sku={$sku}_main_1_34&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24%26rect=0,2000,2000,1000%26scl=1" title="3/4">{admin_icon icon='main34.jpg' alt=''}</a> 
	<a href="../download.php?sku={$sku}_main_1_44&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24%26rect=2000,2000,1000,1000%26scl=1" title="4/4">{admin_icon icon='main44.jpg' alt=''}</a> - 
	<a href="../download.php?sku=1_{$sku}_main_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24ProductListList%24" title="1">{admin_icon icon='1.png' alt=''}</a> 
	<a href="../download.php?sku=2_{$sku}_main_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24ProductListGrid%24" title="2">{admin_icon icon='2.png' alt=''}</a> 
	<a href="../download.php?sku=3_{$sku}_main_1&file=http://s7d5.scene7.com/is/image/TheodoreAlexander/{$sku}_main_1%3F%24ProductPage%24" title="3">{admin_icon icon='3.png' alt=''}</a>
        {/if}
</div>

{cge_start_tabs}
{cge_tabheader name='main' label=$mod->Lang('product_info')}
{if $customfieldscount gt 0}{cge_tabheader name='fields' label=$mod->Lang('fields')}{/if}
{cge_tabheader name='advanced' label=$mod->Lang('advanced')}

{cge_tabcontent_start name='main'}
<div class="c_full">
    <div class="grid_7">
        {capture "val"}{$uploads_path}/_products/product_{$compid}/2_{$sku}_main_1.jpg{/capture}
        {assign var="printad" value={$smarty.capture.val}} 
        {if file_exists($printad)}
            <div class="c_full">
                <div class="grid_2 text-right">&nbsp;</div>
                <div class="grid_10">
                    <img src="{$uploads_url}/_products/product_{$compid}/2_{$sku}_main_1.jpg" alt=""/>
                </div>
            </div>
        {/if}

        <div class="c_full">
            <div class="grid_2 text-right">{$mod->Lang('name')}:</div>
            <div class="grid_10">
                <input type="text" id="product_name" name="{$actionid}product_name" value="{$product_name}" size="40" maxlength="255"/>
                <small class="exists_product"></small>
            </div>
        </div>
        <div class="c_full">
            <div class="grid_2 text-right">{$mod->Lang('price')}:</div>
            <div class="grid_10">
                <input type="text" id="product_price" name="{$actionid}price" value="{$price}" size="10" maxlength="12"/> {$currency_symbol} <span class="VND"></span>
            </div>
        </div>
            
            <div class="c_full">
            <div class="grid_2 text-right">{$mod->Lang('price')} (VN):</div>
            <div class="grid_10">
                <input type="text" id="product_price_vi" name="{$actionid}price_vi" value="{$price_vi|default:0}" size="10" maxlength="12"/> 
                <small>(Hiển thị luôn giá bán không cần tính)</small>
            </div>
        </div>

        <div class="c_full">
            <div class="grid_2 text-right">{$detailstext}:</div>
            <div class="grid_10">{$inputdetails}</div>
        </div>
        {if $allowedtravel == 1}
            <br/>
            {* Package Includes *}
            <div class="c_full">
                <div class="grid_2 text-right">{$pack_includes_text}:</div>
                <div class="grid_10">{$pack_includes}</div>
            </div>

            {* Package Excludes *}
            <div class="c_full">
                <div class="grid_2 text-right">{$pack_excludes_text}:</div>
                <div class="grid_10">{$pack_excludes}</div>
            </div>
        {/if}
    </div>

  <div class="grid_5">{* right column *}
      <div class="c_full">
    <p class="grid_2 text-right">{if $mod->GetPreference('skurequired')}*{/if}{$mod->Lang('sku')}:</p>
    <p class="grid_10">
        {if $allow != "addproduct"}
            {assign var="readonly" value="readonly"}
        {/if}
      <input type="text" id="sku" name="{$actionid}sku" value="{$sku}" size="12" maxlength="25" {$readonly|default:''}/>
      <small class="exists_sku"></small>
      <br/>{$mod->Lang('info_sku')}</p>
  </div>
      <div class="c_full">
      <div class="grid_2 text-right">{$taxabletext}:</div>
      <div class="grid_10">{$inputtaxable}</div>
    </div>
    
    {* status field *}
    <div class="c_full">
      <div class="grid_2 text-right">{$statustext}:</div>
      <div class="grid_10">{$inputstatus}</div>
    </div>

    {* the hierarchy stuff *}
    {if count($hierarchy_items)}
      <div class="c_full">
        <p class="grid_2 text-right">{$mod->Lang('hierarchy_position')}:</p>
        <p class="grid_10">
            {if $mode == "editor"}
                {assign var="disabled" value="disabled"}
            {/if}
            <select name="{$actionid}hierarchy" id="hierarchy">
                {html_options options=array_flip($hierarchy_items) selected=$hierarchy_pos}
            </select>
	</p>
      </div>
      <div class="clearb"></div>
    {/if}

    {* categories *}
    {if isset($all_categories)}
      <div class="c_full">
        <div class="grid_2 text-right">{$mod->Lang('categories')}:</div>
        <div class="grid_10">
            {if $mode == "editor"}
                {assign var="disabled" value="disabled"}
            {/if}
            <select name="{$actionid}categories[]" id="categories" multiple="multiple" size="5">
                {html_options options=$all_categories selected=$sel_categories}
            </select>
	</div>
      </div>
    {/if}
  </div>

  <div class="clearb"></div>
</div>

{* display custom fields *}
{if $customfieldscount gt 0}
{cge_tabcontent_start name='fields'}
  {foreach from=$customfields item=customfield}
    <div class="c_full">
      <p class="grid_2 text-right">{if isset($customfield->prompt)}{$customfield->prompt}{else}{$customfield->name}{/if}:</p>
      <p class="grid_10">
        {if isset($customfield->value)}
          {if $customfield->type == 'image' && isset($customfield->image) && isset($customfield->thumbnail)}
            <a href="{$customfield->image}" class="fancybox"><img src="{$customfield->thumbnail}" alt="{$customfield->value}"/></a>
          {elseif $customfield->type != 'textarea' && $customfield->type != 'dimensions' && $customfield->type != 'subscription'}
	     <!--{$mod->Lang('current_value')}:&nbsp;{$customfield->value}<br/-->
          {/if}
          {if isset($customfield->delete)}{$mod->Lang('delete')}&nbsp;{$customfield->delete}<br/>{/if}
        {/if}
        {if isset($customfield->hidden)}{$customfield->hidden}{/if}{$customfield->input_box}
        {if isset($customfield->attribute)}<br/>{$customfield->attribute}{/if}
      </p>
    </div>
  {/foreach}
  <div class="clearb"></div>
{/if}

{cge_tabcontent_start name='advanced'}
<script type="text/javascript">
$(document).ready(function(){
  // variables
  var pid = {$compid|default:0};
  var manual_urlslug = pid;
  var finished_setup = 0;
  var ajax_timeout;
  var ajax_xhr;

  // setup cursor for ajax stuff
  $('form').ajaxStart(function() {
    $('*').css('cursor','progress');
  });

  $('form').ajaxStop(function() {
    $('*').css('cursor','auto');
  });

  function _ajax_getslug() {
     if( typeof ajax_xhr != 'undefined' && ajax_xhr != 0 ) ajax_xhr.abort();
     var $name = $('#product_name');
     var form = $name.closest('form');
     var pname = $name.val();
     ajax_xhr = $.ajax({
        url: '{module_action_url action='admin_ajax_getslug' forajax=1}',
	method: 'POST',
	data: {
	  '{$actionid}pid':  pid,
	  '{$actionid}name': pname,
	  '{$actionid}hier': $('#hierarchy').val(),
	  '{$actionid}cats': $('#categories').val(),
	},
	success: function( res ) {
	   $('#urlslug').val(res);
	   ajax_xhr = 0;
	}
     })
  }

  function ajax_getslug() {
     if( !finished_setup ) return;
     if( manual_urlslug) return;
     if( ajax_timeout != undefined ) clearTimeout(ajax_timeout);
     ajax_timeout = setTimeout(_ajax_getslug,500);
  }

  $('#urlslug').keyup(function(){
     manual_urlslug = 0;
     if( $(this).val() != '' ) manual_urlslug = 1;
  });

  $('#product_name').keyup(function(){
     // ajax call to get a url slug given a template
     ajax_getslug();
  });

  $('#hierarchy,#categories').change(function(){
     // ajax call to get a url slug given a template
     ajax_getslug();
  })

  finished_setup = 1;
})
</script>

  
  <!--div class="c_full">
    <p class="grid_2 text-right">{$mod->Lang('weight')} ({$weightunits}):</p>
    <p class="grid_10">
      <input type="text" name="{$actionid}weight" value="{$weight}" size="8" maxlength="12"/>
      <br/>{$mod->Lang('info_decimal_units')}
    </p>
  </div-->
  <div class="c_full">
    <p class="grid_2 text-right">{$mod->Lang('url_slug')}:</p>
    <p class="grid_10">
      <input type="text" id="urlslug" name="{$actionid}urlslug" value="{$urlslug}" size="40"/>
      <br/>{$mod->Lang('info_url_slug')}
    </p>
  </div>
  <div class="c_full">
    <p class="grid_2 text-right">{$mod->Lang('url_alias')}:</p>
    <p class="grid_10">{$inputalias}<br/>{$mod->Lang('info_url_alias')}</p>
  </div>
  <div class="clearb"></div>
{cge_end_tabs}
<div class="pageoverflow">
  <p class="pageinput">
    <input type="submit" name="{$actionid}submit" value="{$mod->Lang('submit')}"/>
    <input type="submit" name="{$actionid}apply" value="{$mod->Lang('apply')}"/>
    <input type="submit" name="{$actionid}cancel" value="{$mod->Lang('cancel')}"/>
  </p>
</div>
{$endform}
